<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hustbee</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
<div id="header-holder" class="innerpage lighter">
    <nav id="nav" class="navbar navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="images/logo.svg" alt="Hustbee"></a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
                            <ul class="nav navbar-nav navbar-nav-centered">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Hosting Services</a>
                                    <div class="dropdown-menu custom-dropdown-menu">
                                        <div class="dropdown-items-holder">
                                            <div class="items-with-icon">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="webhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server1.svg" alt=""></span>
                                                            <span class="text">Web Hosting</span>
                                                        </a>
                                                        <a href="cloudhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server2.svg" alt=""></span>
                                                            <span class="text">Cloud Hosting</span>
                                                        </a>
                                                        <a href="vpshosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server3.svg" alt=""></span>
                                                            <span class="text">VPS Hosting</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="wordpresshosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server4.svg" alt=""></span>
                                                            <span class="text">Wordpress Hosting</span>
                                                        </a>
                                                        <a href="dedicatedhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server5.svg" alt=""></span>
                                                            <span class="text">Dedicated Hosting</span>
                                                        </a>
                                                        <a href="domains.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server6.svg" alt=""></span>
                                                            <span class="text">Domain Names</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="items">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="#" class="link">Hustbee Features</a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="#" class="link">Website builder</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="domains.html">Domains</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="contact.html">Support</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="about.html">About</a></li>
                                        <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                        <li><a class="dropdown-item" href="privacy.html">Privacy</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right other-navbar">
                                <li class="nav-item">
                                    <a class="nav-link btn-client-area" href="login.html"><img src="images/lock.svg" alt="">Client Area</a>
                                    <div class="chat-info"><i class="hstb hstb-right-arrow"></i>Chat Available</div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-chat" href="#"><i class="hstb hstb-chat"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Contact us / Support</div>
                    <div class="page-subtitle">Search a domain of your choise. Get your website up and running</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-row container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="search-question-holder">
                    <form>
                        <input class="search-input" type="text" placeholder="Search a question"><button class="btn-search"><img src="images/btn-search.svg" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="support-details container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon grey"><i class="hstb hstb-user"></i></div>
                    <div class="details-holder">
                        <div class="title">Client area</div>
                        <div class="details">
                            <a href="#">Login</a>
                            <a href="#">Submit a ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon green"><i class="hstb hstb-speech-bubble"></i></div>
                    <div class="details-holder">
                        <div class="title">Call or Chat</div>
                        <div class="details">
                            <a href="#">Tel: +(973) 17 880038</a>
                            <a href="#">Start chatting now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon blue"><i class="hstb hstb-speech"></i></div>
                    <div class="details-holder">
                        <div class="title">Send e-mail</div>
                        <div class="details">
                            <a href="#">support@hustbee.co</a>
                            <a href="#">admin@hustbee.co</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="support-box">
                    <div class="icon purple"><i class="hstb hstb-placeholder"></i></div>
                    <div class="details-holder">
                        <div class="title">Visit us</div>
                        <div class="details">
                            <a href="#">support@hustbee.co</a>
                            <a href="#">admin@hustbee.co</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="questions container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Common questions about Hustbee & Hosting services.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cards-holder">
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques1">Can I use a prepaid debit card every month for a website of mine?</button>
                        </div>
                        <div id="ques1" class="collapse in">
                            <div class="card-body answer-holder">
                                Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar
                                tempor odio sed, adipiscing dolor. Donec nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
                            </div>
                        </div>
                    </div>
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques2" class="collapsed">I cannot get my package cancelled</button>
                        </div>
                        <div id="ques2" class="collapse">
                            <div class="card-body answer-holder">
                                Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar
                                tempor odio sed, adipiscing dolor. Donec nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
                            </div>
                        </div>
                    </div>
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques3" class="collapsed">How to add excisting domain to my account?</button>
                        </div>
                        <div id="ques3" class="collapse">
                            <div class="card-body answer-holder">
                                Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar
                                tempor odio sed, adipiscing dolor. Donec nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
                            </div>
                        </div>
                    </div>
                    <div class="card question-card">
                        <div class="card-header question-holder">
                            <button type="button" data-toggle="collapse" data-target="#ques4" class="collapsed">Comparision: shared v. reseller v. dedicated</button>
                        </div>
                        <div id="ques4" class="collapse">
                            <div class="card-body answer-holder">
                                Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar
                                tempor odio sed, adipiscing dolor. Donec nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-us container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">or Full out the Contact form to contact us</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form-holder">
                    <form>
                        <div class="form-row">
                            <div class="col-xs-12 col-sm-6">
                                <label for="inputName1">Name</label>
                                <input id="inputName1" type="text" class="form-control" required>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label for="inputEmail1">Email</label>
                                <input id="inputEmail1" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-12">
                                <label for="inputSubject1">Subject</label>
                                <div class="select-holder">
                                    <select id="inputSubject1" class="form-control" required>
                                        <option value="" disabled selected>Select Subject</option>
                                        <option>Support</option>
                                        <option>Sales & Purchasing</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-12">
                                <label for="inputMessage1">Your message</label>
                                <textarea id="inputMessage1" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-12">
                                <div class="submit-holder">
                                    <button type="submit" class="hbtn hbtn-blue">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="address-details">
                    <div class="title">Office Locations</div>
                    <h4>Oslo</h4>
                    <p>Oslo, Norway<br>
                    Road 398, Center, Office 38, floor 3<br>
                    Contact number: 0901</p>

                    <h4>Support</h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos  ducimus 
                    qui blanditiis. praesentium voluptatum deleniti llitia animi.</p>

                    <h4>Customer Service</h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos  ducimus 
                    qui blanditiis. praesentium voluptatum deleniti llitia animi, 
                    inquiries@hustbee.io.co</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="support-links container-fluid">
    <div class="row">
        <div class="col-sm-6 hylink-holder">
            <div class="hylink-box">
                <div class="icon"><img src="images/info.svg" alt=""></div>
                <a href="#" class="link">Let’s talk</a>
                <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ccusantium.</div>
            </div>
        </div>
        <div class="col-sm-6 hylink-holder">
            <div class="hylink-box">
                <div class="icon"><img src="images/chat.svg" alt=""></div>
                <a href="#" class="link">Go to support center</a>
                <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ccusantium.</div>
            </div>
        </div>
    </div>
</div>
<div class="footer container-fluid">
    <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">Press & Media</a></li>
                        <li><a href="blog.html">News & Blog</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Hosting</h4>
                    <ul>
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="wordpresshosting.html">Wordpress Hosting</a></li>
                        <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                        <li><a href="vpshosting.html">VPS Hosting</a></li>
                        <li><a href="dedicatedhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Domains</h4>
                    <ul>
                        <li><a href="domains.html">Register Domains</a></li>
                        <li><a href="domains.html">Transfer Domains</a></li>
                        <li><a href="domains.html">Manage Domains</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="login.html">Client area</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu custom-footer-menu">
                    <h4>Contact us</h4>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <ul>
                        <li>Tel: +(973) 17 880038</li>
                        <li><a href="#">Chatting service</a></li>
                        <li><a href="#">Submit a ticket</a></li>
                        <li><a href="#">Our location</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-footer-menu">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright">© Copyright 2018 Hustbee Hosting LLC, All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>