<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hustbee</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
<div id="header-holder" class="innerpage">
    <nav id="nav" class="navbar navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="images/logo.svg" alt="Hustbee"></a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
                            <ul class="nav navbar-nav navbar-nav-centered">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Hosting Services</a>
                                    <div class="dropdown-menu custom-dropdown-menu">
                                        <div class="dropdown-items-holder">
                                            <div class="items-with-icon">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="webhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server1.svg" alt=""></span>
                                                            <span class="text">Web Hosting</span>
                                                        </a>
                                                        <a href="cloudhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server2.svg" alt=""></span>
                                                            <span class="text">Cloud Hosting</span>
                                                        </a>
                                                        <a href="vpshosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server3.svg" alt=""></span>
                                                            <span class="text">VPS Hosting</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="wordpresshosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server4.svg" alt=""></span>
                                                            <span class="text">Wordpress Hosting</span>
                                                        </a>
                                                        <a href="dedicatedhosting.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server5.svg" alt=""></span>
                                                            <span class="text">Dedicated Hosting</span>
                                                        </a>
                                                        <a href="domains.html" class="link-with-icon">
                                                            <span class="icon"><img src="images/server6.svg" alt=""></span>
                                                            <span class="text">Domain Names</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="items">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="#" class="link">Hustbee Features</a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <a href="#" class="link">Website builder</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="domains.html">Domains</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Support</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="about.html">About</a></li>
                                        <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                        <li><a class="dropdown-item" href="privacy.html">Privacy</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right other-navbar">
                                <li class="nav-item">
                                    <a class="nav-link btn-client-area" href="login.html"><img src="images/lock.svg" alt="">Client Area</a>
                                    <div class="chat-info"><i class="hstb hstb-right-arrow"></i>Chat Available</div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-chat" href="#"><i class="hstb hstb-chat"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Blog</div>
                    <div class="page-subtitle">Lorem ipsum dolor sit amet</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-box">
                    <div class="post-photo">
                        <img src="images/post-photo1.jpg" alt="">
                    </div>
                    <div class="post-title">Lorem ipsum dolor sit amet</div>
                    <div class="post-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tortor eros, bibendum nec mauris id, mattis vulputate enim. Fusce ut urna lectus. Vestibulum posuere tristique neque, eu pellentesque velit luctus a. Ut convallis, ex at congue ultricies, augue felis pulvinar neque, ut faucibus nunc est sit amet ex. Duis ac nisi maximus, ornare eros eget, bibendum neque. Suspendisse laoreet mauris in enim mattis, nec tempor elit consequat. Mauris eu dictum est. Duis eget facilisis diam. Nulla sodales at lectus ut fermentum. Aliquam faucibus est quis est vulputate, in efficitur nulla pretium. Donec facilisis mi sit amet purus fringilla lobortis non sit amet ex. Quisque aliquet a libero ut aliquam. Sed lobortis sollicitudin tincidunt. Sed nec commodo nisl. Sed lobortis finibus ornare. Nulla nibh odio, sodales hendrerit ligula in, tincidunt tristique augue.</p>

                    <p>Duis accumsan enim orci, in feugiat neque egestas gravida. Ut eu nunc sollicitudin diam blandit hendrerit ut ac augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin, tortor id mollis cursus, enim quam tincidunt mauris, non rutrum quam ex eget sapien. Morbi rutrum ultrices nunc, sed vehicula sem mattis non. Quisque vel elementum magna, eget molestie tellus. Duis commodo orci felis, vel iaculis risus scelerisque non. Cras non urna erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean tristique commodo egestas. Aliquam hendrerit ipsum metus, quis varius augue ullamcorper in. Donec et faucibus dui.</p>
                            
                    <p>Suspendisse eu convallis felis. Etiam laoreet ullamcorper molestie. Nunc imperdiet nec tellus rutrum luctus. Nunc risus neque, malesuada sed luctus pulvinar, ullamcorper sed risus. Sed libero erat, vestibulum eget facilisis quis, vulputate vel diam. Donec sed turpis ac lectus euismod euismod. Duis lacinia massa eget viverra egestas. Fusce euismod nisi ac interdum commodo. Vivamus hendrerit nunc nec massa ornare sollicitudin. In porttitor tortor nec orci vulputate pulvinar. Maecenas eget tincidunt leo. Morbi volutpat nec turpis nec viverra. Vestibulum vel sollicitudin nibh. Suspendisse consectetur risus a tortor vehicula, vel luctus mauris dignissim. Integer purus dolor, dictum ut nulla non, blandit tempus diam.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer container-fluid">
    <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">Press & Media</a></li>
                        <li><a href="blog.html">News & Blog</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Hosting</h4>
                    <ul>
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="wordpresshosting.html">Wordpress Hosting</a></li>
                        <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                        <li><a href="vpshosting.html">VPS Hosting</a></li>
                        <li><a href="dedicatedhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Domains</h4>
                    <ul>
                        <li><a href="domains.html">Register Domains</a></li>
                        <li><a href="domains.html">Transfer Domains</a></li>
                        <li><a href="domains.html">Manage Domains</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="login.html">Client area</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu custom-footer-menu">
                    <h4>Contact us</h4>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <ul>
                        <li>Tel: +(973) 17 880038</li>
                        <li><a href="#">Chatting service</a></li>
                        <li><a href="#">Submit a ticket</a></li>
                        <li><a href="#">Our location</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-footer-menu">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright">© Copyright 2018 Hustbee Hosting LLC, All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>