body{ background:url(../img/ci_line.gif) repeat-x top center fixed; height:6px; }

#documenter_content{ background-color:#F3F3F3; margin-top:20px; }

#documenter_content p.warning, #documenter_content p.info{ box-shadow:0px 0px 8px rgba(0,0,0,0.1); -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.1); -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.1); border:1px solid #D3D6DB; } #documenter_content p.warning{ background-color:#ffd; } #documenter_content p.info{ background-color::#dff; } p.c_1{ background-color:#069; padding:20px; color:#fff; font-size:48px; } p.c_2{ background-color:#960; margin:20px; font-size:28px; text-align:right; color:#CCC; padding-right:20px; } p.c_3{ width:200px; border:3px solid #090; text-align:center; background:#990; color:#FFF; } p.c_4{ text-align:center; text-shadow: 0 1px 1px rgba(0,0,0,.3); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); color: #fef4e9; font-size:18px; border: solid 1px #4093AE; background: #4093AE; background: -webkit-gradient(linear, left top, left bottom, from(#4093AE), to(#367C94)); background: -moz-linear-gradient(top, #4093AE, #367C94); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4093AE', endColorstr='#367C94'); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4093AE', endColorstr='#367C94'); } p.c_5{ text-decoration:blink; } p.c_5:after{ content:" Don't use text-decoration:blink in your docs! (added with :after pseudo class)"; } p.c_6{ } p.c_7{ } p.c_8{ } p.c_9{ }


html{background-color:#EEEEEE;color:#383838;}
		::-moz-selection{background:#333636;color:#00DFFC;}
		::selection{background:#333636;color:#00DFFC;}
		#documenter_sidebar #documenter_logo{background-image:url(../img/logo.png);}
		a{color:#ecae1a;}
		.btn {
			border-radius:3px;
		}
		.btn-primary {
			  background-image: -moz-linear-gradient(top, #008C9E, #006673);
			  background-image: -ms-linear-gradient(top, #008C9E, #006673);
			  background-image: -webkit-gradient(linear, 0 0, 0 008C9E%, from(#343838), to(#006673));
			  background-image: -webkit-linear-gradient(top, #008C9E, #006673);
			  background-image: -o-linear-gradient(top, #008C9E, #006673);
			  background-image: linear-gradient(top, #008C9E, #006673);
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008C9E', endColorstr='#006673', GradientType=0);
			  border-color: #006673 #006673 #bfbfbf;
			  color:#FFFFFF;
		}
		.btn-primary:hover,
		.btn-primary:active,
		.btn-primary.active,
		.btn-primary.disabled,
		.btn-primary[disabled] {
		  border-color: #008C9E #008C9E #bfbfbf;
		  background-color: #006673;
		}
		hr{border-top:1px solid #D4D4D4;border-bottom:1px solid #FFFFFF;}
		#documenter_sidebar, #documenter_sidebar ul a{background-color:#343838;color:#FFFFFF;http://static.revaxarts-themes.com/noise.gif}
		#documenter_sidebar ul a{-webkit-text-shadow:1px 1px 0px #494F4F;-moz-text-shadow:1px 1px 0px #494F4F;text-shadow:1px 1px 0px #494F4F;}
		#documenter_sidebar ul{border-top:1px solid #212424;}
		#documenter_sidebar ul a{border-top:1px solid #494F4F;border-bottom:1px solid #212424;color:#FFFFFF;}
		#documenter_sidebar ul a:hover{background:#333636;color:#00DFFC;border-top:1px solid #333636;}
		#documenter_sidebar ul a.current{background:#333636;color:#dd4322;border-top:1px solid #333636;}
		#documenter_copyright{display:block !important;visibility:visible !important;}
		
#item-image{
	display: block;
    margin: 0 auto;
    text-align: center;
    width: auto;
}

#documenter_cover{
	position:relative;
	height:500px;
	padding-top:30px !important;
	margin-bottom:30px;
}

#documenter_version{
	font-weight: bold;
    text-align: center;
}

.empty_space{
	padding-top:30px;
}

img{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}