#order-boxes {
    margin: 0;
    padding: 0 0 40px 0;
}

.header-lined-order h1 {font-size:22px; font-weight:700; color:#fff; margin:0 0 20px; padding:15px 0; background:#9A9DAC; letter-spacing: -.07; text-transform: uppercase; position: relative; text-align: center; border:0!important;}
.header-lined-order h1:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(222, 98, 98, 0); border-top-color: #9A9DAC; border-width: 10px; margin-left: -10px; }

.spacing-5 {padding-top:5px;}

#order-boxes .header-lined, #order-boxes .header-lined h2 { margin:0;}

#order-boxes .line-padded {
    margin-top: 15px;
    margin-bottom: 15px;
}

#order-boxes .form-inline-always .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#order-boxes .fields-container {
    border: 0;
}

#order-boxes .fields-container .field-row {
    padding: 10px 8px;
    margin-bottom:8px;
     width:100%;
}

#order-boxes .fields-container .field-row:nth-child(odd) {
    background-color: #F0F1F5;
    color: #5a5a5a;
    border-radius:5px;
}

#order-boxes .fields-container .field-row:nth-child(even) {
    background-color: #F0F1F5;
    color: #5a5a5a;
    border-radius:5px;
}

#order-boxes .product-radio {
    padding-left: 40px;
}
#order-boxes select, #order-boxes input[type="text"], input[type="number"] {
    height:37px;
    font-size:15px;
    line-height:37px;
}
#order-boxes .product-radio input[type=radio] {
    margin-left: -30px;
}


#order-boxes .large-text {
    font-size: 1.4em;
}

#order-boxes table.styled {
    width: 100%;
}

#order-boxes table.styled tr th {
    background-color: #6E6E6E;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#order-boxes table.styled tr td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
}

#order-boxes table.styled tr td.leftcol {
    padding: 5px 15px;
    width: 30%;
}

#order-boxes table.styled tr.carttableconfig td {
    background-color: #efefef;
    font-size: 0.8em;
    padding: 2px;
}

#order-boxes table.styled tr.carttablesummary td {
    background-color: #E8F0F9;
    color: #222222;
    height: 20px;
    font-size: 1.0em;
    font-weight: bold;
}

#order-boxes table.styled tr.carttablesummary td.left {
    padding: 5px 15px;
    text-align: right;
}

#order-boxes .textgreen {
    color: #779500;
}

#order-boxes .textred {
    color: #cc0000;
}

#order-boxes .secure-warning {
    margin: 20px 0 20px 0;
    padding: 7px;
    border-top: 4px solid #EBE8CD;
    border-bottom: 4px solid #EBE8CD;
    background-color: #F1EFDC;
    font-size: 0.9em;
    text-align: center;
    color: #000;
}
#order-boxes button[type="submit"] {width:auto; height:auto; font-size:15px; float:none!important; margin:0 auto!important; display: table!important; text-align: center}


@media only screen and (max-width: 659px) {
a.btn {width:100%; margin-bottom:5px;}
#order-boxes button[type="submit"] {font-size:15px; width:100%; margin-bottom:5px;}
}