/*BACKGROUND*/
.btns-fixed ul li:hover,
.box-services-active li .btn-link, .btn-link,
.resalt-zone,
.list-features-plus ul.left li::before,
.list-features-plus ul.right li::after,
.search-domain .searchrev input[type="submit"],
#theme-options .openclose:before,
.searchrev input[type="submit"],
.info-highlighted .text-big i,
.text-list ul li::before,
.form-contact input[type=submit]{ background-color: #e67200; }

/*COLOR*/
.social-big-zone a:hover i, .link-color,
.quote-company span,
.star-style-pricing:hover .star-discount,
.about-short-text h2 a,
#theme-options .layout-style li.active, #theme-options .layout-style li.active a,
.info-highlighted .text-big h2,
.btn-link:hover,
.box-services-active li i,
.about-short-text a,
.social li:hover a i,
.services i,
.testimonials a:hover,
.item-features h4 i{ color:#e67200; }

/*BORDER*/
.about-short-text h2, .btn-link{ border-color: rgba(230,114,0,0.8); }

/*BACKGROUND OPACITY*/
.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme,
.searchrev input[type="submit"]{ background-color: rgba(230,114,0,0.8); }

.btn-link-border:hover,
.star-style-pricing:hover .btn-link-border{ border-color: #e67200; color: #e67200; }