/*    By Brandio    */
section#header {
    background-color: #2f2f31;
}
@media (max-width: 767px){
    .navbar-main .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-main .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-main .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #aaa;
    }
}
.navbar-main {
    background-color: #404042;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    background-color: transparent;
}
ul.top-nav>li.primary-action>a.btn {
    background-color: #4a4a4c;
}
ul.top-nav>li.primary-action>a.btn:hover,
ul.top-nav>li.primary-action>a.btn:focus {
    background-color: #424243;
}
ul.top-nav>li.primary-action {
    border-left: solid 1px #262627;
}
ul.top-nav>li>a {
    color: #ffffff;
}
ul.top-nav>li>a:hover,
ul.top-nav>li>a:focus {
    color: #ffffff;
    opacity: 0.7;
}
.navbar-main .navbar-toggle:focus .icon-bar, .navbar-main .navbar-toggle:hover .icon-bar{
    background-color: #ffffff;
    opacity: 0.7;
}

.other-links a {
    color: #ffffff;
}
.other-links a:hover {
    color: #e4e4e4;
}
.account-menu li a.dropdown-toggle {
    color: #ffffff;
}
.account-menu ul.dropdown-menu {
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176) !important;
}
.account-menu li a.dropdown-toggle:focus {
    color: #E4E4E4;
}
.dropdown-menu>li>a:focus, .navbar-main .dropdown-menu>li>a:hover {
    color: #000;
    background-color: #dedede;
}
.fullpage-menu .menu-holder ul li.open a.dropdown-toggle{
    color: #9e9b9b;
}
.fullpage-menu .menu-holder ul li .dropdown-menu{
    background-color: #464646;
}
.fullpage-menu .menu-holder ul li .dropdown-menu li a:hover,
.fullpage-menu .menu-holder ul li .dropdown-menu li a:focus{
    background-color: #5d5b5b;
}
.logo-link {
    color: #ffffff !important;
}
#top-content{
    color: #fff;
}
#top-content h2 {
    color: #ffffff;
}
#top-content .domain-check-input {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}
.check-button {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: rgba(255,255,255,0.0);
}
.check-button:hover {
    background-color: rgba(255,255,255,0.1);
}
a {
    color: #707479;
}
a:focus, a:hover {
    color: #9da4ac;
}
.alert-danger {
    color: #ff5451;
    background-color: #f7ecec;
}
.btn-link{
    color: #abb4bc;
}
.btn-link:hover,.btn-link:focus{
    color: #8e97a0;
}
section#secheader {
    background: rgba(0, 0, 0, 0.29);
}
section#secheader a{
    color: #ffffff;
}
section#secheader a:hover,
section#secheader a:focus{
    opacity: 0.7;
}
#main-body-holder{
    background-color: #fcfeff;
}
body.fullpage > p{
    background-color: #ffffff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: #323232;
}
@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 25px 5px 25px;
    }
}
.btn-default{
    color: #ffffff;
    background-color: #323232;
}
.btn-primary{
    color: #ffffff;
    background-color: #9d9d9d;
}
.btn-primary:hover,.btn-primary:focus{
    color: #ffffff;
    background-color: #888888;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #686869;
    border-color: #686869;
}
.btn-warning {
    color: #fff;
    background-color: #9d9d9d;
}
.btn-warning:hover,.btn-warning:focus{
    color: #ffffff;
    background-color: #888888;
}
.panel-sidebar{
    border-color: #dbdbdc;
}
.panel-sidebar > .panel-heading{
    background-color: #323232;
    color:#ffffff;
    border-color: #dbdbdc;
}
.panel-sidebar .panel-title {
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
}
.panel-sidebar .panel-title .fa{
    color: #ffffff;
}
.panel-sidebar > .panel-heading h2{
    color: #ffffff;
}
div[class*="panel-accent"] > .panel-heading .panel-title{
    color: #828588;
}
.list-group-item{
    border-color: #dbdbdc;
    color: #898f92 !important;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
    color: #626263 !important;
    background-color: #f9fdff;
}
.panel-sidebar a.list-group-item.active, .panel-sidebar a.list-group-item.active:focus, .panel-sidebar a.list-group-item.active:hover{
    background-color: #eaeef2;
    border-color: #dbdbdc;
}
div.header-lined h1{
    color: #575b5f;
}
div.header-lined small{
    color: #52585d;
}
.breadcrumb{
    background-color: #f3f3f3;
}

.h2, h2 {
    color: #737980;
}

blockquote {
    border-left: 0px solid #eee;
    color: #6b7177;
}
label{
    color: #5d5f61;
}
.label-default{
    background-color: #9d9d9d;
}
.label-warning{
    background-color: #9d9d9d;
}
.label-warning[href]:focus, .label-warning[href]:hover{
    background-color: #a8a8a8;
}
.main-content p{
    color: #606161;
}
.form-control{
    border: 1px solid #b4b5b5;
    color: #8f9293;
}
.form-control:hover,.form-control:focus{
    border: 1px solid #323232;
    color: #323232;
}

#order-standard_cart .view-cart-items-header{
    background-color: #c3c6ca !important;
}
#order-standard_cart .view-cart-items{
    border-color: #acadaf !important;
}

#order-standard_cart .domain-selection-options .option{
    color: #8da3b9 !important;
    background-color: #ffffff !important;
    border:1px solid #c6ddf8;
}
#order-standard_cart .domain-selection-options .option-selected{
    background-color: #eaeef2 !important;
    border-color: #c6ddf8 !important;
    border:1px solid #c6ddf8;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color: #d2d2d2;
    color: #878a8c;
    background-color: #fff !important;
}
#order-standard_cart .view-cart-tabs .tab-content{
    background-color: #fff !important;
    color: #8c98a5 !important;
    
}
.nav-tabs{
    border-bottom:1px solid #d2d2d2 !important;
}
#applyPromo button[name="validatepromo"]{
    background-color: #dee3e8;
    color: #6d7073 !important;
}
#order-standard_cart .field, #order-standard_cart .form-control{
    border: 1px solid #dbdbdc !important;
    color: #9a9ea2 !important;
}

#order-standard_cart .order-summary{
    background-color: #323232 !important;
    border:1px solid #323232 !important;
}
#order-standard_cart .summary-container{
    background-color: #ffffff !important;
    color: #898f92 !important;
}
#order-standard_cart .order-summary .subtotal{
    border-bottom:1px solid #dbdbdc !important;
}
#order-standard_cart .empty-cart .btn{
    background-color: #323232 !important;
}
#order-standard_cart .view-cart-items .item span {
    color: #828e98;
}
#order-standard_cart .view-cart-items .item-title {
    color: #323232 !important;
}
#order-standard_cart .product-info ul li{
    color: #849096;
}
#order-standard_cart .btn-remove-from-cart {
    color: #323232 !important;
}
#order-standard_cart .btn-remove-from-cart:hover,#order-standard_cart .btn-remove-from-cart:focus {
    color: #323232 !important;
}
.btn-success {
    color: #fff;
    background-color: #9d9d9d;
}
.btn-success:hover,.btn-success:focus {
    color: #fff;
    background-color: #9d9d9d;
}
#default-captcha-domainchecker p {
    color: #737373;
}
.domainchecker-homepage-captcha #default-captcha-domainchecker p {
    color: #ffffff;
}
.h3, h3{
    color: #626567;
}
.alert-info {
    color: #286093;
    background-color: #d0e2f2;
    border-color: #cbdeef;
}
.popover{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
}
.modal-content{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
}
.modal-content .modal-body {
    color: #90999f;
}
.modal-content .modal-title{
    color: #0397ff;
}
.modal-content .modal-title .fa{
    color: #ed1f1f;
}
.home-kb-search .form-control {
    background-color: #f7f7f7;
    color: #323232;
    border-bottom: 2px solid #1e67d7;
}
.home-kb-search i {
    color: #323232;
}
.tiles .tile .tile-content{
    background-color: #f8f8f8;
}
/**
 * -------------------------
 * Panel Accents
 * -------------------------
 */

.panel.panel-accent-gold {
    border-top: 3px solid #f0ad4e;
}
.panel.panel-accent-green {
    border-top: 3px solid #9ce337;
}
.panel.panel-accent-red {
    border-top: 3px solid #d9534f;
}
.panel.panel-accent-blue {
    border-top: 3px solid #1e67d7;
}
.panel.panel-accent-orange {
    border-top: 3px solid #f39c12;
}
.panel.panel-accent-pink {
    border-top: 3px solid #e875c6;
}
.panel.panel-accent-purple {
    border-top: 3px solid #7774e7;
}
.panel.panel-accent-lime {
    border-top: 3px solid #8cbf26;
}
.panel.panel-accent-magenta {
    border-top: 3px solid #ff0097;
}
.panel.panel-accent-teal {
    border-top: 3px solid #00aba9;
}
.panel.panel-accent-turquoise {
    border-top: 3px solid #1abc9c;
}
.panel.panel-accent-emerald {
    border-top: 3px solid #2ecc71;
}
.panel.panel-accent-amethyst {
    border-top: 3px solid #9b59b6;
}
.panel.panel-accent-wet-asphalt {
    border-top: 3px solid #34495e;
}
.panel.panel-accent-midnight-blue {
    border-top: 3px solid #2c3e50;
}
.panel.panel-accent-sun-flower {
    border-top: 3px solid #f1c40f;
}
.panel.panel-accent-pomegranate {
    border-top: 3px solid #c0392b;
}
.panel.panel-accent-silver {
    border-top: 3px solid #bdc3c7;
}
.panel.panel-accent-asbestos {
    border-top: 3px solid #7f8c8d;
}

/**
 * -------------------------
 * Background Colors
 * -------------------------
 */

.bg-color-gold {
    background-color: #f0ad4e;
}
.bg-color-green {
    background-color: #9ce337;
}
.bg-color-red {
    background-color: #d9534f;
}
.bg-color-blue {
    background-color: #1e67d7;
}
.bg-color-orange {
    background-color: #f39c12;
}
.bg-color-pink {
    background-color: #e875c6;
}
.bg-color-purple {
    background-color: #7774e7;
}
.bg-color-lime {
    background-color: #8cbf26;
}
.bg-color-magenta {
    background-color: #ff0097;
}
.bg-color-teal {
    background-color: #00aba9;
}
.bg-color-turquoise {
    background-color: #1abc9c;
}
.bg-color-emerald {
    background-color: #2ecc71;
}
.bg-color-amethyst {
    background-color: #9b59b6;
}
.bg-color-wet-asphalt {
    background-color: #34495e;
}
.bg-color-midnight-blue {
    background-color: #2c3e50;
}
.bg-color-sun-flower {
    background-color: #f1c40f;
}
.bg-color-pomegranate {
    background-color: #c0392b;
}
.bg-color-silver {
    background-color: #bdc3c7;
}
.bg-color-asbestos {
    background-color: #7f8c8d;
}

#top-nav a.quick-nav {
    color: #ffffff;
    opacity: 0.9;
}
#default-captcha-domainchecker {
    color: #075b7a;
}

#default-captcha-domainchecker #inputCaptcha {
    background-color: #ffffff;
    color: #2f2f2f;
}

#order-modern h1{
    color: #c2cad2;
}

#order-modern table.cart th, #order-modern table.datatable th a, #order-modern table.datatable th a:visited {
    color: #ffffff;
}

#order-modern table.cart th{
    background-color: #323232 !important;
    background-color: #b0bfcc !important;
    border-color: #c9dff3;
}
#order-modern table.cart td {
    background-color: #FFF;
    border-bottom: 0px solid #EBEBEB !important;
}
#order-modern table.cart tr.subtotal td {
    border-bottom: 0px solid #EBEBEB !important;
    background-color: #f3f7fc !important;
    color: #4f5762 !important;
}
#order-modern table.cart tr.total td {
    background-color: #0397ff !important;
    color: #ffffff !important;
}
#order-modern .cartwarningbox {
    background-color: #f3f7fc !important;
    color: #4f5762 !important;
}
.domain-checker-container {
    background-color: #e2e2e2;
}
.domain-promo-box i{
    color: #646465;
}
.dataTables_wrapper .dataTables_info {
    background-color: #646667;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
}
#popup-backdrop {
    background-color: #ececec;
}
#order-hostbox_cart h3{
    font-weight: inherit !important;
    color: #4e555a !important;
}
#order-hostbox_cart .txt-title h3{
    color: #4a5761;
}
#order-hostbox_cart .txt-title h5{
    color: #4a5761;
}
#order-hostbox_cart .price-table-container .price-table {
    background: #ededed !important;
}
#order-hostbox_cart .price-table-container .price-table ul li[class^="prod"] {
    color: #5a5a5a !important;
    border-bottom: 0px solid #c2c2c2 !important;
}

.admin-masquerade-notice {
    background-color: rgba(0, 0, 0, 0.29);
    color: #ffffff;
}
.admin-masquerade-notice a{
    color: #ffffff !important;
}
.admin-masquerade-notice a:hover,
.admin-masquerade-notice a:focus{
    opacity: 0.7;
}
.admin-message {
    background-color: #39383e;
    color: #ffffff;
}
.admin-message .admin-mas-notice a {
    color: #a8a8a9;
}
/* Other screens styles modifications */
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}