<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Antler</title>
        <meta name="description" content="">
        <link href="img/favicon.ico" rel="shortcut icon">
        <!-- Fonts -->
        <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
        <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
        <link href="fonts/opensans/opensans.css" rel="stylesheet">
        <!-- CSS styles -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- Custom color styles -->
        <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
        <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
        <link href="css/colors/green.css" rel="stylesheet" title="green"/>
    </head>
    <body>
    <!-- ***** LOADING PAGE ****** -->
    <div id="spinner-area">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
            <div class="spinner-txt">Antler...</div>
        </div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ****** -->
    <header id="header"> </header>
    <!-- ***** 404 ****** -->
    <section class="sec-normal notfound pt-150">
        <div class="total-grad-pink-blue-intense"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <img class="svg" src="patterns/notfound.svg" alt="provisioning">
                </div>
            </div>
            <div class="col-md-12 text-center pt-5">
                <p class=" c-grey">Sorry, it appears that the page you’ve requested cannot be found.<br> Please press the button below to go home page or <a href="contact" class="golink">contact us</a></p>
                <a href="index.html" class="btn btn-default-grad-purple-fill mt-3">Go Home Page</a>
            </div>
        </div>
    </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ****** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>