<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <div class="top-header item8 overlay-image-grad">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">About Us</h1>
            <div class="included">
              <h4>Why Choose Antler?</h4>
              <ul>
                <li><i class="fas fa-check-circle"></i> Best hosting provider</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Award cloud infrastructure</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Awesome control panels</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Reference Domain solutions</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Support Premium 24/7/365</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-uping mb-80">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left">
            <div class="top-content pb-5">
              <img class="svg mb-3" src="fonts/svg/woman.svg" height="65" alt="">
              <div class="title ">19.322+ Clients</div>
              <div class="fromer pt-3">More than 19,322+ active customers trust to us daily about 52.120 services. </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left">
            <div class="plans badge feat bg-grey">top</div>
            <div class="top-content pb-5">
              <img class="svg mb-3" src="fonts/svg/rack.svg" height="65" alt="">
              <div class="title">9.510 Infrastructure</div>
              <div class="fromer pt-3">Our 7 Datacenters with more than 2750 servers have high availability redundant systems. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** TEAM ***** -->
  <section class="sec-normal sec-bg2">
    <div class="team">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Meet Our Management Team</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/supportman.svg" alt="team">
                <h3 class="heading">John T. Erikson</h3>
                <div class="subheading">Support, Helpdesk</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/commercialman.svg" alt="team">
                <h3 class="heading">Walter T. Adams</h3>
                <div class="subheading">Commercial Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <div class="plans badge feat bg-pink">online</div>
                <img class="svg" src="patterns/salesman.svg" alt="team">
                <h3 class="heading">Verna B. Ahmed</h3>
                <div class="subheading">Sales Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** MAP ***** -->
  <section class="services maping sec-normal sec-grad-grey-to-grey">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading text-white">Our Global Datacenters Geographically distant</h2>
            <p class="section-subheading"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
          </div>
          <div class="col-md-12 pt-5">
            <img src="patterns/map.svg" alt="Load Balancing">
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters montreal" data-original-title="Montreal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters newyork" data-original-title="New York" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters portugal" data-original-title="Portugal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters london" data-original-title="London" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters moskow" data-original-title="Moskow" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters hongkong" data-original-title="Hong Kong" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters singapure" data-original-title="Singapure" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CASE STUDY ***** -->
  <section class="casestudy sec-bg1">
    <div class="container">
      <div class="sec-main sec-up bg-pink mb-0">
        <img src="img/casestudy.png" alt="Case Study">
        <div class="plans badge feat bg-purple">case study</div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="slider-container slider-filter">
              <div class="slider-wrap">
                <div class="swiper-container main-slider swiper-0-slider initialized" data-autoplay="4000" data-touch="1" data-mouse="0" data-slides-per-view="responsive" data-loop="1" data-speed="1200" data-mode="horizontal" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" id="0-slider">
                  <div class="swiper-wrapper" style="width: 2820px; transform: translate3d(-2115px, 0px, 0px); transition-duration: 1.2s; height: 230px;"><div xmlns="http://www.w3.org/1999/xhtml" class="swiper-slide swiper-slide-duplicate" style="width: 705px; height: 230px;">
                    <h3 class="author">Growtop Company</h3>
                    <div class="content-info">
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore.</p>
                      <em> Matt Radford - President &amp; Managing Director</em>
                    </div>
                    <a href="casestudy/casestudy-growtop.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                  </div>
                  <div class="swiper-slide" style="width: 705px; height: 230px;">
                    <h3 class="author">Everth Group</h3>
                    <div class="content-info">
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                      <em> Michael Jones - Executive Director</em>
                    </div>
                    <a href="casestudy/casestudy-everthgroup.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                  </div>
                  <div class="swiper-slide" style="width: 705px; height: 230px;">
                    <h3 class="author">Growtop Company</h3>
                    <div class="content-info">
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore.</p>
                      <em> Matt Radford - President &amp; Managing Director</em>
                    </div>
                    <a href="casestudy/casestudy-growtop.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                  </div>
                  <div xmlns="http://www.w3.org/1999/xhtml" class="swiper-slide swiper-slide-duplicate swiper-slide-visible swiper-slide-active" style="width: 705px; height: 230px;">
                    <h3 class="author">Everth Group</h3>
                    <div class="content-info">
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                      <em> Michael Jones - Executive Director</em>
                    </div>
                    <a href="casestudy/casestudy-everthgroup.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                  </div></div>
                  <div class="pagination vertical-mode pagination-index pagination-0-slider"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** VISIT ***** -->
  <section class="getready sec-bg1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="column-support-txt">
            <h2 class="section-heading">You intend to visit our facilities?</h2>
            <p class="section-subheading">Please schedule an date with our sales manager if you're interested in visit us.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="btn-floats">
            <a href="contact.html" class="btn btn-default-pink-fill">Contact Sales Manager</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ****** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/idangerous.swiper.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>