<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header item7 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Cart</h1>
            <h3 class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** KNOWLEDGEBASE ***** -->
  <section class="config cd-main-content pb-80 blog sec-bg2 motpath">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 pt-80">
          <div class="wrap-blog">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="wrapper targetDiv sec-grad-white-to-green">
                  <h3>Review & Checkout</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <div class="row">
                    <div class="col-md-12 pt-4">
                      <div class="table-responsive-lg">
                        <table class="table compare">
                          <thead>
                            <tr>
                              <td>Product/Options</td>
                              <td>Qty</td>
                              <td>Price/Cycle</td>
                              <td>Edit</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><div class="badge bg-pink">Save 15%</div> Business VPS Linux</td>
                              <td><input type="number" value="1" class="form-control"></td>
                              <td><span class="ltgh">$12.30</span>  <b class="c-green">$9.99</b></td>
                              <td>
                                <a href="configurator" class="mr-2 c-pink" data-toggle="tooltip" data-placement="top" data-original-title="Edit your product"><i class="fas fa-cog"></i></a>
                                <a href="" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt c-grey"></i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>yourperfectdomain.com</td>
                              <td><input type="number" value="1" class="form-control"></td>
                              <td><span class="">$16.00</span></td>
                              <td>
                                <a href="configurator" class="mr-2 c-pink" data-toggle="tooltip" data-placement="top" data-original-title="Edit your product"><i class="fas fa-cog"></i></a>
                                <a href="" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt c-grey"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block">
                        <h4>Payment Method</h4>
                        <div class="radio-group radios-filter cd-filter-content list">
                          <div class="table-responsive-sm">
                            <table class="table compare min">
                              <tbody>
                                <tr>
                                  <td><div class="badge bg-pink mr-1">Select</div> Payments Methods</td>
                                  <td>
                                    <div class="cd-select">
                                      <select class="select-filter">
                                        <option value="all">Select Payment Method</option>
                                        <option value=".data1">Pay by Bank Transfer</option>
                                        <option value=".data2">Pay with Paypal</option>
                                        <option value=".data3">Pay by Check</option>
                                      </select>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td><div class="badge bg-grey mr-1">Promo</div> Promocode</td>
                                  <td>
                                    <input type="text" name="promocode" placeholder="Put your promocode here" required>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="badge bg-grey mr-1">Legal</div>
                                    <a class="golink" href="legal" target="_blank">Terms (GDPR)</a>
                                  </td>
                                  <td class="pt-3">
                                    <label class="label-form float-right mb-0"></label>
                                    <div class="mt-3">
                                      <input class="filter" value="" type="checkbox" id="checkbox1">
                                      <label class="checkbox-label" for="checkbox1">Agree with terms and conditions?</label>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar -->
        <div class="col-md-12 col-lg-4">
          <aside id="sidebar" class="mt-80 sidebar sec-bg1">
            <div class="ordersummary mt-0">
              <h4>Order Summary</h4>
              <div class="table-responsive-lg">
                <table class="table">
                  <tbody>
                    <tr>
                      <td><div class="title-table">Subtotal</div></td>
                      <td>$25.99 USD</td>
                    </tr>
                    <tr>
                      <td><div class="title-table">Cycle</div></td>
                      <td>$9.99 USD Montly <br> $16.00 USD Annually</td>
                    </tr>
                    <tr>
                      <td><div class="title-table">Total Amount</div></td>
                      <td><h6><b>$25.99 USD</b></h6></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <a href="checkout" class="btn btn-default-yellow-fill mb-3">Checkout <i class="fas fa-arrow-alt-circle-right"></i></a>
            <a href="index" class="btn btn-default-fill mb-3">Continue Shopping</a>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="services help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="javascript:void(Tawk_API.toggle())" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/livechat.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Live Chat</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="contact.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/emailopen.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Send Ticket</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="knowledgebase.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/book.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Knowledge base</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** SMALL MODAL ***** -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><b>Remove Item!</b></h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove this item from your cart?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default-fill " data-dismiss="modal">No</button>
          <button type="button" class="btn btn-default-purple-fill" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/filter.js"></script>
<script defer src="js/sidebar.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>