<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header item7 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Set up your plans</h1>
            <h3 class="subheading">Configure your desired options and continue to checkout.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** KNOWLEDGEBASE ***** -->
  <section class="config cd-main-content pb-80 blog sec-bg2 motpath">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 mt-80">
          <div class="wrap-blog">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="wrapper targetDiv">
                  <h3>Dedicated Server Linux</h3>
                  <p>Configure your desired options and continue to checkout</p>
                  <hr>
                  <div class="row">
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block">
                        <h4>RAM Memory</h4>
                        <ul class="radio-group radios-filter cd-filter-content list">
                          <li>
                            <input value=".16gb" type="radio" name="radioB" id="radio6" checked/>
                            <label class="radio-label" for="radio6">Default</label>
                          </li>
                          <li>
                            <input value=".16gb" type="radio" name="radioB" id="radio7"/>
                            <label class="radio-label" for="radio7">16GB</label>
                          </li>
                          <li>
                            <input value=".32gb" type="radio" name="radioB" id="radio8">
                            <label class="radio-label" for="radio8">32GB</label>
                          </li>
                          <li>
                            <input value=".64gb" type="radio" name="radioB" id="radio9">
                            <label class="radio-label" for="radio9">64GB</label>
                          </li>
                          <li>
                            <input value=".128gb" type="radio" name="radioB" id="radio10">
                            <label class="radio-label" for="radio10">128GB</label>
                          </li>
                          <li>
                            <input value=".256gb" type="radio" name="radioB" id="radio11">
                            <label class="radio-label" for="radio11">256GB</label>
                          </li>
                        </ul>
                      </div>
                      <hr>
                    </div>
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block">
                        <h4>Storage SSD</h4>
                        <div class="radio-group radios-filter cd-filter-content list">
                          <div class="blog-info">
                            <p>NOTE! On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                          </div>
                          <ul>
                            <li>
                              <input value=".32gb" type="radio" name="radioA" id="radio1" checked/>
                              <label class="radio-label" for="radio1">2x 32GB</label>
                            </li>
                            <li>
                              <input value=".64gb" type="radio" name="radioA" id="radio2">
                              <label class="radio-label" for="radio2">2x 64GB</label>
                            </li>
                            <li>
                              <input value=".128gb" type="radio" name="radioA" id="radio3">
                              <label class="radio-label" for="radio3">2x 128GB</label>
                            </li>
                            <li>
                              <input value=".256gb" type="radio" name="radioA" id="radio4">
                              <label class="radio-label" for="radio4">2x 256GB</label>
                            </li>
                            <li>
                              <input value=".512gb" type="radio" name="radioA" id="radio5">
                              <label class="radio-label" for="radio5">2x 512GB</label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block mb-5">
                        <h4>Software</h4>
                        <div class="cd-filter-content">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="cd-select mb-2">
                                <select class="select-filter">
                                  <option value="all">Select Control Panel</option>
                                  <option value=".data1">cPanel</option>
                                  <option value=".data2">ISP Manager</option>
                                  <option value=".data3">Plesk 10 Domains</option>
                                  <option value=".data4">Plesk 100 Domains</option>
                                  <option value=".data5">Plesk Unlimited Domains</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="cd-select">
                                <select class="select-filter ">
                                  <option value="all">Select Orerating System</option>
                                  <option value=".data1">CentosOS 6</option>
                                  <option value=".data2">CentosOS 7</option>
                                  <option value=".data3">Debian 7</option>
                                  <option value=".data4">Ubuntu 16.04 LTS</option>
                                  <option value=".data5">Fedora 23</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block checkbox-group">
                        <h4>Add-ons</h4>
                        <ul class="cd-filter-content cd-filters list">
                          <li>
                            <input class="filter" value=".default" type="checkbox" id="checkbox0" checked disabled>
                            <label class="checkbox-label" for="checkbox0">Default</label>
                          </li>
                          <li>
                            <input class="filter" value=".whmcs" type="checkbox" id="checkbox1">
                            <label class="checkbox-label" for="checkbox1">WHMCS</label>
                          </li>
                          <li>
                            <input class="filter" value=".joomla" type="checkbox" id="checkbox2">
                            <label class="checkbox-label" for="checkbox2">Joomla</label>
                          </li>
                          <li>
                            <input class="filter" value=".magento" type="checkbox" id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">Magento</label>
                          </li>
                          <li>
                            <input class="filter" value=".prestashop" type="checkbox" id="checkbox4">
                            <label class="checkbox-label" for="checkbox4">Prestashop</label>
                          </li>
                          <li>
                            <input class="filter" value=".wordpress" type="checkbox" id="checkbox5">
                            <label class="checkbox-label" for="checkbox5">WordPress</label>
                          </li>
                        </ul>
                      </div>
                      <hr>
                    </div>
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block">
                        <h4>IP Address</h4>
                        <div class="radio-group radios-filter cd-filter-content list">
                          <div class="blog-info">
                            <p>NOTE! On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                          </div>
                          <ul>
                            <li>
                              <input value=".1ip" type="radio" name="radioC" id="radio12" checked/>
                              <label class="radio-label" for="radio12">1 IP</label>
                            </li>
                            <li>
                              <input value=".2ip" type="radio" name="radioC" id="radio13">
                              <label class="radio-label" for="radio13">2 IPs</label>
                            </li>
                            <li>
                              <input value=".3ip" type="radio" name="radioC" id="radio14">
                              <label class="radio-label" for="radio14">3 IPs</label>
                            </li>
                            <li>
                              <input value=".4ip" type="radio" name="radioC" id="radio15">
                              <label class="radio-label" for="radio15">4 IP</label>
                            </li>
                            <li>
                              <input value=".5ip" type="radio" name="radioC" id="radio16">
                              <label class="radio-label" for="radio16">5 IPs</label>
                            </li>
                            <li>
                              <input value=".6ip" type="radio" name="radioC" id="radio17">
                              <label class="radio-label" for="radio17">6 IPs</label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block mb-5">
                        <h4>Biling Cycle</h4>
                        <div class="cd-filter-content">
                          <div class="cd-select">
                            <select class="select-filter">
                              <option value="all">Choose Biling Cycle</option>
                              <option value=".biling1">Monthly</option>
                              <option value=".biling2">Quarterly</option>
                              <option value=".biling3">Semi-Annually</option>
                              <option value=".biling4">Annually</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div class="col-md-12 pt-4">
                      <div class="cd-filter-block">
                        <h4 class="mb-0 pb-0 ">Hostname</h4>
                        <div class="cd-filter-content cd-filter-block">
                          <label><i class="fas fa-globe"></i></label>
                          <input type="text" name="hostname" value="" placeholder="servername.yourdomain.com">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar -->
        <div class="col-md-12 col-lg-4">
          <aside id="sidebar" class="sidebar mt-80 sec-bg1">
            <div class="included c-grey mt-0">
              <h4>Selected Plan</h4>
              <ul>
                <li><i class="fas fa-check-circle"></i> 4x 3.2Ghz 2 Cores</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> 16GB (up to 32GB)</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> 2 x 1TB SATA 3.5</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> 1TB Bandwidth</li>
              </ul>
            </div>
            <div class="ordersummary">
              <h4>Order Summary</h4>
              <div class="table-responsive-lg">
                <table class="table">
                  <tbody>
                    <tr>
                      <td><div class="title-table">Setup Fees</div></td>
                      <td>$0.00 USD</td>
                    </tr>
                    <tr>
                      <td><div class="title-table">Monthly</div></td>
                      <td>$82.00 USD</td>
                    </tr>
                    <tr>
                      <td><div class="title-table">Total Amount</div></td>
                      <td><h6><b>$100.82 USD</b></h6></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <a href="cart" class="btn btn-default-yellow-fill">Continue <i class="fas fa-arrow-alt-circle-right"></i></a>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="services help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="javascript:void(Tawk_API.toggle())" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/livechat.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Live Chat</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="contact.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/emailopen.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Send Ticket</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="knowledgebase.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/book.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Knowledge base</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/filter.js"></script>
<script defer src="js/sidebar.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>