<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header item7 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Database-as-a-Service</h1>
            <h3 class="subheading">Get a performance-optimized database for your application in minutes.
            <a class="golink gocheck" href="#features">Check all features</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="sec-normal tabs motpath">
    <div class="best-plans pricing">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="sec-main sec-bg1">
          <div class="plans badge feat bg-pink">Compare All DBaaS Plans</div>
          <div class="tabs-header btn-select-plan">
            <ul class="btn-group btn-group-toggle" data-toggle="buttons">
              <li class="btn btn-secondary active mb-2">
                <input type="radio" name="options" id="option1" checked> DBaaS SQL Server
              </li>
              <li class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> DBaaS MySQL Server
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="table-container" class="table-responsive-lg tabs-content">
                <table id="maintable" class="table tabs-item active">
                  <thead>
                    <tr>
                      <td></td>
                      <td class="price-container">
                        <div class="title">SQL Starter</div>
                        <div class="price"><sup>$</sup>34.80<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a><br>
                      </td>
                      <td class="price-container">
                        <div class="title">SQL Pro</div>
                        <div class="price"><sup>$</sup>72.00<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                      <td class="price-container">
                        <div class="title">SQL Enterprise</div>
                        <div class="price"><sup>$</sup>154.80<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill ">Buy Now</a>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div>SQL Version</div>
                      </td>
                      <td>SQL Server 2017</td>
                      <td>SQL Server 2017</td>
                      <td>SQL Server 2017</td>
                    </tr>
                    <tr>
                      <td>
                        <div>SSD Storage</div>
                      </td>
                      <td>5GB SSD</td>
                      <td>20GB SSD</td>
                      <td>60GB SSD</td>
                    </tr>
                    <tr>
                      <td class="title-table">Database</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table">Traffic</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> SSL Certificate</td>
                      <td>Positive SSL</td>
                      <td>Positive SSL</td>
                      <td>Wildcard SSL</td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-grey">auto</span> Daily Backups</td>
                      <td>Daily (last 16 days)</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> Control Panel</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Management</td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-grey">auto</span> Updates</td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">High Availability</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-purple">premium</span>  24/7 Ticket Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Live Chat Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Money-back Guarantee</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="border-0 sticky-stopper"></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table tabs-item">
                  <thead>
                    <tr>
                      <td></td>
                      <td class="price-container">
                        <div class="title">MySQL Starter</div>
                        <div class="price"><sup>$</sup>30.00<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a><br>
                      </td>
                      <td class="price-container">
                        <div class="title">MySQL Pro</div>
                        <div class="price"><sup>$</sup>54.00<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                      <td class="price-container">
                        <div class="title">MySQL Enterprise</div>
                        <div class="price"><sup>$</sup>132.80<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div>MySQL Version</div>
                      </td>
                      <td>MySQL Server 8.0</td>
                      <td>MySQL Server 8.0</td>
                      <td>MySQL Server 8.0</td>
                    </tr>
                    <tr>
                      <td>
                        <div>SSD Storage</div>
                      </td>
                      <td>2GB SSD</td>
                      <td>10GB SSD</td>
                      <td>30GB SSD</td>
                    </tr>
                    <tr>
                      <td class="title-table">Database</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table">Traffic</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> SSL Certificate</td>
                      <td>Positive SSL</td>
                      <td>Positive SSL</td>
                      <td>Wildcard SSL</td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-grey">auto</span> Daily Backups</td>
                      <td>Daily (last 16 days)</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> Control Panel</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Management</td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-grey">auto</span> Updates</td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">High Availability</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-purple">premium</span>  24/7 Ticket Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Live Chat Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Money-back Guarantee</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="border-0 sticky-stopper"></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                    </tr>
                  </tbody>
                </table>
                <div id="bottom_anchor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="features" class="history-section feat01 sec-normal">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first">
            <img class="svg" src="patterns/dbaasscale.svg" alt="DBaaS Performance">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Awesome performance & escalabilidade</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Product Details</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="info-content">
              <h4>High Availability and Resilience</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
          </div>
          <div class="col-md-12 col-lg-6 offset-lg-1 backups anima wow animated fadeInUp fast second">
            <img class="svg" src="patterns/dbaashigh.svg" alt="DBaaS Resilience">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
            <img class="svg" src="patterns/dbaassecure.svg" alt="DBaas Secure">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Highly Secure</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- **** CONTROL PANEL TOUR ***** -->
  <section class="sec-normal history-section custom sec-bg3 motpath-w">
    <div class="container">
      <div class="popup-gallery">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading text-white">Control Panel, the power to scale and grow</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/controlpanel01.png" class="image-link" title="Caption text example 01">
              <img src="img/controlpanel01.png" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="svg icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/controlpanel02.png" class="image-link" title="Caption text example 02">
              <img src="img/controlpanel02.png" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="svg icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/controlpanel03.png" class="image-link" title="Caption text example 03">
              <img src="img/controlpanel03.png" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="svg icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ***** -->
  <section class="services sec-normal sec-bg2">
    <div class="container">
      <div class="randomline">
        <div class="bigline"></div>
        <div class="smallline"></div>
      </div>
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Why choose Antler Plans for your DBaaS Server?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Control Panel</div>
              <img class="svg" src="fonts/svg/select.svg" alt="">
              <div class="title">Simple to Use</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/cloudmanaged.svg" alt="">
              <div class="title">Fully Managed</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">SSD</div>
              <img class="svg" src="fonts/svg/redundancy.svg" alt="">
              <div class="title">Performance Optimized</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- **** HELP ***** -->
  <section class="help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
              <a href="hosting" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Cloud Reseller</div>
                  <div class="description">Do you need to host multiple Websites?</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
              <a href="vps" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/vps.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to VPS Server</div>
                  <div class="description">Needs scalable resources in Hosting Environment?</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/nouislider.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/variables.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>