<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ****** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header item7 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Our Data Center</h1>
            <h3 class="subheading">Reliable and Powerful Infrastructure</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** DATA CENTER TOUR ***** -->
  <section class="sec-normal history-section custom sec-bg1">
    <div class="container">
      <div class="popup-gallery">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading">Our Data Center in pictures</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/topbanner01.jpg" class="image-link" title="Caption text example 01">
              <img src="img/topbanner01.jpg" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/topbanner02.jpg" class="image-link" title="Caption text example 02">
              <img src="img/topbanner02.jpg" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/topbanner03.jpg" class="image-link" title="Caption text example 03">
              <img src="img/topbanner03.jpg" alt="" style="width: 100%; padding: 0px;">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ***** -->
  <section class="services sec-normal sec-bg2">
    <div class="container">
      <div class="randomline">
        <div class="bigline"></div>
        <div class="smallline"></div>
      </div>
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Security and confidentiality of your data: our priority</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">auto</div>
              <img class="svg" src="fonts/svg/toxic.svg" alt="">
              <div class="title">Toxic gas detection system</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/video.svg" alt="">
              <div class="title">Restricted access</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-grey">pro</div>
              <img class="svg" src="fonts/svg/goal.svg" alt="">
              <div class="title">Anti-DDoS protection</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** MAP ***** -->
  <section class="services maping sec-normal sec-grad-grey-to-grey">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading text-white">Our Datacenters are Located in 7 Regions</h2>
            <p class="section-subheading"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
          </div>
          <div class="col-md-12 pt-5">
            <img src="patterns/map.svg" alt="Load Balancing">
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters montreal" data-original-title="Montreal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters newyork" data-original-title="New York" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters portugal" data-original-title="Portugal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters london" data-original-title="London" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters moskow" data-original-title="Moskow" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters hongkong" data-original-title="Hong Kong" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters singapure" data-original-title="Singapure" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section class="history-section pb-80 sec-bg2 motpath">
    <div class="container">
      <div class="sec-main sec-up mb-0 sec-bg1">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>High Efficiency And Performance</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#" class="golink">quis nostrud exercitation ullamco</a> laboris nisi.</p>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/efficiency.svg" alt="redundant">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Maximum Physical Security</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/maxsecurity.svg" alt="scalable">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>High Availability Redundant Systems</h4>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="#" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/redundant.svg" alt="provisioning">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** VIDEO ***** -->
  <section class="getready sec-bg1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="column-support-txt">
            <div class="column-support-title text-dark">Watch Antler Data Center</div>
            <div class="column-support-subtitle text-dark">Your services in advanced Data Centers and Infrastructures.</div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="btn-floats">
            <a class="btn btn-default-yellow-fill mr-3 popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Video Data Center</a>
            <a href="contact.html" class="btn btn-default-pink-fill">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/scripts.js"></script>
</body>
</html>