<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <div class="top-header item7 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Web Development Hosting</h1>
            <h3 class="subheading">Fast solutions SSD to fit all your web development hosting needs. <a class="golink gocheck" href="#features">Full GIT support</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-up-slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper first text-left wow animated fadeInUp fast">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/cloud.svg" alt="">
              <div class="title">Business GIT</div>
              <div class="fromer">Great start for a single site</div>
              <div class="price"><sup>$</sup>2.99 <span class="period">/month</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>20GB SSD</span></li>
              <li><i class="icon-database"></i> <span class="c-purple">DATABASE</span><br> <span>Unlimited</span></li>
              <li><i class="icon-git"></i> <span class="c-purple">TECH</span><br> <span>GIT, PHP, MySQL</span></li>
              <li><i class="icon-lock"></i> <span class="c-purple">SSL</span><br> <span>Positive SSL</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper text-left wow animated fadeInUp">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/cloudup.svg" alt="">
              <div class="title">Professional GIT</div>
              <div class="fromer">More sites and intensive resources</div>
              <div class="price"><sup>$</sup>4.00 <span class="period">/month</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>60GB SSD</span></li>
              <li><i class="icon-database"></i> <span class="c-pink">DATABASE</span><br> <span>Unlimited</span></li>
              <li><i class="icon-git"></i> <span class="c-pink">TECH</span><br> <span>GIT, PHP, MySQL</span></li>
              <li><i class="icon-lock"></i> <span class="c-pink">SSL</span><br> <span>Positive SSL</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper third text-left wow animated fadeInUp fast">
            <div class="plans badge feat bg-pink">recommended</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/cloudfast.svg" height="65" alt="">
              <div class="title">Enterprise GIT</div>
              <div class="fromer">High performance & unlimited sites</div>
              <div class="price"><sup>$</sup>7.99 <span class="period">/month</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>120GB SSD</span></li>
              <li><i class="icon-database"></i> <span class="c-purple">DATABASE</span><br> <span>Unlimited</span></li>
              <li><i class="icon-git"></i> <span class="c-purple">TECH</span><br> <span>GIT, PHP, MySQL</span></li>
              <li><i class="icon-lock"></i> <span class="c-purple">SSL</span><br> <span>Wildcard SSL</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="features" class="history-section feat01 sec-normal sec-bg3 motpath-w">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first">
            <img class="svg" src="patterns/git.svg" alt="git">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Control all changes with GIT</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Get GIT flow</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="info-content">
              <h4>Push or pull deployment</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
          </div>
          <div class="col-md-12 col-lg-6 offset-lg-1 backups anima wow animated fadeInUp fast second">
            <img class="svg" src="patterns/gitpull.svg" alt="deployment">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
            <img class="svg" src="patterns/backups.svg" alt="backups">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Remote Daily backups</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Backup</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PRICING TABLES ***** -->
  <section class="sec-normal">
    <div class="best-plans pricing">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="sec-main sec-bg1">
          <div class="plans badge feat bg-pink">Compare All GIT Plans</div>
          <div class="row">
            <div class="col-sm-12">
              <div id="table-container" class="table-responsive-lg">
                <table id="maintable" class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td>
                        <div class="title">Business GIT</div>
                        <div class="price"><sup>$</sup>2.99<span class="period">/mo</span></div>
                        <div class="plans badge bg-grey">Renews $4.00 /mo</div>
                        <div class="info">Great start for a single site</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a><br>
                      </td>
                      <td>
                        <div class="title">Professional GIT</div>
                        <div class="price"><sup>$</sup>4.00<span class="period">/mo</span></div>
                        <div class="plans badge bg-grey">Renews $4.00 /mo</div>
                        <div class="info">More sites and intensive resources</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                      <td>
                        <div class="title">Enterprise GIT</div>
                        <div class="price"><sup>$</sup>7.99<span class="period">/mo</span></div>
                        <div class="plans badge bg-grey">Renews $15.00 /mo</div>
                        <div class="info">High performance & unlimited sites</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Websites
                        </div>
                      </td>
                      <td>2 Websites</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td>
                        <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">SSD Storage
                        </div>
                      </td>
                      <td>20GB SSD</td>
                      <td>60GB SSD</td>
                      <td>120GB SSD</td>
                    </tr>
                    <tr>
                      <td class="title-table">Database</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-purple">hot</span> Git Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> SSL Certificate</td>
                      <td>Positive SSL</td>
                      <td>Positive SSL</td>
                      <td>Wildcard SSL</td>
                    </tr>
                    <tr>
                      <td class="title-table">Auto Daily Backups</td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Technology</td>
                      <td>GIT, PHP, MySQL</td>
                      <td>GIT, PHP, MySQL</td>
                      <td>GIT, PHP, MySQL</td>
                    </tr>
                    <tr>
                      <td class="title-table">Traffic</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> Control Panel</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Deployment</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">SSH Access</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-purple">hot</span> Push and Pull</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-purple">plus</span> Multiple Branches</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-grey">premium</span>  24/7 Ticket Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Live Chat Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Money-back Guarantee</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="border-0 sticky-stopper"></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                    </tr>
                  </tbody>
                </table>
                <div id="bottom_anchor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** TEAM ***** -->
  <section class="sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Did not find what you looking for? Contact below</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/supportman.svg" alt="team">
                <h3 class="heading">John T. Erikson</h3>
                <div class="subheading">Support, Helpdesk</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/commercialman.svg" alt="team">
                <h3 class="heading">Walter T. Adams</h3>
                <div class="subheading">Commercial Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/salesman.svg" alt="team">
                <h3 class="heading">Verna B. Ahmed</h3>
                <div class="subheading">Sales Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
              <a href="hosting" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Shared Hosting</div>
                  <div class="description">Need similar power but a simpler solution?</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
              <a href="dedicated" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/dedicated.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Dedicated Server</div>
                  <div class="description">Need more power and resources?</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/variables.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>