<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <div class="top-header item5 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Enterprise Email Hosting</h1>
            <h3 class="subheading">A Robust Email Solution Designed for All Businesses</h3>
            <div id="run-switch" class="run-switch">
              <div class="mo">Monthly Price</div>
              <div class="switch"></div>
              <div class="an active">Anually Price</div>
            </div>
            <div class="included">
              <h4>What you get with?</h4>
              <ul>
                <li><i class="fas fa-check-circle"></i> Up to 250GB mailbox</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Up to 50 email accounts</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Intuitive Calendar & Address Book</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Sync email across all devices</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Flock Instant messenger</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Auto-responders</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="gocontent godown gocheck" href="#features" >
      <img class="svg" src="fonts/svg/arrowdown.svg" height="80" alt="features">
      <span>Features</span>
    </a>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-uping">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left wow animated fadeInUp fast">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/email.svg" alt="">
              <div class="title">Business Email</div>
              <div class="fromer">+ VAT at 20%</div>
              <div class="price-content">
                <div class="price">
                  <sup class="coin">$</sup>
                  <span class="value">122.24</span>
                  <small>/</small><span class="period annually">year</span>
                </div>
              </div>
              <a href="" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-docbox"></i> <span class="c-purple">EMAIL</span><br> <span>10 email accounts</span></li>
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>30GB space</span></li>
              <li><i class="icon-inverse"></i> <span class="c-purple">BACKUPS</span><br> <span>Auto daily</span></li>
              <li><i class="icon-latency"></i> <span class="c-purple">TRAFFIC</span><br> <span>Unlimited</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left wow animated fadeInUp">
            <div class="plans badge feat bg-pink">best value</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/emailopen.svg" alt="">
              <div class="title">Enterprise Email</div>
              <div class="fromer">+ VAT at 20%</div>
              <div class="price-content">
                <div class="price">
                  <sup class="coin">$</sup>
                  <span class="value">275.88</span>
                  <small>/</small><span class="period annually">year</span>
                </div>
              </div>
              <a href="" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-docbox"></i> <span class="c-pink">EMAIL</span><br> <span>50 email accounts</span></li>
              <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>250GB space</span></li>
              <li><i class="icon-inverse"></i> <span class="c-pink">BACKUPS</span><br> <span>Auto daily</span></li>
              <li><i class="icon-latency"></i> <span class="c-pink">TRAFFIC</span><br> <span>Unlimited</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="features" class="history-section feat01 sec-normal">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first">
            <img class="svg" src="patterns/emailcalendar.svg" alt="calendar">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Intuitive Calendar & Address Book</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Test now</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="info-content">
              <h4>Sync across all your devices</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Email sync</a>
          </div>
          <div class="col-md-12 col-lg-6 offset-lg-1 wow animated fadeInUp fast second">
            <img class="svg" src="patterns/emailsync.svg" alt="email sync">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
            <img class="svg" src="patterns/support.svg" alt="support">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Don't worry! We have support premium 24/7/365</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Get support</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ***** -->
  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Why choose Enterprise Email Solution?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-grey">secure</div>
              <img class="svg" src="fonts/svg/drivessd.svg" alt="">
              <div class="title">File Storage Drive</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/virus.svg" alt="">
              <div class="title">Anti-virus Protection</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">communication</div>
              <img class="svg" src="fonts/svg/bubble.svg" alt="">
              <div class="title">A free instant messenger</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FAQ ***** -->
  <section class="sec-normal sec-grad-yellow-to-grey-right">
    <img class="path-right" src="patterns/exapath.svg" alt="">
    <div class="faq">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading">Frequently Asked Questions Email Solutions</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="accordion faq pt-5">
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>What are the supported email clients and protocols?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>How do I use my Enterprise Email's Webmail interface?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>Which devices can I access my Webmail from?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>What is the storage space provided?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
              <a href="hosting" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Shared Hosting</div>
                  <div class="description">Need similar power but a simpler solution?</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
              <a href="dedicated" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/dedicated.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Dedicated Server</div>
                  <div class="description">Need more power and resources?</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/scripts.js"></script>
</body>
</html>