<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- CSS styles -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** VIDEO BG ***** -->
  <div class="covervid-wrapper">
    <video class="covervid-video" autoplay loop muted poster="img/topbanner03.jpg">
      <source src="videos/about.webm" type="video/webm">
      <source src="videos/about.mp4" type="video/mp4">
    </video>
  </div>
  <!-- ***** SLIDER ***** -->
  <div class="top-header overlay-video">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Sophisticated Email Security</h1>
            <h3 class="subheading">Powerful protection for emails with intelligent cluster with <b class="c-pink">99.98% SPAM detection accuracy.</b></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-up-slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp">
          <div class="wrapper first text-left">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/email.svg" alt="">
              <div class="title">Essential Anti-Spam With SpamExperts</div>
              <div class="fromer">Best value-for-money Servers</div>
              <div class="price"><sup>$</sup>2.00 <span class="period">/month</span></div>
              <a href="#" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>20GB Space</span></li>
              <li><i class="icon-virus"></i> <span class="c-purple">SPAM</span><br> <span>Anti-Spam Premium</span></li>
              <li><i class="icon-inverse"></i> <span class="c-purple">MX</span><br> <span>MX Backup</span></li>
              <li><i class="icon-window"></i> <span class="c-purple">PANEL</span><br> <span>Control Panel</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp fast">
          <div class="wrapper text-left">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/emailopen.svg" alt="">
              <div class="title">Deluxe Anti-Spam With SpamExperts</div>
              <div class="fromer">Intensive resources, delivered</div>
              <div class="price"><sup>$</sup>8.00 <span class="period">/month</span></div>
              <a href="#" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>40GB Space</span></li>
              <li><i class="icon-virus"></i> <span class="c-pink">SPAM</span><br> <span>Anti-Spam Premium</span></li>
              <li><i class="icon-inverse"></i> <span class="c-pink">MX</span><br> <span>MX Backup</span></li>
              <li><i class="icon-window"></i> <span class="c-pink">PANEL</span><br> <span>Control Panel</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp">
          <div class="wrapper third text-left">
            <div class="plans badge feat bg-pink">recommended</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/inbox.svg" alt="">
              <div class="title">Ultimate Anti-Spam With SpamExperts</div>
              <div class="fromer">High performance and traffic</div>
              <div class="price"><sup>$</sup>19.00 <span class="period">/month</span></div>
              <a href="#" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>60GB Space</span></li>
              <li><i class="icon-virus"></i> <span class="c-purple">SPAM</span><br> <span>Anti-Spam Premium</span></li>
              <li><i class="icon-inverse"></i> <span class="c-purple">MX</span><br> <span>MX Backup</span></li>
              <li><i class="icon-window"></i> <span class="c-purple">PANEL</span><br> <span>Control Panel</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="features" class="history-section sec-normal exapath">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Highest Level of Security</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/emailsecurity.svg" alt="security" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Protected Email Quarantine Inbox</h4>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="#" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/quarantine.svg" alt="quarantine" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Maximum Physical Security</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#" class="golink">quis nostrud exercitation ullamco</a> laboris nisi.</p>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/maxsecurity.svg" alt="security">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CONTROL PANEL TOUR ***** -->
  <section class="sec-normal history-section custom sec-bg3">
    <div class="container">
      <div class="popup-gallery">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading text-white">Control Panel, the power to scale and grow</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/controlpanel01.png" class="image-link" title="Caption text example 01">
              <img src="img/controlpanel01.png" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="svg icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/controlpanel02.png" class="image-link" title="Caption text example 02">
              <img src="img/controlpanel02.png" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="svg icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/controlpanel03.png" class="image-link" title="Caption text example 03">
              <img src="img/controlpanel03.png" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="svg icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ***** -->
  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Why choose Email Security Solution?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/inbox.svg" alt="">
              <div class="title">Clean Inbox</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-grey">control panel</div>
              <img class="svg" src="fonts/svg/preferences.svg" alt="">
              <div class="title">Easy Configuration</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">mx backup</div>
              <img class="svg" src="fonts/svg/inverse.svg" alt="">
              <div class="title">Professional Backup</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FAQ ***** -->
  <section id="faq" class="sec-normal sec-grad-yellow-to-white-right">
    <img class="path-right" src="patterns/exapath.svg" alt="">
    <div class="faq">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading">Frequently Asked Questions Email Security</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="accordion faq pt-5">
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>What is Email Security with SpamExperts?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>Can I Backup multiple emails if I have to?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>I have total control and management?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>What type of support do you offer?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
              <a href="hosting" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Shared Hosting</div>
                  <div class="description">Need similar power but a simpler solution?</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
              <a href="dedicated" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/dedicated.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Dedicated Server</div>
                  <div class="description">Need more power and resources?</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/idangerous.swiper.min.js"></script>
<script defer src="js/jquery.viewportchecker.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script src="js/nouislider.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script src="js/covervid.min.js"></script>
<script defer src="js/scripts.js"></script>
<script>$('.covervid-video').coverVid(1920, 1080);</script>
</body>
</html>