<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">    
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header">
    <div class="total-grad-inverse"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="heading mb-0">Frequently asked questions</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cd-filter-block checkbox-group mb-0">
            <label><a href=""><i class="fas fa-search"></i></a></label>
            <input type="text" class="input" placeholder="Search.."/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** KNOWLEDGEBASE ***** -->
  <section id="gotop" class="blog motpath pb-80">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-md-12 col-lg-4">
          <aside id="sidebar" class="sidebar mt-80 sec-bg1">
            <div class="menu categories clear">
              <h4>FAQ.</h4>
              <hr>
              <div class="heading pt-2"><a href="#gotop"  id="showall" class="gocheck active"><img class="svg mr-3" src="fonts/svg/select.svg" alt="Dedicated Server"> All Answers</a></div>
              <div class="heading pt-2"><a href="#gotop" class="gocheck showSingle" target="1"><img class="svg mr-3" src="fonts/svg/cloudfiber.svg" alt="Shared Hosting"> Shared Hosting</a></div>
              <div class="heading pt-2"><a href="#gotop" class="gocheck showSingle" target="2"><img class="svg mr-3" src="fonts/svg/reseller.svg" alt="Cloud Reseller"> Cloud Reseller</a></div>
              <div class="heading pt-2"><a href="#gotop" class="gocheck showSingle" target="3"><img class="svg mr-3" src="fonts/svg/dedicated.svg" alt="Dedicated Server"> Dedicated Servers</a></div>
              <div class="heading pt-2"><a href="#gotop" class="gocheck showSingle" target="4"><img class="svg mr-3" src="fonts/svg/lock.svg" alt="Dedicated Server"> SSL Certificates</a></div>
              <div class="heading pt-2"><a href="#gotop" class="gocheck showSingle" target="5"><img class="svg mr-3" src="fonts/svg/vps.svg" alt="Dedicated Server"> Cloud VPS</a></div>
            </div>
          </aside>
        </div>
        <div class="pt-35 col-md-12 col-lg-8">
          <div class="wrap-blog">
            <div class="row">
              <div class="col-md-12 col-lg-12 knowledge">
                <div id="div3" class="wrapper targetDiv mt-5">
                  <h6><b><a href="" class="category">Dedicated Servers</a></b> <span class="float-right c-grey">[Questions 4]</span></h6><hr>
                  <a href=""><i class="far fa-question-circle"></i> What is a Dedicated Server? </a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed to an unknown</i> typesetter in <span class="text-dark">the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with.</span></p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> How to install Control Panel?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> I can make specific configurations?</a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed</i> to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with</p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> Can I change the Operating System?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div>
                </div>
                <div id="div2" class="wrapper targetDiv mt-5">
                  <h6><b><a href="" class="category">Cloud Reseller</a></b> <span class="float-right c-grey">[Questions 3]</span></h6><hr>
                  <a href=""><i class="far fa-question-circle"></i> What exactly is Cloud Reseller? </a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed to an unknown</i> typesetter in <span class="text-dark">the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with.</span></p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> Is there a brandable control panel?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> Can my Linux Reseller plan be upgraded when needed?</a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed</i> to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with</p>
                  </div>
                </div>
                <div id="div1" class="wrapper targetDiv mt-5">
                  <h6><b><a href="" class="category">Shared Hosting</a></b> <span class="float-right c-grey">[Questions 4]</span></h6><hr>
                  <a href=""><i class="far fa-question-circle"></i> What is Shared Hosting?</a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed to an unknown</i> typesetter in <span class="text-dark">the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with.</span></p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> Does Shared Web Hosting include Email Hosting as well?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> Is an upgrade possible from my current Linux Shared Hosting Plan?</a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed</i> to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with</p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> Is there any money back guarantee with the Linux Web Hosting services?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div>
                </div>
                <div id="div4" class="wrapper targetDiv mt-5">
                  <h6><b><a href="" class="category">SSL Certificates</a></b> <span class="float-right c-grey">[Questions 2]</span></h6><hr>
                  <a href=""><i class="far fa-question-circle"></i> What is SSL Certificates?</a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed to an unknown</i> typesetter in <span class="text-dark">the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with.</span></p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> How to install SSL Certificate?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div>
                </div>
                <div id="div5" class="wrapper targetDiv mt-5">
                  <h6><b><a href="" class="category">Cloud VPS</a></b> <span class="float-right c-grey">[Questions 4]</span></h6><hr>
                  <a href=""><i class="far fa-question-circle"></i> Do the Virtual Private Servers have a backup policy?</a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed to an unknown</i> typesetter in <span class="text-dark">the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with.</span></p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> What are the benefits of Cloud VPS?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> Is Email Hosting included?</a>
                  <div class="blog-info">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is <i class="golink">attributed</i> to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with</p>
                  </div><br>
                  <a href=""><i class="far fa-question-circle"></i> What type of support do you offer?</a>
                  <div class="blog-info">
                    <p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="services help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="javascript:void(Tawk_API.toggle())" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/livechat.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Live Chat</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="contact.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/emailopen.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Send Ticket</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="knowledgebase.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/phone.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Phone Now</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/sidebar.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>