<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <div class="top-header item8 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">G Suite by Google</h1>
            <h3 class="subheading">Email, Chat, Apps, Cloud Storage. All you need in one package</h3>
            <div id="run-switch" class="run-switch">
              <div class="mo">Monthly Price</div>
              <div class="switch"></div>
              <div class="an active">Anually Price</div>
            </div>
            <div class="included">
              <h4>What you get with G Suite?</h4>
              <ul>
                <li><i class="fas fa-check-circle"></i> Edit Docs & Sheets in Real-time </li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Connect Hangouts & Calendar</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> 30GB on Google Drive</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> A cloud Productivity Suite</li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Outlook Email with G Suite Sync </li>
              </ul>
              <ul>
                <li><i class="fas fa-check-circle"></i> Security provided by Google</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="gocontent godown gocheck" href="#features" >
      <img class="svg" src="fonts/svg/arrowdown.svg" height="80" alt="features">
      <span>Features</span>
    </a>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-uping">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left wow animated fadeInUp fast">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/inbox.svg" alt="">
              <div class="title">G Suite 5</div>
              <div class="fromer">+ VAT at 20%</div>
              <div class="price-content">
                <div class="price">
                  <sup class="coin">$</sup>
                  <span class="value">19.00</span>
                  <small>/</small><span class="period annually">year</span>
                </div>
              </div>
              <a href="" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-inbox"></i> <span class="c-purple">EMAIL</span><br> <span>5 email accounts</span></li>
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>30GB space</span></li>
              <li><i class="icon-inverse"></i> <span class="c-purple">BACKUPS</span><br> <span>Auto daily</span></li>
              <li><i class="icon-latency"></i> <span class="c-purple">TRAFFIC</span><br> <span>Unlimited</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left wow animated fadeInUp">
            <div class="plans badge feat bg-pink">Google</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/docbox.svg" alt="">
              <div class="title">G Suite 10</div>
              <div class="fromer">+ VAT at 20%</div>
              <div class="price-content">
                <div class="price">
                  <sup class="coin">$</sup>
                  <span class="value">35.00</span>
                  <small>/</small><span class="period annually">year</span>
                </div>
              </div>
              <a href="" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-docbox"></i> <span class="c-pink">EMAIL</span><br> <span>10 email accounts</span></li>
              <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>120GB space</span></li>
              <li><i class="icon-inverse"></i> <span class="c-pink">BACKUPS</span><br> <span>Auto daily</span></li>
              <li><i class="icon-latency"></i> <span class="c-pink">TRAFFIC</span><br> <span>Unlimited</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="features" class="history-section feat01 sec-normal">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first">
            <img class="svg" src="patterns/emailcalendar.svg" alt="calendar">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Easily Connect Through Hangouts & Calendar</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Test now</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="info-content">
              <h4>Outlook Email Client with G Suite Sync</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Email sync</a>
          </div>
          <div class="col-md-12 col-lg-6 offset-lg-1 wow animated fadeInUp fast second">
            <img class="svg" src="patterns/emailsync.svg" alt="email sync">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
            <img class="svg" src="patterns/support.svg" alt="support">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Don't worry! We have support premium 24/7/365</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Get support</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PRICING TABLES ***** -->
  <section class="sec-normal sec-bg2">
    <div class="best-plans pricing">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="sec-main sec-bg1">
          <div class="plans badge feat bg-pink">G Suite vs Other Options</div>
          <div class="row">
            <div class="col-sm-12">
              <div id="table-container" class="table-responsive-lg">
                <table id="maintable" class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td>
                        <div class="title c-pink">G Suite 10</div>
                        <div class="price"><sup>$</sup>2.99<span class="period">/mo</span></div>
                        <a href="" class="btn btn-default-yellow-fill mt-3">Buy Now</a>
                      </td>
                      <td>
                        <div class="title c-grey">Business Email</div>
                        <div class="price"><sup>$</sup>10.19<span class="period">/mo</span></div>
                        <a href="" class="btn btn-default-yellow-fill mt-3">Buy Now</a>
                      </td>
                      <td>
                        <div class="title c-grey">Enterprise Email</div>
                        <div class="price"><sup>$</sup>22.99<span class="period">/mo</span></div>
                        <a href="" class="btn btn-default-yellow-fill mt-3">Buy Now</a>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Email Platform
                        </div>
                      </td>
                      <td>Google</td>
                      <td>Open-Xchange</td>
                      <td>Open-Xchange</td>
                    </tr>
                    <tr>
                      <td>
                        <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Disk Space
                        </div>
                      </td>
                      <td>120GB SSD</td>
                      <td>30GB SSD</td>
                      <td>250GB SSD</td>
                    </tr>
                    <tr>
                      <td class="title-table">Drive</td>
                      <td>Google Drive</td>
                      <td><i class="fas fa-times"></i></td>
                      <td>10GB</td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-purple">hot</span> Webmail</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> IMAP Sync</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">POP & IMAP Access</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">SSL Certificates</td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">TLS Support</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-pink">free</span> Mobile App</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Email Protection</td>
                      <td>Google Proprietary</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Identities</td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table"><span class="badge bg-purple">hot</span> Instant Messaging / Chat</td>
                      <td>Google Hangouts</td>
                      <td>Powered by Flock</td>
                      <td>Powered by Flock</td>
                    </tr>
                  </tbody>
                </table>
                <div id="bottom_anchor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ***** -->
  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Why choose G Suite by Google?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-grey">real-time</div>
              <img class="svg" src="fonts/svg/meeting.svg" alt="">
              <div class="title">Collaboration with Docs</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/freenetwork.svg" alt="">
              <div class="title">Work From Anywhere</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">by google</div>
              <img class="svg" src="fonts/svg/cloudsecurity.svg" alt="">
              <div class="title">Secure and monitored</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FAQ ***** -->
  <section class="sec-normal sec-grad-yellow-to-grey-right">
    <img class="path-right" src="patterns/exapath.svg" alt="">
    <div class="faq">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading">Frequently Asked Questions G Suite</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="accordion faq pt-5">
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>Can I transfer my current G Suite account to ResellerClub?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>How does the pricing work for Resellers?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>Will I get help with my support requirements for G Suite?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>What all does G Suite productivity suite include?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
              <a href="hosting" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Shared Hosting</div>
                  <div class="description">Need similar power but a simpler solution?</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
              <a href="email" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/email.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Enterprise Email</div>
                  <div class="description">Need more power and resources?</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/variables.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>