<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <section id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="full h-100 overlay-video">
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <video class="covervid-video" autoplay loop muted poster="img/topbanner06.jpg">
                <source src="videos/planet.mp4" type="video/mp4">
              </video>
              <img class="svg custom-element-right" src="patterns/domains.svg" alt="Domains">
              <h1 class="heading">Your Perfect <br>Domain Name</h1>
              <h3 class="subheading">Search a domain of your choice from <b class="c-pink">$6.00/yr</b></h3>
              <form action="http://inebur.com/whmcs/domainchecker.php?systpl=antler" method="post">
                <div class="general-input w-50">
                  <input type="text" name="domain" placeholder="Start your search here" class="fill-input">
                  <input type="submit" value="Search" class="btn btn-default-yellow-fill">
                </div>
              </form>
              <div class="domain-prices">
                <ul>
                  <li class="tld">.com <div class="price"><sup>$</sup>14.00</div></li>
                  <li class="tld">.net <div class="price"><sup>$</sup>12.00</div></li>
                  <li class="tld">.org <div class="price"><sup>$</sup>8.00</div></li>
                  <li class="tld">.us <div class="price"><sup>$</sup>6.00</div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="full h-100 overlay-video">
      <div class="total-grad-grey-inverse"></div>
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <div class="container-video">
                <video class="covervid-video" autoplay loop muted poster="img/topbanner01.jpg">
                  <source src="videos/server.mp4" type="video/mp4">
                </video>
              </div>
              <img class="svg custom-element-right" src="patterns/hostingpanel.svg" alt="Cloud VPS Server">
              <h1 class="heading">Shared Hosting</h1>
              <h3 class="subheading">Blazing fast & stable hosting infrastructure</h3>
              <div class="included">
                <div class="row">
                  <div class="col-sm-5 col-md-3 col-lg-3 col-xl-2">
                    <ul>
                      <li><i class="fas fa-check-circle"></i> c-Panel or Plesk</li>
                    </ul>
                    <ul>
                      <li><i class="fas fa-check-circle"></i> Unlimited email</li>
                    </ul>
                    <ul>
                      <li><i class="fas fa-check-circle"></i> Free SSL certificate</li>
                    </ul>
                  </div>
                  <div class="col-sm-5 col-md-3 col-lg-3 col-xl-2 secfeat">
                    <ul>
                      <li><i class="fas fa-check-circle"></i> Redundant DNS</li>
                    </ul>
                    <ul>
                      <li><i class="fas fa-check-circle"></i> Powerful SSD</li>
                    </ul>
                    <ul>
                      <li><i class="fas fa-check-circle"></i> Support 24/7/365</li>
                    </ul>
                  </div>
                </div>
              </div>

              <a href="hosting" class="btn btn-default-yellow-fill mr-3 mt-3">Get Prices</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-up-slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp fast">
          <div class="wrapper first text-left">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/cloudfiber.svg" alt="">
              <div class="title">Shared Hosting</div>
              <div class="fromer">Starting at:</div>
              <div class="price"><sup>$</sup>8.19 <span class="period">/month</span></div>
              <a href="hosting" class="btn btn-default-yellow-fill">All plans</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>250GB SSD</span></li>
              <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
              <li><i class="icon-emailopen"></i> <span class="c-purple">EMAIL</span><br> <span>120 Emails</span></li>
              <li><i class="icon-domains"></i> <span class="c-purple">TLD</span><br> <span>30 Domains</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp">
          <div class="wrapper text-left">
            <div class="plans badge feat bg-pink">recommended</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/dedicated.svg" alt="">
              <div class="title">Dedicated Server</div>
              <div class="fromer">annually get (20% discount)</div>
              <div class="price"><sup>$</sup>82.00 <span class="period">/month</span></div>
              <a href="configurator" class="btn btn-default-yellow-fill">Configure</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-cpu"></i> <span class="c-pink">CPU</span><br> <span>4x 3.20Ghz 2 Cores</span></li>
              <li><i class="icon-ram"></i> <span class="c-pink">RAM</span><br> <span>16GB (up to 32GB)</span></li>
              <li><i class="icon-drivessd"></i> <span class="c-pink">DRIVES</span><br> <span>2 x 1TB SATA 3.5</span></li>
              <li><i class="icon-git"></i> <span class="c-pink">UPLINK</span><br> <span>1Gbps - 20TB</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp fast">
          <div class="wrapper third text-left">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/vps.svg" alt="">
              <div class="title">Cloud VPS</div>
              <div class="fromer">Starting at:</div>
              <div class="price"><sup>$</sup>9.99 <span class="period">/month</span></div>
              <a href="vps" class="btn btn-default-yellow-fill">All plans</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-cpu"></i> <span class="c-purple">CPU</span><br> <span>2 Cores</span></li>
              <li><i class="icon-ram"></i> <span class="c-purple">RAM</span><br> <span>2GB Memory</span></li>
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>20GB SSD Space</span></li>
              <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** ULOAD BALANCING ***** -->
  <section class="balancing sec-normal sec-bg3 motpath-w pb-80">
    <div class="h-services">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <h2 class="section-heading text-white">Cloud Load Balancing</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-md-12">
            <div class="wrap-service load">
              <div class="wow animated fadeInUp fast">
                <img class="svg mt-50" src="patterns/balancing.svg" alt="Load Balancing">
              </div>
              <div class="row text-info">
                <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[1] Users</b> <br>
                  <span class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</span>
                </div>
                <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[2] Load Balancing</b> <br>
                  <span class="info">Eaque ipsa quae ab illo inventore veritatis et quasi. Eaque ipsa quae omnis iste</span>
                </div>
                <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[3] Cloud Servers</b> <br>
                  <span class="info">Omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section class="services sec-normal sec-bg2">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading">Why Choose Antler?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4 wow animated fadeInUp fast">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Premium</div>
              <img class="svg" src="fonts/svg/helpdesk.svg" alt="">
              <div class="title">Support 24x7x365</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
              </p>
              <a href="" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 wow animated fadeInUp">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Control Panel</div>
              <img class="svg" src="fonts/svg/window.svg" alt="">
              <div class="title">Free WHM &amp; cPanel</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor
              </p>
              <a href="" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 wow animated fadeInUp fast">
            <div class="service-section">
              <img class="svg" src="fonts/svg/cloudmanaged.svg" alt="">
              <div class="title">Perfomance Optimized</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
              </p>
              <a href="" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** MAP ***** -->
  <section class="services maping sec-normal sec-grad-grey-to-grey">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading text-white">Our Datacenters are Located in 7 Regions</h2>
            <p class="section-subheading"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
          </div>
          <div class="col-md-12 pt-5">
            <img src="patterns/map.svg" alt="Load Balancing">
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters montreal" data-original-title="Montreal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters newyork" data-original-title="New York" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters portugal" data-original-title="Portugal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters london" data-original-title="London" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters moskow" data-original-title="Moskow" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters hongkong" data-original-title="Hong Kong" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters singapure" data-original-title="Singapure" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="services help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="javascript:void(Tawk_API.toggle())" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/livechat.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Live Chat</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="contact.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/emailopen.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Send Ticket</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container">
              <a href="knowledgebase.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/book.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title">Knowledge base</div>
                  <div class="description">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/idangerous.swiper.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/scripts.js"></script>
</body>
</html>