<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <div class="top-header item10 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">IPTV Premium Services</h1>
            <h3 class="subheading">Sport, cinema, series, to entertainment, youth, discovery and more. We have gathered all the programs you love.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** SUBSCRIBE ***** -->
  <section class="getready sec-grad-yellow-to-black-right">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="column-support-txt">
            <div class="column-support-title">Subscribe now your IPTV</div>
            <div class="column-support-subtitle">Our iptv service works on smart TV and all Android and iOS devices.</div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="btn-floats">
            <a class="btn btn-default-yellow-fill mr-3">Subscribe Now</a>
            <a href="contact.html" class="btn btn-default-pink-fill">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-normal pt-4 promopath">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper first text-left wow animated fadeInUp fast">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/monitor.svg" alt="">
              <div class="title">IPTV Starter</div>
              <div class="fromer">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              <div class="price"><sup>$</sup>9.99 <span class="period">/year</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-calendar"></i> <span class="c-purple">SUBSCRIPTION</span><br> <span>3 Months</span></li>
              <li><i class="icon-hand"></i> <span class="c-purple">CHANNELS</span><br> <span>150 Premium</span></li>
              <li><i class="icon-window"></i> <span class="c-purple">SYSTEM</span><br> <span>IOS & Windows</span></li>
              <li><i class="icon-technology"></i> <span class="c-purple">STREAM</span><br> <span>All Devices</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper text-left wow animated fadeInUp">
            <div class="plans badge feat bg-pink">most popular</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/monitor.svg" alt="">
              <div class="title">IPTV Pro</div>
              <div class="fromer">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              <div class="price"><sup>$</sup>18.00 <span class="period">/year</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-calendar"></i> <span class="c-pink">SUBSCRIPTION</span><br> <span>6 Months</span></li>
              <li><i class="icon-hand"></i> <span class="c-pink">CHANNELS</span><br> <span>240 Premium</span></li>
              <li><i class="icon-window"></i> <span class="c-pink">SYSTEM</span><br> <span>IOS & Windows</span></li>
              <li><i class="icon-technology"></i> <span class="c-pink">STREAM</span><br> <span>All Devices</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper third text-left wow animated fadeInUp fast">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/monitor.svg" alt="">
              <div class="title">IPTV Enterprise</div>
              <div class="fromer">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              <div class="price"><sup>$</sup>42.19 <span class="period">/year</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-calendar"></i> <span class="c-purple">SUBSCRIPTION</span><br> <span>12 Months</span></li>
              <li><i class="icon-hand"></i> <span class="c-purple">CHANNELS</span><br> <span>300 Premium</span></li>
              <li><i class="icon-window"></i> <span class="c-purple">SYSTEM</span><br> <span>IOS & Windows</span></li>
              <li><i class="icon-technology"></i> <span class="c-purple">STREAM</span><br> <span>All Devices</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section class="sec-normal history-section sec-bg3">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Full HD Quality Streams</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/iptv.svg" alt="security" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Work on all devices</h4>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="#" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/alldevices.svg" alt="quarantine" >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ****** -->
  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Why get IPTV Services from Antler?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/hand.svg" alt="">
              <div class="title">300+ Premium Channels</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/display.svg" alt="">
              <div class="title">7000+ Movies & Series</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">full hd</div>
              <img class="svg" src="fonts/svg/monitor.svg" alt="">
              <div class="title">Smart TV Supported</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CONTACT FORM ***** -->
  <section id="ticket" class="sec-normal">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 cd-filter-block mb-0">
            <div class="form-contact cd-filter-content p-0 sec-bx">
              <h2 class="section-heading mb-1">Full out the Contact form to contact us</h2>
              <p >We Will Help You To Choose The Best Plan!</p>
              <form id="contactForm" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <label><i class="fas fa-user-tie"></i></label>
                    <input id="name" type="text" name="name" placeholder="Full Name" required="">
                  </div>
                  <div class="col-md-6">
                    <label><i class="fas fa-envelope"></i></label>
                    <input id="email" type="email" name="email" placeholder="Email Address" required="">
                  </div>
                  <div class="col-md-6">
                    <label><i class="fas fa-file-alt"></i></label>
                    <input id="subject" type="text" name="subject" placeholder="Subject" required>
                  </div>
                  <div class="col-md-6">
                    <div class="cd-select mt-4">
                      <label class="db"></label>
                      <select id="department" name="department" class="select-filter">
                        <option value="">Choose Department</option>
                        <option value="Support/Help Desk">Support/Help Desk</option>
                        <option value="Commercial Department">Commercial Department</option>
                        <option value="Sales Department">Sales Department</option>
                        <option value="Schedule Metings">Schedule Metings</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mt-4">
                      <textarea id="message" name="message" class="form-control" rows="5" placeholder="Message..."></textarea>
                    </div>
                  </div>
                  <div class="col-md-6 mt-5">
                    <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                    <label for="checkbox" class="checkbox-label c-grey mb-4" ><div>I have read and accept the terms of the privacy policy - <a href="legal" class="golink">RGPD</a></div></label>
                    <button type="submit" value="Submit" class="btn btn-default-yellow-fill float-left mr-3">Submit Ticket</button>
                    <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 mr-3">Reset</button><br>
                  </div>
                  <div id="msgSubmit" class="col-md-12 mt-4">
                    <h3 class="c-pink"> Message Submitted!</h3>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/scripts.js"></script>
</body>
</html>