<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header exapath-w">
    <div class="total-grad-inverse"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="heading">Payment Methods</div>
            <div class="subheding">As your business expands into local regions where alternative payments are popular, you don’t want to risk losing sales by saying no. Antler gives you the ability to accept more payment types without hesitation, so you can keep on growing.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PAYMENT METHODS ***** -->
  <section class="services sec-normal">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="sec-main sec-bg1 pay">
              <div class="plans badge feat bg-pink">card system</div>
              <div class="content-pay text-left">
                <img src="img/payments/visa.svg" alt="">
                <img src="img/payments/mastercard.svg" alt="">
                <img src="img/payments/americanexpress.svg" alt="">
              </div>
              <h2 class="section-heading mt-3">Payment via Credit Card</h2>
              <p class="section-subheading mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p><span class="c-pink">●</span> Lorem ipsum dolor sit amet, consectetur <a href="#" class="golink">adipiscing elit</a>, sed do eiusmod tempor.</p>
              <p><span class="c-pink">●</span> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</p>
              <p><span class="c-pink">●</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <div class="mt-5"><a href="#" class="golink">More information about Credit Card System</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services sec-normal sec-grad-yellow-to-black-right">
    <img class="path-left" src="patterns/motpath-w.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="sec-main sec-bg1 pay">
              <div class="plans badge feat bg-pink">online system</div>
              <div class="content-pay text-left">
                <img src="img/payments/paypal.svg" alt="">
                <img src="img/payments/payoneer.svg" alt="">
                <img src="img/payments/alipay.svg" alt="">
              </div>
              <h2 class="section-heading mt-3">Payment via Digital Wallets</h2>
              <p class="section-subheading mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p><span class="c-pink"> [Step 01]</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              <p><span class="c-pink">[Step 02]</span> But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain.</p>
              <p><span class="c-pink">[Step 03]</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <div class="mt-5"><a href="#" class="golink">More information about Digital Wallets System</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PAYMENT TYPES ***** -->
  <section class="services sec-normal sec-bg2">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading">Multiple Payment Types</h2>
            <p class="section-subheading">Different customers like to pay in different ways, and Antler lets you embrace them all. From international payment card providers like Visa and American Express to digital wallets and platforms like PayPal and WeChat Pay, we make it simple for you to complete transactions with ease.</p>
          </div>
          <div class="col-md-12 pb-0 pt-5"><h4>Major debit and credit cards</h4></div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/visa.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Visa</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/mastercard.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Mastercard</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/americanexpress.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">American</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/discover.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Discover</a>
            </div>
          </div>
          <div class="col-md-12 pb-0 pt-5"><h4>Pass-through digital wallets</h4></div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/visacheckout.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Visa Checkout</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Google</div>
              <img src="img/payments/googlepay.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Google Pay</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Apple</div>
              <img src="img/payments/applepay.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Apple Pay</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/samsungpay.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Samsung Pay</a>
            </div>
          </div>
          <div class="col-md-12 pb-0 pt-5"><h4>Alternative payment methods</h4></div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/sepa.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Sepa</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/sofort.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Sofort</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/boleto.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Boleto</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/ideal.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">iDeal</a>
            </div>
          </div>
          <div class="col-md-12 pb-0 pt-5"><h4>Stored-value digital wallets</h4></div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/paypal.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Paypal</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/payoneer.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Payoneer</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/chatpay.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Wechatpay</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="service-section">
              <img src="img/payments/alipay.svg" alt="">
              <hr>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat
              </p>
              <a href="" class="btn btn-default-yellow-fill">Alipay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** MAP ***** -->
  <section class="services maping sec-normal sec-grad-grey-to-grey">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading text-white">Our Datacenters are Located in 7 Regions</h2>
            <p class="section-subheading"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
          </div>
          <div class="col-md-12 pt-5">
            <img src="patterns/map.svg" alt="Load Balancing">
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters montreal" data-original-title="Montreal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters newyork" data-original-title="New York" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters portugal" data-original-title="Portugal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters london" data-original-title="London" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters moskow" data-original-title="Moskow" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters hongkong" data-original-title="Hong Kong" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters singapure" data-original-title="Singapure" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CONTACT FORM ***** -->
  <section id="ticket" class="exapath pb-80">
    <div class="container">
      <div class="sec-main sec-up mb-0 sec-bg1">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 cd-filter-block mb-0">
            <div class="form-contact cd-filter-content p-0 sec-bx">
              <h2 class="section-heading mb-1">Full out the Contact form to contact us</h2>
              <p >We Will Help You To Choose The Best Plan!</p>
              <form id="contactForm" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <label><i class="fas fa-user-tie"></i></label>
                    <input id="name" type="text" name="name" placeholder="Full Name" required="">
                  </div>
                  <div class="col-md-6">
                    <label><i class="fas fa-envelope"></i></label>
                    <input id="email" type="email" name="email" placeholder="Email Address" required="">
                  </div>
                  <div class="col-md-6">
                    <label><i class="fas fa-file-alt"></i></label>
                    <input id="subject" type="text" name="subject" placeholder="Subject" required>
                  </div>
                  <div class="col-md-6">
                    <div class="cd-select mt-4">
                      <label class="db"></label>
                      <select id="department" name="department" class="select-filter">
                        <option value="">Choose Department</option>
                        <option value="Support/Help Desk">Support/Help Desk</option>
                        <option value="Commercial Department">Commercial Department</option>
                        <option value="Sales Department">Sales Department</option>
                        <option value="Schedule Metings">Schedule Metings</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mt-4">
                      <textarea id="message" name="message" class="form-control" rows="5" placeholder="Message..."></textarea>
                    </div>
                  </div>
                  <div class="col-md-6 mt-5">
                    <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                    <label for="checkbox" class="checkbox-label c-grey mb-4" ><div>I have read and accept the terms of the privacy policy - <a href="legal" class="golink">RGPD</a></div></label>
                    <button type="submit" value="Submit" class="btn btn-default-yellow-fill float-left mr-3">Submit Ticket</button>
                    <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 mr-3">Reset</button><br>
                  </div>
                  <div id="msgSubmit" class="col-md-12 mt-4">
                    <h3 class="c-pink"> Message Submitted!</h3>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>