<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header">
    <img class="svg pattern" src="patterns/promo-w.svg" alt="promos">
    <div class="total-grad-grey-inverse"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="heading">Our Current <b class="c-pink">Deals*</b></div>
            <div class="subheding">Check our amazing deals that give you huge savings across our product range from Domains & SSL Certificates to Cloud Servers & Hosting Plans. Find the deal that's right for you from our selection below.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** COUNTDOWN ***** -->
  <div class="pt-4 pb-4 sec-bg2 m-0 alert">
    <button type="button" class="close p" data-dismiss="alert">×</button>
    <div class="container">
      <div class="row col-md-12">
        <div class="col-md-7">
          <h4 class="count-txt pr-2"><span class="c-pink">*</span> Best Coupons - Up To 55% Off your new order.</h4>
        </div>
        <div class="col-md-5">
          <div class="count-content">
            <h4><strong id="specialclock" class="clock c-pink"></strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PROMO PLANS ***** -->
  <section class="services blog sec-normal pt-5">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-md-4">
            <img src="img/topbanner05.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="plans badge feat bg-pink">50% off</div>
              <div class="title mt-0">50% off Shared Hosting</div>
              <p class="subtitle">Good news! <b class="c-pink">Enjoy 50% off</b> any of our Shared Hosting Plans, available only to first-year purchases.</p>
              <hr>
              <div class="small">
                <span class="icon-cart text-dark"></span>
                <span class="pl-2 pr-4"> /1st year purchases only</span>
              </div>
              <a href="#" class="btn btn-default-yellow-fill">Buy Now</a>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/topbanner06.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="plans badge feat bg-pink">domains</div>
              <div class="title mt-0">TLDs For $0.77</div>
              <p class="subtitle">TLDs available for <b class="c-pink">just $0.77</b> with 10 email accounts with 5GB each and Premium Support 24/7/365.</p>
              <hr>
              <div class="small">
                <span class="icon-cart text-dark"></span>
                <span class="pl-2 pr-4"> /1st year</span>
              </div>
              <a href="blog" class="btn btn-default-yellow-fill">Buy Now</a>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/topbanner03.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="plans badge feat bg-pink">35% Off</div>
              <div class="title mt-0">Wilcard SSL for 35% Off</div>
              <p class="subtitle"><b class="c-pink">Wildcard SSL only $57.2/yr</b> instead of $88/yr! Suitable for small & medium-sized businesses.</p>
              <hr>
              <div class="small">
                <span class="icon-calendar text-dark"></span>
                <span class="pl-2 pr-4"> /1st year</span>
              </div>
              <a href="blog" class="btn btn-default-yellow-fill">Buy Now</a>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/topbanner09.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="plans badge feat bg-pink">15% Off</div>
              <div class="title mt-0">This Month's Coupons</div>
              <p class="subtitle">Each month, we release fresh coupons with discounts making our products even lower in price!</p>
              <hr>
              <div class="small">
                <span class="icon-calendar text-dark"></span>
                <span class="pl-2 pr-4"> /1st year</span>
              </div>
              <a href="blog" class="btn btn-default-yellow-fill">Get Now</a>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/topbanner08.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="plans badge feat bg-pink">55% Off</div>
              <div class="title mt-0">G Suite for 55% Off</div>
              <p class="subtitle">G Suite By Google - Email, Chat, Apps, Cloud Storage. All you need in one package <b class="c-pink">now for 55% off.</b></p>
              <hr>
              <div class="small">
                <span class="icon-calendar text-dark"></span>
                <span class="pl-2 pr-4"> /1st year</span>
              </div>
              <a href="blog" class="btn btn-default-yellow-fill">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PROMOS ***** -->
  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Check individual Promo Codes?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">50% off</div>
              <img class="svg" src="fonts/svg/domains.svg" alt="">
              <div class="title">.com Domains</div>
              <h4><del>$16.00</del> now <b class="c-pink">$8.00/yr</b></h4>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
              <a href="#" class="btn btn-default-pink-fill">Show Code</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">35% off</div>
              <img class="svg" src="fonts/svg/cloudlinux.svg" alt="">
              <div class="title">Business SSD Hosting</div>
              <h4><del>$98.24</del> now <b class="c-pink">$63.85/yr</b></h4>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
              <a href="#" class="btn btn-default-pink-fill">Show Code</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-grey">best offer</div>
              <img class="svg" src="fonts/svg/protection.svg" alt="">
              <div class="title">DDoS Layer 4</div>
              <h4><b class="c-pink">$11.00/yr</b> save $21.00</h4>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
              <a href="#" class="btn btn-default-pink-fill">Show Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** COUPONS ***** -->
<section class="getready sec-grad-yellow-to-black-right">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="column-support-txt">
          <div class="column-support-title">Looking for the best Coupons?</div>
          <div class="column-support-subtitle">If you want coupons for with deepest discounts, this is the best place to find them.</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="btn-floats">
          <a href="#" class="btn btn-default-pink-fill">Go Coupons</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** PAYMENT TYPES ***** -->
<section class="services sec-normal sec-bg2">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-sm-12 text-left">
          <h2 class="section-heading">Multiple Payment Types</h2>
          <p class="section-subheading">Different customers like to pay in different ways, and Antler lets you embrace them all. From international payment card providers like Visa and American Express to digital wallets and platforms like PayPal and WeChat Pay, <a href="payments" class="golink">we make it simple for you to complete transactions with ease.</a></p>
        </div>
        <div class="col-md-12 pb-0 pt-5"><h4>Major debit and credit cards</h4></div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="service-section">
            <img src="img/payments/visa.svg" alt="">
            <hr>
            <p class="subtitle">
              Excepteur sint occaecat cupidatat
            </p>
            <a href="" class="btn btn-default-yellow-fill">Visa</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="service-section">
            <img src="img/payments/mastercard.svg" alt="">
            <hr>
            <p class="subtitle">
              Excepteur sint occaecat cupidatat
            </p>
            <a href="" class="btn btn-default-yellow-fill">Mastercard</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="service-section">
            <img src="img/payments/americanexpress.svg" alt="">
            <hr>
            <p class="subtitle">
              Excepteur sint occaecat cupidatat
            </p>
            <a href="" class="btn btn-default-yellow-fill">American</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="service-section">
            <img src="img/payments/discover.svg" alt="">
            <hr>
            <p class="subtitle">
              Excepteur sint occaecat cupidatat
            </p>
            <a href="" class="btn btn-default-yellow-fill">Discover</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- ***** MAP ***** -->
  <section class="services maping sec-normal sec-grad-grey-to-grey">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading text-white">Our Datacenters are Located in 7 Regions</h2>
            <p class="section-subheading"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
          </div>
          <div class="col-md-12 pt-5">
            <img src="patterns/map.svg" alt="Load Balancing">
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters montreal" data-original-title="Montreal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters newyork" data-original-title="New York" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters portugal" data-original-title="Portugal" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters london" data-original-title="London" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters moskow" data-original-title="Moskow" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters hongkong" data-original-title="Hong Kong" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            <span data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" title="" class="datacenters singapure" data-original-title="Singapure" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CONTACT FORM ***** -->
  <section id="ticket" class="exapath pb-80">
    <div class="container">
      <div class="sec-main sec-up mb-0 sec-bg1">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 cd-filter-block mb-0">
            <div class="form-contact cd-filter-content p-0 sec-bx">
              <h2 class="section-heading mb-1">Full out the Contact form to contact us</h2>
              <p >We Will Help You To Choose The Best Plan!</p>
              <form id="contactForm" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <label><i class="fas fa-user-tie"></i></label>
                    <input id="name" type="text" name="name" placeholder="Full Name" required="">
                  </div>
                  <div class="col-md-6">
                    <label><i class="fas fa-envelope"></i></label>
                    <input id="email" type="email" name="email" placeholder="Email Address" required="">
                  </div>
                  <div class="col-md-6">
                    <label><i class="fas fa-file-alt"></i></label>
                    <input id="subject" type="text" name="subject" placeholder="Subject" required>
                  </div>
                  <div class="col-md-6">
                    <div class="cd-select mt-4">
                      <label class="db"></label>
                      <select id="department" name="department" class="select-filter">
                        <option value="">Choose Department</option>
                        <option value="Support/Help Desk">Support/Help Desk</option>
                        <option value="Commercial Department">Commercial Department</option>
                        <option value="Sales Department">Sales Department</option>
                        <option value="Schedule Metings">Schedule Metings</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mt-4">
                      <textarea id="message" name="message" class="form-control" rows="5" placeholder="Message..."></textarea>
                    </div>
                  </div>
                  <div class="col-md-6 mt-5">
                    <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                    <label for="checkbox" class="checkbox-label c-grey mb-4" ><div>I have read and accept the terms of the privacy policy - <a href="legal" class="golink">RGPD</a></div></label>
                    <button type="submit" value="Submit" class="btn btn-default-yellow-fill float-left mr-3">Submit Ticket</button>
                    <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 mr-3">Reset</button><br>
                  </div>
                  <div id="msgSubmit" class="col-md-12 mt-4">
                    <h3 class="c-pink"> Message Submitted!</h3>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>