<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <div class="top-header item7 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Cloud Reseller</h1>
            <h3 class="subheading">Cloud Reseller plans are designed for you to earn money!</h3>
            <div id="run-switch" class="run-switch">
              <div class="mo">Monthly Price</div>
              <div class="switch"></div>
              <div class="an active">Anually Price</div>
            </div>
            <div class="included">
              <h4>All plans include</h4>
              <ul><li><i class="fas fa-check-circle"></i> c-Panel, WHM</li></ul>
              <ul><li><i class="fas fa-check-circle"></i> Unlimited traffic</li></ul>
              <ul><li><i class="fas fa-check-circle"></i> Unlimited Database</li></ul>
              <ul><li><i class="fas fa-check-circle"></i> Latest PHP Technology</li></ul>
              <ul><li><i class="fas fa-check-circle"></i> 400+ Softaculous Apps</li></ul>
              <ul><li><i class="fas fa-check-circle"></i> Daily Backups</li></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="gocontent godown gocheck" href="#scroll" >
      <img class="svg" src="fonts/svg/arrowdown.svg" height="80" alt="features">
      <span>Features</span>
    </a>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-uping">
    <div class="container">
      <div class="randomline">
        <div class="bigline"></div>
        <div class="smallline"></div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left wow animated fadeInUp">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/reseller.svg" height="65" alt="">
              <div class="title">Linux 30 Accounts</div>
              <div class="fromer">annually get (20% discount)</div>
              <div class="price-content">
                <div class="price">
                  <sup class="coin">$</sup>
                  <span class="value">239.40</span>
                  <small>/</small><span class="period annually">year</span>
                </div>
              </div>
              <a href="" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>250GB SSD</span></li>
              <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
              <li><i class="icon-emailopen"></i> <span class="c-purple">EMAIL</span><br> <span>120 Emails</span></li>
              <li><i class="icon-domains"></i> <span class="c-purple">TLD</span><br> <span>30 Domains</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="wrapper price-container text-left wow animated fadeInUp fast">
            <div class="plans badge feat bg-pink">best value</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/cloudlinux.svg" height="65" alt="">
              <div class="title">Linux 80 accounts</div>
              <div class="fromer">annually get (20% discount)</div>
              <div class="price-content">
                <div class="price">
                  <sup class="coin">$</sup>
                  <span class="value">299.40</span>
                  <small>/</small><span class="period annually">year</span>
                </div>
              </div>
              <a href="" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>2TB SSD</span></li>
              <li><i class="icon-speed"></i> <span class="c-pink">DATA</span><br> <span>Unlimited Bandwidth</span></li>
              <li><i class="icon-emailopen"></i> <span class="c-pink">EMAIL</span><br> <span>Unlimited Emails</span></li>
              <li><i class="icon-domains"></i> <span class="c-pink">TLD</span><br> <span>Unlimited Domains</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="scroll" class="history-section feat01 sec-normal">
    <div class="container">
      <div class="randomline">
        <div class="bigline"></div>
        <div class="smallline"></div>
      </div>
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast">
            <img class="svg first" src="patterns/api.svg" alt="api automation">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Reseller API Automation</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Go API</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="info-content">
              <h4>High Websites Performance</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
          </div>
          <div class="col-md-12 col-lg-6 offset-lg-1 wow animated fadeInUp fast">
            <img class="svg second" src="patterns/performance.svg" alt="performance">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast ">
            <img class="svg third" src="patterns/install.svg" alt="1-click-installer">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Easy 1-click-installer</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Go cPanel</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ***** -->
  <section class="services sec-normal sec-grad-yellow-to-black-right">
    <img class="path-left" src="patterns/motpath-w.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading text-white">Why choose Cloud Reseller?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/hierarchy.svg" alt="">
              <div class="title">Seamless Upgrades</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/cloudmanaged.svg" alt="">
              <div class="title">Perfomance Optimized</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">control panel</div>
              <img class="svg" src="fonts/svg/window.svg" alt="">
              <div class="title">Free cPanel & WHM</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** SPECIFICATIONS ***** -->
  <section class="sec-normal sec-bg1">
    <div class="best-plans pricing">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Reseller Technical Specifications</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive-lg">
              <table class="table sample mt-5">
                <thead>
                  <tr>
                    <td>
                      <span class="title">Software </span> <span class="badge bg-pink">PLUS</span>
                    </td>
                    <td>
                      <div class="title">Databases</div>
                    </td>
                    <td>
                      <div class="title">Additional Software</div>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr><td><div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."> <span class="fas fa-check-circle mr-2"></span> Latest cPanel</div></td><td><span class="fas fa-check-circle mr-2"></span> MySQL 5.6</td>
                  <td><span class="fas fa-check-circle mr-2"></span> WordPress</td></tr>
                  <tr><td><div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="fas fa-check-circle mr-2"></span> CloudLinux 6.9</div></td><td><span class="fas fa-check-circle mr-2"></span> phpMyAdmin 4.6.6</td><td><span class="fas fa-check-circle mr-2"></span> Joomla, Prestashop</td></tr>
                  <tr><td class="title-table"><span class="fas fa-check-circle mr-2"></span> PHP 5.5/5.6/7.0</td><td><span class="fas fa-check-circle mr-2"></span> FTPES Supported</td><td><span class="fas fa-check-circle mr-2"></span> Zend Engine</td></tr>
                  <tr><td class="title-table"><span class="fas fa-check-circle mr-3"></span>Python 2.6.6</td><td><span class="fas fa-check-circle mr-2"></span> MSSQL Stored Procedures</td><td><span class="fas fa-check-circle mr-2"></span> ionCube Loader </td></tr>
                  <tr><td class="border-0"><a href="" class="btn btn-default-pink-fill">All Specs</a></td><td class="border-0"><a href="" class="btn btn-default-pink-fill">All Specs</a></td><td class="border-0"><a href="" class="btn btn-default-pink-fill">All Specs</a></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FAQ. ***** -->
  <section class="sec-normal sec-grad-yellow-to-grey-right">
    <img class="path-right" src="patterns/motpath.svg" alt="">
    <div class="faq">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading">Frequently Asked Questions Reseller</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="accordion faq pt-5">
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>What exactly is Cloud Reseller?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>Is there a brandable control panel?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>Can my Linux Reseller plan be upgraded when needed?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title">
                  <span>I am not sure about the plan, can I change it later on?</span>
                  <div class="float-right">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.circliful.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/scripts.js"></script>
</body>
</html>