<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header motpath-w">
    <div class="total-grad"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="heading">Sections and Resources</div>
            <div class="subheding">Your layout by section allows easy and intuitive customization.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** TEAM ***** -->
  <section class="sec-normal sec-bg2">
    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Support & Help Desk team</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/supportman.svg" alt="team">
                <h3 class="heading">John T. Erikson</h3>
                <div class="subheading">Support, Helpdesk</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/commercialman.svg" alt="team">
                <h3 class="heading">Walter T. Adams</h3>
                <div class="subheading">Commercial Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/salesman.svg" alt="team">
                <h3 class="heading">Verna B. Ahmed</h3>
                <div class="subheading">Sales Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** SMALL FEATURES ***** -->
  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading">Features</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Premium</div>
              <img class="svg" src="fonts/svg/helpdesk.svg" alt="">
              <div class="title">Support 24x7x365</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
              </p>
              <a href="" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">Control Panel</div>
              <img class="svg" src="fonts/svg/window.svg" alt="">
              <div class="title">Free WHM &amp; cPanel</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor
              </p>
              <a href="" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/cloudmanaged.svg" alt="">
              <div class="title">Perfomance Optimized</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate
              </p>
              <a href="" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** OVERVIEW ***** -->
  <section id="features" class="history-section feat01 sec-normal sec-bg2">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first">
            <img class="svg" src="patterns/dbaasscale.svg" alt="DBaaS Performance">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Awesome performance & escalabilidade</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Product Details</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="info-content">
              <h4>High Availability and Resilience</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
          </div>
          <div class="col-md-12 col-lg-6 offset-lg-1 backups anima wow animated fadeInUp fast second">
            <img class="svg" src="patterns/dbaashigh.svg" alt="DBaaS Resilience">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
            <img class="svg" src="patterns/dbaassecure.svg" alt="DBaas Secure">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Highly Secure</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** BLOG ***** -->
  <section class="services blog sec-normal sec-bg3">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 text-left">
            <h2 class="section-heading text-white">The latest news in our blog</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-md-4">
            <img src="img/topbanner01.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="title mt-0">Dedicated or VPS Server?</div>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do...</p>
              <hr>
              <div class="small">
                <span class="icon-calendar text-dark"></span>
                <span class="pl-2 pr-4"> April 11, 2018 - 08.00 am</span>
              </div>
              <a href="blog" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/topbanner06.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="plans badge feat bg-pink">Domains</div>
              <div class="title mt-0">All about NGTLD?</div>
              <p class="subtitle">Excepteur sint occaecat cupidatat non proident voluptate...</p>
              <hr>
              <div class="small">
                <span class="icon-calendar text-dark"></span>
                <span class="pl-2 pr-4"> August 03, 2018 - 17.35 pm</span>
              </div>
              <a href="blog" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/topbanner03.jpg" alt="photo" class="img-responsive">
            <div class="service-section m-0">
              <div class="plans badge feat bg-pink">Premium</div>
              <div class="title mt-0">Anti-Vírus & Anti-SPAM</div>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do...</p>
              <hr>
              <div class="small">
                <span class="icon-calendar text-dark"></span>
                <span class="pl-2 pr-4"> November 11, 2018 - 13.30 pm</span>
              </div>
              <a href="blog" class="btn btn-default-yellow-fill">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** DATACENTER TOUR ***** -->
  <section class="sec-normal history-section custom cpupath">
    <div class="container">
      <div class="popup-gallery">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="section-heading">Data Center Tour</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/topbanner01.jpg" class="image-link" title="Caption text example 01">
              <img src="img/topbanner01.jpg" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/topbanner02.jpg" class="image-link" title="Caption text example 02">
              <img src="img/topbanner02.jpg" alt="">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mt-50">
            <a href="img/topbanner03.jpg" class="image-link" title="Caption text example 03">
              <img src="img/topbanner03.jpg" alt="" style="width: 100%; padding: 0px;">
              <div class="zoo-content">
                <div class="icoo">
                  <i class="icon-eye"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PRICING TABLES ***** -->
  <section class="sec-normal">
    <div class="best-plans pricing">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="sec-main sec-bg1">
          <div class="plans badge feat bg-pink">Compare All SSL Plans</div>
          <div class="row">
            <div class="col-sm-12">
              <div id="table-container" class="table-responsive-lg">
                <table id="maintable" class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td>
                        <div class="title">Positive SSL</div>
                        <div class="price"><sup>$</sup>39.99<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a><br>
                      </td>
                      <td>
                        <div class="title">Wildcard SSL</div>
                        <div class="price"><sup>$</sup>88.00<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                      <td>
                        <div class="title">EV SSL</div>
                        <div class="price"><sup>$</sup>110.99<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Domain Validation
                        </div>
                      </td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td>
                        <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Trust Logo Supported
                        </div>
                      </td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Sub-domains</td>
                      <td>5 Sub-domain</td>
                      <td>15 Sub-domain</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table"> Issued</td>
                      <td>2 Days</td>
                      <td>4 Days</td>
                      <td>6 Days</td>
                    </tr>
                    <tr>
                      <td class="title-table">Reissuance</td>
                      <td>Free</td>
                      <td>Free</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td class="title-table">Warranty</td>
                      <td>No included</td>
                      <td>$250,000</td>
                      <td>$1.000.000</td>
                    </tr>
                    <tr>
                      <td class="title-table">Encryption</td>
                      <td>128/256 bit SHA-2</td>
                      <td>128/256 bit SHA-2</td>
                      <td>128/256 bit SHA-2</td>
                    </tr>
                    <tr>
                      <td class="border-0 sticky-stopper"></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                    </tr>
                  </tbody>
                </table>
                <div id="bottom_anchor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** STATISTICS ***** -->
  <section class="circle-section sec-normal sec-bg1">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 text-left">
          <h2 class="section-heading">Our Statistics</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt consectetur adipiscing.</p>
          <a href="" class="btn btn-default-yellow-fill mt-5">Learn more</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 text-left">
          <div class="col-sm-12 col-md-4 col-lg-4 float-left">
            <div class="skill-section">
              <div class="circle-wrapper">
                <div class="circle-entry clearfix">
                  <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>19.322</strong><div class='title-round'>Clients</div>" data-width="5" data-fontsize="17" data-percent="90" data-fgcolor="#808080" data-bgcolor="transparent" data-bordersize="2">
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 float-left">
          <div class="skill-section">
            <div class="circle-wrapper">
              <div class="circle-entry clearfix">
                <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>9.510</strong><div class='title-round'>Equipment</div>" data-width="5" data-fontsize="17" data-percent="65" data-fgcolor="#808080" data-bgcolor="transparent" data-bordersize="2"></div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 float-left">
          <div class="skill-section">
            <div class="circle-wrapper">
              <div class="circle-entry clearfix">
                <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>1231</strong><div class='title-round'>Projects</div>" data-width="5" data-fontsize="17" data-percent="45" data-fgcolor="#808080" data-bgcolor="transparent" data-bordersize="2"></div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** FAQ. ***** -->
<section class="sec-normal sec-grad-yellow-to-grey-right">
  <img class="path-right" src="patterns/exapath.svg" alt="">
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2 class="section-heading">Frequently Asked Questions Magento Hosting Solutions</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-sm-12">
          <div class="accordion faq pt-5">
            <div class="panel-wrap">
              <div class="panel-title">
                <span>What is Magento Hosting?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>How to install Magento?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>How much does Magento cost?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>Do I get emails with Magento?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** PARTNERSHIPS ***** -->
<section class="services sec-normal">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-sm-12 text-left">
          <h2 class="section-heading">Our Partnerships</h2>
          <p class="section-subheading">Talent wins games, but partnerships and intelligence win championships.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="service-section">
            <img src="img/partners/wordpress.svg" alt="">
            <hr>
            <p class="subtitle">
              Excepteur sint occaecat cupidatat non proident voluptate
            </p>
            <a href="" class="btn btn-default-yellow-fill">Visit website</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="service-section">
            <img src="img/partners/joomla.svg" alt="">
            <hr>
            <p class="subtitle">
              Excepteur sint occaecat cupidatat non proident voluptate
            </p>
            <a href="" class="btn btn-default-yellow-fill">Visit website</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="service-section">
            <img src="img/partners/envato.svg" alt="">
            <hr>
            <p class="subtitle">
              Excepteur sint occaecat cupidatat non proident voluptate
            </p>
            <a href="" class="btn btn-default-yellow-fill">Visit website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.circliful.min.js"></script>
<script defer src="js/jquery.viewportchecker.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/variables.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>