<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** SLIDER ***** -->
  <section id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="full h-100">
      <div class="total-grad-grey"></div>
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <img class="svg custom-element-right" src="patterns/rack.svg" alt="Dedicated Server">
              <div class="heading">Dedicated Server <div class="animatype">With <span id="typed3"></span></div></div>
              <h3 class="subheading">Powerful servers with high-end resources <br>that will guarantee resource exclusivity, <br>starting at just <b class="c-pink">$90.22/mo</b><br>
              </h3>
              <a href="dedicated.html" class="btn btn-default-yellow-fill mr-3">Get Prices</a>
              <a href="dedicated.html" class="btn btn-default-pink-fill">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="full h-100">
      <div class="total-grad-grey-inverse"></div>
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <img class="svg custom-element-right" src="patterns/cloudvps.svg" alt="Domains">
              <h1 class="heading">Virtual <br>Cloud Servers</h1>
              <h3 class="subheading"><span class="c-pink">&#9679;</span> Immediate scalability<br><span class="c-pink">&#9679;</span> High performance <br><span class="c-pink">&#9679;</span> Fast deployment<br></h3>
              <a href="dedicated.html" class="btn btn-default-yellow-fill mr-3">Get Prices</a>
              <a href="dedicated.html" class="btn btn-default-pink-fill">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="full h-100">
      <div class="total-grad-grey"></div>
      <div class="vc-parent">
        <div class="vc-child">
          <div class="top-banner">
            <div class="container">
              <img class="svg custom-element-right" src="patterns/domains.svg" alt="Domains">
              <h1 class="heading">Your Perfect <br>Domain Name</h1>
              <h3 class="subheading">Search a domain of your choice from <b class="c-pink">$6.00/yr</b></h3>
              <form action="http://inebur.com/whmcs/domainchecker.php?systpl=antler" method="post">
                <div class="general-input w-50">
                  <input type="text" name="domain" placeholder="Start your search here" class="fill-input">
                  <input type="submit" value="Search" class="btn btn-default-yellow-fill">
                </div>
              </form>
              <div class="domain-prices">
                <ul>
                  <li>.com <div class="price"><sup>$</sup>8.00</div></li>
                  <li>.net <div class="price"><sup>$</sup>8.50</div></li>
                  <li>.org <div class="price"><sup>$</sup>12.00</div></li>
                  <li>.us <div class="price"><sup>$</sup>6.00</div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PRICING TABLES ***** -->
  <section class="slick sec-normal pt-4">
    <div id="slider">
      <div class="plan-container">
        <div class="wrapper">
          <div class="top-content">
            <div class="plans badge feat bg-pink">Managed</div>
            <div><img class="svg mb-3" src="fonts/svg/vps.svg" alt=""></div>
            <div class="title">Cloud VPS</div>
            <div class="fromer">windows</div>
            <div class="price"><sup>$</sup>109.99 <span class="period">/mo</span></div>
            <a href="" class="btn btn-default-yellow-fill">Configure</a>
          </div>
          <ul class="list-info bg-pink">
            <li><i class="icon-cpu"></i> <span class="c-purple">CPU</span><br> <span>2 Cores</span></li>
            <li><i class="icon-ram"></i> <span class="c-purple">RAM</span><br> <span>2Gb Memory</span></li>
            <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>20GB SSD Space</span></li>
            <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
          </ul>
        </div>
      </div>
      <div class="plan-container">
        <div class="wrapper">
          <div class="top-content">
            <div class="plans badge feat bg-grey">Plesk Onyx</div>
            <img class="svg mb-3" src="fonts/svg/dedicated.svg" alt="">
            <div class="title">Dedicated Server</div>
            <div class="fromer">windows</div>
            <div class="price"><sup>$</sup>185.00 <span class="period">/mo</span></div>
            <a href="" class="btn btn-default-yellow-fill">Configure</a>
          </div>
          <ul class="list-info bg-purple">
            <li><i class="icon-cpu"></i> <span class="c-pink">CPU</span><br> <span>4x 3.20Ghz 2 Cores</span></li>
            <li><i class="icon-ram"></i> <span class="c-pink">RAM</span><br> <span>16GB (up to 32GB)</span></li>
            <li><i class="icon-drivessd"></i> <span class="c-pink">DRIVES</span><br> <span>2 x 1TB SATA 3.5</span></li>
            <li><i class="icon-git"></i> <span class="c-pink">UPLINK</span><br> <span>1Gbps - 20TB</span></li>
          </ul>
        </div>
      </div>
      <div class="plan-container">
        <div class="wrapper">
          <div class="top-content">
            <img class="svg mb-3" src="fonts/svg/cloudfiber.svg" alt="">
            <div class="title">Cloud Hosting</div>
            <div class="fromer">cPanel</div>
            <div class="price"><sup>$</sup>24.99 <span class="period">/mo</span></div>
            <a href="" class="btn btn-default-yellow-fill">Order now</a>
          </div>
          <ul class="list-info bg-pink">
            <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>250GB SSD</span></li>
            <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
            <li><i class="icon-emailopen"></i> <span class="c-purple">EMAIL</span><br> <span>120 Emails</span></li>
            <li><i class="icon-domains"></i> <span class="c-purple">TLD</span><br> <span>30 Domains</span></li>
          </ul>
        </div>
      </div>
      <div class="plan-container">
        <div class="wrapper">
          <div class="top-content">
            <img class="svg mb-3" src="fonts/svg/reseller.svg" alt="">
            <div class="title">Cloud Reseller</div>
            <div class="fromer">Plesk Onyx</div>
            <div class="price"><sup>$</sup>36.90 <span class="period">/mo</span></div>
            <a href="" class="btn btn-default-yellow-fill">Order now</a>
          </div>
          <ul class="list-info bg-purple">
            <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>250GB SSD</span></li>
            <li><i class="icon-speed"></i> <span class="c-pink">DATA</span><br> <span>1TB Bandwidth</span></li>
            <li><i class="icon-emailopen"></i> <span class="c-pink">EMAIL</span><br> <span>120 Emails</span></li>
            <li><i class="icon-domains"></i> <span class="c-pink">TLD</span><br> <span>30 Domains</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CASE STUDY ***** -->
  <section class="casestudy sec-normal sec-bg2 exapath">
    <div class="container">
      <div class="sec-main bg-pink mb-0">
        <img src="img/casestudy.png" alt="Case Study">
        <div class="plans badge feat bg-purple">case study</div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="slider-container slider-filter">
              <div class="slider-wrap">
                <div class="swiper-container main-slider" data-autoplay="4000" data-touch="1" data-mouse="0" data-slides-per-view="responsive" data-loop="1" data-speed="1200" data-mode="horizontal" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <h3 class="author">Everth Group</h3>
                      <div class="content-info">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                        <em> Michael Jones - Executive Director</em>
                      </div>
                      <a href="casestudy/casestudy-everthgroup.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                    </div>
                    <div class="swiper-slide">
                      <h3 class="author">Growtop Company</h3>
                      <div class="content-info">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totamer rem aperiam, eaque ipsa quae ab illo inventore.</p>
                        <em> Matt Radford - President &amp; Managing Director</em>
                      </div>
                      <a href="casestudy/casestudy-growtop.pdf" class="btn btn-default-yellow-fill mb-2">Case Study Download</a>
                    </div>
                  </div>
                  <div class="pagination vertical-mode pagination-index"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/typed.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/idangerous.swiper.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/scripts.js"></script>
<script>
var typed3 = new Typed('#typed3', {
strings: ["Premium hardware.", "Large performance.", "Fully dedicated."],
typeSpeed: 50,
backSpeed: 20,
smartBackspace: true,
loop: true
});
</script>
</body>
</html>