<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
    <!-- ***** LOADING PAGE ****** -->
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">Antler...</div>
      </div>
    </div>
    <p id="nav-toggle">
    </p>
    <!-- **** FULL COUNTDOWN PAGE ***** -->
    <div class="fullrock sec-bg3 exapath-w">
      <a onclick="window.history.go(-1); return false;" class="closebtn">
        <img class="svg closer bg-transparent" src="fonts/svg/close.svg" alt="">
      </a>
      <div class="fullrock-content">
        <section class="pb-100">
          <div class="container">
            <a href="index"><img class="svg logo-menu" src="img/logo.svg" alt="logo Antler"></a>
            <div class="form-contact sec-main sec-bg1">
              <div class="randomline">
                <div class="bigline"></div>
                <div class="smallline"></div>
              </div>
              <h2 class="section-heading">We are coming soon!</h2>
              <p>We're currently working <span class="golink">fast on</span> creating something awesome</p>
              <div class="soc-icons-apply">
                <a href=""><span class="fab fa-facebook-f"></span></a>
                <a href=""><span class="fab fa-google-plus-g"></span></a>
                <a href=""><span class="fab fa-twitter"></span></a>
                <a href=""><span class="fab fa-linkedin-in"></span></a>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <div class="countdown pb-5 pt-4">
                    <div class="wrapper">
                      <div class="clock" id="clock"></div>
                    </div>
                  </div>
                  <form id="contactForm" class="comments-form">
                    <div class="general-input">
                      <input type="text" name="email" placeholder="Email address" class="fill-input b-solid">
                      <input id="form-submit" type="submit" class="btn btn-default-yellow-fill" value="Submit">
                    </div>
                    <div id="msgSubmit" class="h4 hidden"></div>
                  </form>
                </div>
                <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first pt-4">
                  <img class="svg soon" src="patterns/soon.svg" alt="dns redundant">
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- ***** COLORS ***** -->
    <section>
        <ul class="color-scheme">            
          <li class="pink"><a href="#" data-rel="pink" class="styleswitch"></a></li>
          <li class="blue"><a href="#" data-rel="blue" class="styleswitch"></a></li>
          <li class="green"><a href="#" data-rel="green" class="styleswitch"></a></li>
        </ul> 
    </section>
    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>
    <script defer src="js/jquery.countdown.js"></script>
    <script defer src="js/jquery.magnific-popup.min.js"></script>
    <script defer src="js/slick.min.js"></script>
    <script defer src="js/owl.carousel.min.js"></script>
    <script defer src="js/isotope.min.js"></script>
    <script defer src="js/scripts.js"></script>
  </body>
</html>