<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** BANNER ***** -->
  <div class="top-header item7 overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">SSL Certificates</h1>
            <h3 class="subheading">Security, credibility and trust for your visitors they deserve</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-up-slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper first text-left wow animated fadeInUp fast">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/privacy.svg" alt="">
              <div class="title">Positive SSL</div>
              <div class="fromer">+ VAT at 20%</div>
              <div class="price"><sup>$</sup>39.99 <span class="period">/year</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-lock"></i> <span class="c-purple">DOMAIN</span><br> <span>Secure HTTPS</span></li>
              <li><i class="icon-browser"></i> <span class="c-purple">BROWSER</span><br> <span>Padlock visible</span></li>
              <li><i class="icon-money"></i> <span class="c-purple">WARRANTY</span><br> <span>No included</span></li>
              <li><i class="icon-key"></i> <span class="c-purple">ENCRYPTION</span><br> <span>128/256 bit SHA-2</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper text-left wow animated fadeInUp">
            <div class="plans badge feat bg-pink">most popular</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/privacy.svg" alt="">
              <div class="title">Wildcard SSL</div>
              <div class="fromer">+ VAT at 20%</div>
              <div class="price"><sup>$</sup>88.00 <span class="period">/year</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-lock"></i> <span class="c-pink">DOMAIN</span><br> <span>Secure HTTPS</span></li>
              <li><i class="icon-browser"></i> <span class="c-pink">BROWSER</span><br> <span>Padlock visible</span></li>
              <li><i class="icon-money"></i> <span class="c-pink">WARRANTY</span><br> <span>$250.000</span></li>
              <li><i class="icon-key"></i> <span class="c-pink">ENCRYPTION</span><br> <span>128/256 bit SHA-2</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="wrapper third text-left wow animated fadeInUp fast">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/privacy.svg" alt="">
              <div class="title">EV SSL</div>
              <div class="fromer">+ VAT at 20%</div>
              <div class="price"><sup>$</sup>110.99 <span class="period">/year</span></div>
              <a href="" class="btn btn-default-yellow-fill">Buy now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-lock"></i> <span class="c-purple">DOMAIN</span><br> <span>Secure HTTPS</span></li>
              <li><i class="icon-browser"></i> <span class="c-purple">BROWSER</span><br> <span>Green bar visible</span></li>
              <li><i class="icon-money"></i> <span class="c-purple">WARRANTY</span><br> <span>$1.000.000</span></li>
              <li><i class="icon-key"></i> <span class="c-purple">ENCRYPTION</span><br> <span>128/256 bit SHA-2</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** WHY CHOOSE ANTLER ***** -->
  <section class="services sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/motpath.svg" alt="">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">Why get an SSL Certificates from Antler?</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-grey">visitors</div>
              <img class="svg" src="fonts/svg/privacy.svg" alt="">
              <div class="title">Guaranteed security</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <img class="svg" src="fonts/svg/award.svg" alt="">
              <div class="title">TrustLogo site seal</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="service-section">
              <div class="plans badge feat bg-pink">google</div>
              <img class="svg" src="fonts/svg/progress.svg" alt="">
              <div class="title">Ranking higher</div>
              <p class="subtitle">
                Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="features" class="history-section feat01 sec-normal sec-bg2">
    <div class="container">
      <div class="randomline">
        <div class="bigline"></div>
        <div class="smallline"></div>
      </div>
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first">
            <img class="svg" src="patterns/protectvisitors.svg" alt="git">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Protect your visitors</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Protect now</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="info-content">
              <h4>Secure browsing experience</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
          </div>
          <div class="col-md-12 col-lg-6 offset-lg-1 wow animated fadeInUp fast second">
            <img class="svg" src="patterns/ssl.svg" alt="deployment">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
            <img class="svg" src="patterns/ranking.svg" alt="ranking">
          </div>
          <div class="col-md-12 col-lg-5 offset-lg-1">
            <div class="info-content">
              <h4>Increase your rankings and grow</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will.</p>
            </div>
            <a href="" class="btn btn-default-yellow-fill mt-3">About ranking</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** PRICING TABLES ***** -->
  <section class="sec-normal">
    <div class="best-plans pricing">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="sec-main sec-bg1">
          <div class="plans badge feat bg-pink">Compare All SSL Plans</div>
          <div class="row">
            <div class="col-sm-12">
              <div id="table-container" class="table-responsive-lg">
                <table id="maintable" class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td>
                        <div class="title">Positive SSL</div>
                        <div class="price"><sup>$</sup>39.99<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a><br>
                      </td>
                      <td>
                        <div class="title">Wildcard SSL</div>
                        <div class="price"><sup>$</sup>88.00<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                      <td>
                        <div class="title">EV SSL</div>
                        <div class="price"><sup>$</sup>110.99<span class="period">/year</span></div>
                        <div class="info">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                        <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Domain Validation
                        </div>
                      </td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td>
                        <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="I must explain to you">Trust Logo Supported
                        </div>
                      </td>
                      <td><i class="fas fa-times"></i></td>
                      <td><i class="fas fa-check"></i></td>
                      <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                      <td class="title-table">Sub-domains</td>
                      <td>5 Sub-domain</td>
                      <td>15 Sub-domain</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                      <td class="title-table"> Issued</td>
                      <td>2 Days</td>
                      <td>4 Days</td>
                      <td>6 Days</td>
                    </tr>
                    <tr>
                      <td class="title-table">Reissuance</td>
                      <td>Free</td>
                      <td>Free</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td class="title-table">Warranty</td>
                      <td>No included</td>
                      <td>$250,000</td>
                      <td>$1.000.000</td>
                    </tr>
                    <tr>
                      <td class="title-table">Encryption</td>
                      <td>128/256 bit SHA-2</td>
                      <td>128/256 bit SHA-2</td>
                      <td>128/256 bit SHA-2</td>
                    </tr>
                    <tr>
                      <td class="border-0 sticky-stopper"></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                    </tr>
                  </tbody>
                </table>
                <div id="bottom_anchor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** TEAM ***** -->
  <section class="sec-normal sec-grad-yellow-to-grey-left">
    <img class="path-left" src="patterns/exapath.svg" alt="">
    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Did not find what you looking for? Contact below</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/supportman.svg" alt="team">
                <h3 class="heading">John T. Erikson</h3>
                <div class="subheading">Support, Helpdesk</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/commercialman.svg" alt="team">
                <h3 class="heading">Walter T. Adams</h3>
                <div class="subheading">Commercial Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="wrapper">
              <div class="img-section">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <img class="svg" src="patterns/salesman.svg" alt="team">
                <h3 class="heading">Verna B. Ahmed</h3>
                <div class="subheading">Sales Department</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="help pt-4 pb-80">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
              <a href="hosting" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Shared Hosting</div>
                  <div class="description">Need similar power but a simpler solution?</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="help-container">
              <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
              <a href="dedicated" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/dedicated.svg" alt="">
                </div>
                <div class="inform">
                  <div class="title">Go to Dedicated Server</div>
                  <div class="description">Need more power and resources?</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/variables.js"></script>
<script defer src="js/scripts.js"></script>
</body>
</html>