<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="fonts/opensans/opensans.css" rel="stylesheet">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/nouislider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink"/>
    <link href="css/colors/blue.css" rel="stylesheet" title="blue"/>
    <link href="css/colors/green.css" rel="stylesheet" title="green"/>
  </head>
  <body>
  <!-- ***** BANNERL ***** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
  <header id="header"> </header>
  <!-- ***** VIDEO BG ***** -->
  <div class="covervid-wrapper">
    <video class="covervid-video" autoplay loop muted poster="img/topbanner03.jpg">
      <source src="videos/Modem-lights.webm" type="video/webm">
      <source src="videos/Modem-lights.mp4" type="video/mp4">
    </video>
  </div>
  <!-- ***** SLIDER ***** -->
  <div class="top-header overlay-video">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wrapper">
            <h1 class="heading">Cloud VPS</h1>
            <h3 class="subheading">Enjoy increased flexibility and get the performance you need with SSD Storage.<br>
            <a href="#features" class="golink gocheck"> <small>Features</small> </a> <small class="c-white">&#9679;</small>
            <a href="#custom" class="golink gocheck"> <small>Custom VPS</small> </a> <small class="c-white">&#9679;</small>
            <a href="#faq" class="golink gocheck"> <small>FAQ</small></a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** PRICING TABLES ***** -->
  <section class="pricing special sec-up-slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp">
          <div class="wrapper first text-left">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/vps.svg" alt="">
              <div class="title">Business VPS</div>
              <div class="fromer">Best value-for-money Servers</div>
              <div class="price"><sup>$</sup>9.99 <span class="period">/month</span></div>
              <a href="http://inebur.com/whmcs/cart.php?a=add&pid=4" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-cpu"></i> <span class="c-purple">CPU</span><br> <span>2 Cores</span></li>
              <li><i class="icon-ram"></i> <span class="c-purple">RAM</span><br> <span>2GB Memory</span></li>
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>60GB Space</span></li>
              <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp fast">
          <div class="wrapper text-left">
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/vps.svg" alt="">
              <div class="title">Professional VPS</div>
              <div class="fromer">Intensive resources, delivered</div>
              <div class="price"><sup>$</sup>19.00 <span class="period">/month</span></div>
              <a href="http://inebur.com/whmcs/cart.php?a=add&pid=5" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info bg-purple">
              <li><i class="icon-cpu"></i> <span class="c-pink">CPU</span><br> <span>3 Cores</span></li>
              <li><i class="icon-ram"></i> <span class="c-pink">RAM</span><br> <span>4GB Memory</span></li>
              <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>120GB Space</span></li>
              <li><i class="icon-speed"></i> <span class="c-pink">DATA</span><br> <span>2TB Bandwidth</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 wow animated fadeInUp">
          <div class="wrapper third text-left">
            <div class="plans badge feat bg-pink">recommended</div>
            <div class="top-content">
              <img class="svg mb-3" src="fonts/svg/vps.svg" alt="">
              <div class="title">Enterprise VPS</div>
              <div class="fromer">High performance and traffic</div>
              <div class="price"><sup>$</sup>34.99 <span class="period">/month</span></div>
              <a href="http://inebur.com/whmcs/cart.php?a=add&pid=6" class="btn btn-default-yellow-fill">Order now</a>
            </div>
            <ul class="list-info">
              <li><i class="icon-cpu"></i> <span class="c-purple">CPU</span><br> <span>4 Cores</span></li>
              <li><i class="icon-ram"></i> <span class="c-purple">RAM</span><br> <span>8GB Memory</span></li>
              <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>240GB Space</span></li>
              <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>3TB Bandwidth</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FEATURES ***** -->
  <section id="features" class="history-section sec-normal exapath">
    <div class="container">
      <div class="sec-main sec-bg1">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Fully scalable to grow with you</h4>
              <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/scalable.svg" alt="scalable" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Instant provisioning</h4>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="#" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/provisioning.svg" alt="provisioning" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="info-content">
              <h4>Redundant infrastructure</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#" class="golink">quis nostrud exercitation ullamco</a> laboris nisi.</p>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
            <img class="svg" src="patterns/redundant.svg" alt="redundant">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** VIDEO DATACENTER ***** -->
  <section class="getready sec-grad-yellow-to-black-right">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="column-support-txt">
            <div class="column-support-title">Watch Antler Data Center</div>
            <div class="column-support-subtitle">Your services in advanced Data Centers and Infrastructures.</div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="btn-floats">
            <a class="btn btn-default-yellow-fill mr-3 popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Video Data Center</a>
            <a href="contact.html" class="btn btn-default-pink-fill">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** SPECIFICATIONS ***** -->
  <section class="sec-normal sec-bg1">
    <div class="best-plans pricing">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">VPS Server Technical Specifications</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive-lg">
              <table class="table sample mt-5">
                <thead>
                  <tr><td><span class="title">Features </span></td><td><div class="title">Performance</div></td><td><div class="title">Boosters</div></td></tr>
                </thead>
                <tbody>
                  <tr><td><div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="fas fa-check-circle mr-2"></span>
                  CentOS 6/7, Ubuntu 16v</div></td><td><span class="fas fa-check-circle mr-2"></span> SSD Storage</td><td><span class="fas fa-check-circle mr-2"></span> cPanel</td></tr>
                  
                  <tr><td><div class="title-table" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="fas fa-check-circle mr-2"></span> Fedora 23, Debian 8</div></td><td><span class="fas fa-check-circle mr-2"></span> Tier IV Data Center</td><td><span class="fas fa-check-circle mr-2"></span> Plesk Onyx</td></tr>
                  <tr><td class="title-table"><span class="fas fa-check-circle mr-2"></span> Private Network</td><td><span class="fas fa-check-circle mr-2"></span> Juniper Networks</td><td><span class="fas fa-check-circle mr-2"></span>  WHMCS</td></tr>
                  <tr><td class="title-table"><span class="fas fa-check-circle mr-3"></span> Quick VNC access</td><td><span class="fas fa-check-circle mr-2"></span> DDos mitigation</td><td><span class="fas fa-check-circle mr-2"></span> SAN storage</td></tr>
                  
                  <tr><td class="border-0"><a href="" class="btn btn-default-pink-fill">All Specs</a></td><td class="border-0"><a href="" class="btn btn-default-pink-fill">All Specs</a></td><td class="border-0"><a href="" class="btn btn-default-pink-fill">All Specs</a></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CUSTOM VPS SLIDER ***** -->
  <section id="custom" class="sec-normal sec-bg3 motpath-w">
    <div class="container">
      <div class="wpc-cloud-range">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading text-white">Custom Your VPS Server</h2>
            <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="slider-ui" data-handle="1">
              <input class="slider-inp invisible" data-count-step="5" type="text" />
              <div class="slider-line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="wpc-vps-info">
        <div class="row">
          <div class="col-md-12 col-lg-9">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <h3 class="title">
                <i class="icon-cpu"></i> CPU <span id="cpu-val" class="info">---</span>
                </h3>
              </div>
              <div class="col-sm-12 col-md-4">
                <h3 class="title">
                <i class="icon-ram"></i> RAM <span id="ram-val" class="info">---</span>
                </h3>
              </div>
              <div class="col-sm-12 col-md-4">
                <h3 class="title">
                <i class="icon-drivessd"></i> Disk Space <span id="disk-val" class="info">---</span>
                </h3>
              </div>
              <div class="col-sm-12 col-md-4">
                <h3 class="title">
                <i class="icon-speed"></i> Bandwidth <span id="bw-val" class="info">---</span>
                </h3>
              </div>
              <div class="col-sm-12 col-md-4">
                <h3 class="title">
                <i class="icon-repair"></i> Setup <span id="setup-val" class="info">---</span>
                </h3>
              </div>
              <div class="col-sm-12 col-md-4">
                <h3 class="title">
                <i class="icon-network"></i> IP Address<span id="ip-val" class="info">---</span>
                </h3>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-3">
            <div class="h-plans-info">
              <div class="content-price price-container">
                <div id="run-switch" class="run-switch"><div class="switch m-0" onclick="switchVisible();"></div></div>
                <div class="price-content">
                  <div class="plans badge feat bg-pink period">month</div>
                  <div class="price"><span class="symbol coin">$</span>
                  <span id="price-val"></span>
                  <span id="priceon-val"></span>
                </div>
                <div class="infos"><div class="badge feat bg-grey">Info</div> If you subscribe for an extended period, you will get a discount</div>
                <a href="#" class="btn btn-default-yellow-fill">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** FAQ. ***** -->
<section id="faq" class="sec-normal sec-grad-yellow-to-white-right">
  <img class="path-right" src="patterns/exapath.svg" alt="">
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2 class="section-heading">Frequently Asked Questions VPS</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-sm-12">
          <div class="accordion faq pt-5">
            <div class="panel-wrap">
              <div class="panel-title">
                <span>Do the Virtual Private Servers have a backup policy?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>What are the benefits of Cloud VPS?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>Is Email Hosting included?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>What type of support do you offer?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** HELP ***** -->
<section class="help pt-4 pb-80">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="help-container">
            <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
            <a href="hosting" class="help-item">
              <div class="img">
                <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
              </div>
              <div class="inform">
                <div class="title">Go to Shared Hosting</div>
                <div class="description">Need similar power but a simpler solution?</div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="help-container">
            <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
            <a href="dedicated" class="help-item">
              <div class="img">
                <img class="svg ico" src="fonts/svg/dedicated.svg" alt="">
              </div>
              <div class="inform">
                <div class="title">Go to Dedicated Server</div>
                <div class="description">Need more power and resources?</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
<footer id="footer"> </footer>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/nouislider.js"></script>
<script defer src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script src="js/covervid.min.js"></script>
<script src="js/scripts.js"></script>
<script>$('.covervid-video').coverVid(1920, 1080);</script>
</body>
</html>