
body {
  
}

body, h1{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

.container {
  margin-left:  auto;
  margin-right:  auto;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.col-md-6 {
  width: 50%;
}

.col-md-push-3 {
  margin-left: 25%;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

a {
  text-decoration: none;
}
