/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
.domain-checker-container, .domain-checker-container .input-group-box, .domain-checker-container .form-control, .domain-checker-container .domain-check-availability, .domain-checker-container .btn-sm{
	border-radius: 0 !important;
}
section#main-body {
    margin-top: 40px !important;
	margin-bottom: 0 !important;
}
.fb_iframe_widget{
	margin-bottom:20px !important;
}
.table > thead > tr > th {
    border-bottom: 1px solid #e4e4e4 !important;
    text-transform: uppercase !important;
}
div.header-lined h1{
	text-transform: uppercase !important;
}
div.header-lined .breadcrumb{
	text-transform: uppercase !important;
}
div.header-lined h1{
	color: ##119ee7;
}
.announcement-single h2 a {
    color: ##119ee7;
	text-decoration: none !important;
}
.navbar-main .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none !important;
    color: #fff !important;
    background-color: ##119ee7;
}
#btnShowSidebar {
    outline: 0 none;
}
@media only screen and (max-width: 750px) {
.home-shortcuts li:first-child {
    border-left: medium none !important;
}
.home-shortcuts li {
    border-right: medium none !important;
}
}

.col-md-9.pull-md-right.main-content{
z-index: 1 !important;
}
@media only screen and (max-width: 998px) {
.col-md-9.pull-md-right.main-content{
margin: 0 15px !important;
}
}

.col-md-9.pull-md-right.main-content .ticket-reply {
margin-bottom: 80px !important;
}
.col-md-9.pull-md-right.main-content .table-container.clearfix {
margin-bottom: 120px !important;
}
.col-md-9.pull-md-right.main-content .form-horizontal .col-sm-offset-3{
margin-left: 0 !important;
}
@media (min-width: 768px){
.col-md-9.pull-md-right.main-content .form-horizontal .col-sm-offset-3{
margin-left: 0 !important;
}
}

.form-horizontal .col-sm-offset-3{
margin-left: 0 !important;
}
@media (min-width: 768px){
.form-horizontal .col-sm-offset-3{
margin-left: 0 !important;
}
}
.col-md-9.pull-md-right.main-content .col-sm-offset-3{
margin-left: 0 !important;
}
@media (min-width: 768px){
.col-md-9.pull-md-right.main-content .col-sm-offset-3{
margin-left: 0 !important;
}
}
#domainresults .text-center, #domainresults .domainavailable, #domainresults .domainunavailable{
	background-color: #fff !important;
}
#order-modern .panel-title{
	text-align: center;
	margin-top: 20px;
}
#order-modern h1 {
    font-size: 36px !important;
    margin-top: 30px;
    text-align: center;
}