<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostio">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="about.html">About us</a></li>
                <li class="dropdown">
                    <a href="hosting.html">Hosting <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="whosting.html">Web Hosting</a></li>
                      <li><a href="chosting.html">Cloud Hosting</a></li>
                      <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Help & Support</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="login-button" href="login.html">Login</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">About Hostio</div>
                <div class="page-subtitle">Etiam condimentum metus rhoncus purus pharetra tempor. Sed faucibus lectus quis tellus fermentum gravida.</div>
            </div>
        </div>
    </div>
</div>
<div id="brief" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Fusce ac mauris vulputate, tempus neque nec, porttitor sapien. Mauris dignissim massa justo, sed pellentesque ipsum lobortis in. Mauris venenatis sem enim, sed tincidunt lacus semper nec. Nulla dictum mollis consectetur. Quisque eu tincidunt mi. Nulla suscipit lacus sit amet mi commodo, eu scelerisque ligula pulvinar.</p>
            </div>
        </div>
    </div>
</div>
<div id="message" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>What Makes us different?</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
            <div class="col-md-6">
                <h3>Who needs our services?</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
        </div>
    </div>
</div>
<div id="story" class="container-fluid">
    <div class="row">
        <div class="col-md-6 img-col">
            <div class="image-holder"></div>
        </div>
        <div class="col-md-6 txt-col">
            <h3>Our full story</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.<br><br>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br><br>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
    </div>
</div>
<div id="services" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Our Services</div>
                <div class="row-subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui<br>
blanditiis praesentium voluptatum deleniti atque ceserunt mollitia animi,</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <div class="icon-bg"><img src="images/cloud1.png" alt="cloud" /></div>
                        <i class="hsto hsto-technology"></i>
                    </div>
                    <div class="service-title">World Class Hosting</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <div class="icon-bg"><img src="images/cloud2.png" alt="cloud" /></div>
                        <i class="hsto hsto-cloud"></i>
                    </div>
                    <div class="service-title">Great Support</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <div class="icon-bg"><img src="images/cloud3.png" alt="cloud" /></div>
                        <i class="hsto hsto-computer"></i>
                    </div>
                    <div class="service-title">38 Day Guarantee</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="more-details-button">More details</a>
            </div>
        </div>
    </div>
</div>
<div id="team" class="container-fluid">
    <div class="image-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Our Team</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Behind every great support, Hostio Team!</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis<br>
praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et iusto odio dignissimos</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="get-started-button">Join our team!</a>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-1">
                <img class="logo-mini" src="images/logo-mini.png" alt="Hostio" />
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Company</h4>
                <ul class="footer-menu">
                    <li class="active"><a href="about.html">About us</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Policy</h4>
                <ul class="footer-menu">
                    <li><a href="terms.html">Terms and Conditions</a></li>
                    <li><a href="policy.html">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Services</h4>
                <ul class="footer-menu">
                    <li><a href="whosting.html">Web Hosting</a></li>
                    <li><a href="chosting.html">Cloud Hosting</a></li>
                    <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    <li><a href="domain.html">Domain Names</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Other links</h4>
                <ul class="footer-menu">
                    <li><a href="transfer.html">Transfer domains</a></li>
                    <li><a href="portal.html">Customer Portal</a></li>
                    <li><a href="support.html">Support Portal</a></li>
                    <li><a href="tutorials.html">Video Tutorials</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                <div class="email"><i class="fa fa-envelope"></i> hello@hostio.io</div>
                <div class="address">
                    <i class="fa fa-map-marker"></i> 
                    <div>Brizbin, Australia<br>
                        Road 398, Center<br>
                        Office 38, floor 3</div>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
