<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostio">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">About us</a></li>
                <li class="dropdown">
                    <a href="hosting.html">Hosting <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="whosting.html">Web Hosting</a></li>
                      <li><a href="chosting.html">Cloud Hosting</a></li>
                      <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Help & Support</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="login-button" href="login.html">Login</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">News</div>
                <div class="page-subtitle"></div>
            </div>
        </div>
    </div>
</div>
<div id="page-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="article-box full-article">
                    <div class="article-title">
                        <h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel sodales mauris.</h5>
                    </div>
                    <div class="article-info">Posted by <a href="#">Ryan Valentin</a> on June 06, 2016</div>
                    <div class="article-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel sodales mauris. Nunc accumsan mi massa, ut maximus magna ultricies et. Praesent eleifend fermentum finibus. Integer quam odio, ullamcorper id diam in, accumsan convallis libero. Duis at lacinia urna. Mauris eget turpis sit amet purus pulvinar facilisis at sed lacus. Quisque malesuada volutpat orci, accumsan scelerisque lorem pulvinar vitae. Vestibulum sit amet sem aliquam, vestibulum nisi sed, sodales libero.</p>
                        
                        <p>Aenean accumsan aliquam justo, et rhoncus est ullamcorper at. Donec posuere dictum enim, vel sollicitudin orci tincidunt ac. Maecenas mattis ex eu elit tincidunt egestas. Vivamus posuere nunc vel metus bibendum varius. Vestibulum suscipit lacinia eros a aliquam. Sed dapibus arcu eget egestas hendrerit. Vivamus consectetur metus at nulla efficitur mattis. Aenean egestas eu odio vestibulum vestibulum. Duis nulla lectus, lacinia vitae nibh vitae, sagittis interdum lacus. Mauris lacinia leo odio, eget finibus lectus pharetra ut. Nullam in semper enim, id gravida nulla. Fusce gravida auctor justo, vel lobortis sem efficitur id. Cras eu eros vitae justo dictum tempor.</p>

                        <p>Etiam sed fermentum lectus. Quisque vitae ipsum libero. Phasellus sit amet vehicula arcu. Etiam pulvinar dui libero, vitae fringilla nulla convallis in. Fusce sagittis cursus nisl, at consectetur elit vestibulum vestibulum. Nunc pulvinar efficitur interdum. Donec feugiat feugiat pulvinar. Suspendisse eu risus feugiat, pellentesque arcu eu, molestie lorem. Duis non leo commodo, euismod ipsum a, feugiat libero. Proin sodales dignissim eros luctus rhoncus. Nulla aliquam nibh vitae odio vehicula suscipit.</p>

                        <p>Sed sollicitudin, diam nec tristique tincidunt, nulla ligula facilisis nunc, non condimentum tortor leo id ex. Suspendisse eget accumsan massa, venenatis fermentum dui. In hac habitasse platea dictumst. Morbi libero tortor, interdum fermentum justo et, mollis interdum justo. Morbi a accumsan urna. Mauris interdum molestie arcu, vitae venenatis risus consequat ac. Maecenas euismod diam vel ligula vulputate porttitor. Duis semper nisi tempus enim laoreet, vitae hendrerit neque commodo. Vivamus quis nibh sit amet risus rutrum blandit. Maecenas ligula sapien, pharetra eu tincidunt ut, euismod sit amet sapien. Pellentesque blandit, est id sodales tincidunt, libero ex iaculis arcu, sed lacinia felis metus eu erat. Phasellus auctor sagittis diam, sit amet dapibus nibh dignissim nec.</p>

                        <p>Fusce condimentum lacus ut orci faucibus, in aliquam lacus porta. Sed id velit diam. Suspendisse id nisi ut purus interdum consequat. Duis finibus faucibus dignissim. Nam posuere dui nec faucibus vulputate. Etiam et convallis odio, a varius dui. Mauris mollis neque ac ante venenatis hendrerit. Quisque ultrices lorem sodales, fermentum lectus nec, faucibus lacus. Nam vitae quam sapien. Fusce eget dictum sem, et interdum erat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-1">
                <img class="logo-mini" src="images/logo-mini.png" alt="Hostio" />
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Company</h4>
                <ul class="footer-menu">
                    <li><a href="about.html">About us</a></li>
                    <li class="active"><a href="news.html">News</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Policy</h4>
                <ul class="footer-menu">
                    <li><a href="terms.html">Terms and Conditions</a></li>
                    <li><a href="policy.html">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Services</h4>
                <ul class="footer-menu">
                    <li><a href="whosting.html">Web Hosting</a></li>
                    <li><a href="chosting.html">Cloud Hosting</a></li>
                    <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    <li><a href="domain.html">Domain Names</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Other links</h4>
                <ul class="footer-menu">
                    <li><a href="transfer.html">Transfer domains</a></li>
                    <li><a href="portal.html">Customer Portal</a></li>
                    <li><a href="support.html">Support Portal</a></li>
                    <li><a href="tutorials.html">Video Tutorials</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                <div class="email"><i class="fa fa-envelope"></i> hello@hostio.io</div>
                <div class="address">
                    <i class="fa fa-map-marker"></i> 
                    <div>Brizbin, Australia<br>
                        Road 398, Center<br>
                        Office 38, floor 3</div>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
