<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostio">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">About us</a></li>
                <li class="dropdown">
                    <a href="hosting.html">Hosting <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="whosting.html">Web Hosting</a></li>
                      <li><a href="chosting.html">Cloud Hosting</a></li>
                      <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Help & Support</a></li>
                <li class="active"><a href="contact.html">Contact us</a></li>
                <li><a class="login-button" href="login.html">Login</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">Contact us</div>
                <div class="page-subtitle">Need something else? Send a direct message to our support team or contact us here</div>
            </div>
        </div>
    </div>
</div>
<div id="details" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col-title">Contact form</div>
                <form id="contactform" method="post" autocomplete="off">
                    <div class="form-items-holder">
                        <div class="form-text">
                            <input type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-text">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-text">
                            <input type="text" name="website" placeholder="Website" required>
                        </div>
                        <div class="form-text">
                            <textarea name="message" placeholder="Message" required></textarea>
                        </div>
                        <div class="form-button"><input id="submit" type="submit" value="Send now"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 contacts">
                <div class="col-title">Office Locations</div>
                
                <h4>Sydney</h4>
                <p>Sydney, Australia<br>
                Road 398, Center, Office 38, floor 3<br>
                Contact number: 0901</p>

                <h4>United States</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus 
                qui blanditiis. praesentium voluptatum deleniti llitia animi, 
                At vero eos et accusamus et Main iusto odio dignissimos.</p>

                <h4>Bahrain</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus 
                qui blanditiis. praesentium voluptatum deleniti llitia animi, 
                inquiries@streamango</p>
                
                <a class="lg-link" href="support.html">Technical Support <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
            </div>
        </div>
    </div>
</div>
<div id="more-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Already have an account?</div>
                <div class="row-subtitle">Phasellus accumsan nisi eu arcu condimentum sollicitudin. Nulla auctor quis est at suscipit. <br>
Maecenas ac urna eget magna vulputate interdum.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="get-started-button">Sign in to your account</a>
            </div>
        </div>
    </div>
</div> 
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-1">
                <img class="logo-mini" src="images/logo-mini.png" alt="Hostio" />
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Company</h4>
                <ul class="footer-menu">
                    <li><a href="about.html">About us</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li class="active"><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Policy</h4>
                <ul class="footer-menu">
                    <li><a href="terms.html">Terms and Conditions</a></li>
                    <li><a href="policy.html">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Services</h4>
                <ul class="footer-menu">
                    <li><a href="whosting.html">Web Hosting</a></li>
                    <li><a href="chosting.html">Cloud Hosting</a></li>
                    <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    <li><a href="domain.html">Domain Names</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Other links</h4>
                <ul class="footer-menu">
                    <li><a href="transfer.html">Transfer domains</a></li>
                    <li><a href="portal.html">Customer Portal</a></li>
                    <li><a href="support.html">Support Portal</a></li>
                    <li><a href="tutorials.html">Video Tutorials</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                <div class="email"><i class="fa fa-envelope"></i> hello@hostio.io</div>
                <div class="address">
                    <i class="fa fa-map-marker"></i> 
                    <div>Brizbin, Australia<br>
                        Road 398, Center<br>
                        Office 38, floor 3</div>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
