<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostio">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">About us</a></li>
                <li class="dropdown">
                    <a href="hosting.html">Hosting <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="whosting.html">Web Hosting</a></li>
                      <li><a href="chosting.html">Cloud Hosting</a></li>
                      <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Help & Support</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="login-button" href="login.html">Login</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">FAQ</div>
                <div class="page-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
        </div>
    </div>
</div>
<div id="page-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>

                <h4>non proident, sunt in culpa qui officia deserunt mollit anim id est?</h4>
                <p>eget mauris lacinia lacinia. Quisque in scelerisque augue. Vestibulum nec ornare tellus. Maecenas ac luctus risus. Maecenas laoreet leo lacus, a rutrum ante hendrerit a. Quisque euismod placerat sapien sed tempor. Nulla et magna dictum, tincidunt mi ut, fringilla nibh. Sed in lectus ac dui faucibus elementum.</p>
                
                <h4>rnare, lacinia mauris. Duis sit amet blandit dolor, sit amet accumsan ligula?</h4>
                <p>Duis ipsum dui, condimentum vehicula commodo at, finibus nec risus. Pellentesque ultricies aliquet lorem, at tempus justo scelerisque nec. Vivamus dignissim volutpat quam, vitae pellentesque velit gravida a. In porttitor felis metus, a porta enim eleifend at. Aliquam tristique ipsum diam.</p>
                
                <h4>Fusce eu quam iaculis, posuere massa ut, venenatis mauris?</h4>
                <p>onvallis sapien imperdiet ultrices suscipit. Duis at commodo nisl. Ut at gravida erat. Pellentesque ultrices sed metus id porttitor. Curabitur vitae eros at velit vehicula commodo quis vel felis. Integer egestas est quis eleifend malesuada. Mauris sit amet sodales ipsum, id vulputate nunc.</p>
                
                <h4>Proin ut augue id sem dapibus pellentesque commodo non?</h4>
                <p>massa in est pellentesque mollis. Phasellus egestas odio in odio sodales ullamcorper. Donec rhoncus in lacus vitae pulvinar. Nulla molestie dolor at ornare tempus. Ut pellentesque nulla luctus urna bibendum ultrices. Maecenas pulvinar tincidunt dictum. Ut sagittis mi faucibus felis luctus interdum.</p>
                
                <h4>Cras feugiat porttitor neque ut malesuada?</h4>
                <p>quam sem finibus lectus, vitae tincidunt ante sapien sit amet massa. Duis at turpis nec magna ullamcorper tincidunt. Pellentesque lectus dui, iaculis at maximus eu, tristique maximus tellus. Suspendisse ultricies sagittis sapien non accumsan. Donec scelerisque, massa sit amet sagittis lacinia, orci mauris malesuada tellus.</p>
                
                <h4>Class aptent taciti sociosqu ad litora torquent per conubia nostra?</h4>
                <p>Mauris pulvinar sem metus, at facilisis arcu laoreet nec. Suspendisse maximus suscipit est non dignissim. Donec sit amet dolor aliquam, hendrerit erat nec, cursus dolor. Mauris vitae vestibulum lectus. Vivamus lectus ex, fermentum ut congue ac, tincidunt a massa. Curabitur nisi nisl.</p>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-1">
                <img class="logo-mini" src="images/logo-mini.png" alt="Hostio" />
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Company</h4>
                <ul class="footer-menu">
                    <li><a href="about.html">About us</a></li>
                    <li><a href="news.html">News</a></li>
                    <li class="active"><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Policy</h4>
                <ul class="footer-menu">
                    <li><a href="terms.html">Terms and Conditions</a></li>
                    <li><a href="policy.html">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Services</h4>
                <ul class="footer-menu">
                    <li><a href="whosting.html">Web Hosting</a></li>
                    <li><a href="chosting.html">Cloud Hosting</a></li>
                    <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    <li><a href="domain.html">Domain Names</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Other links</h4>
                <ul class="footer-menu">
                    <li><a href="transfer.html">Transfer domains</a></li>
                    <li><a href="portal.html">Customer Portal</a></li>
                    <li><a href="support.html">Support Portal</a></li>
                    <li><a href="tutorials.html">Video Tutorials</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                <div class="email"><i class="fa fa-envelope"></i> hello@hostio.io</div>
                <div class="address">
                    <i class="fa fa-map-marker"></i> 
                    <div>Brizbin, Australia<br>
                        Road 398, Center<br>
                        Office 38, floor 3</div>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
