<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostio">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">About us</a></li>
                <li class="dropdown">
                    <a href="hosting.html">Hosting <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="whosting.html">Web Hosting</a></li>
                      <li><a href="chosting.html">Cloud Hosting</a></li>
                      <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Help & Support</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="login-button" href="login.html">Login</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="big-title">Better Web Hosting, For You.</div>
                <div class="sub-title">Morbi libero tortor, interdum fermentum justo et, mollis interdum justo. Morbi a accumsan urna.</div>
                <div class="domain-search-holder">
                    <form id="domain-search">
                        <input id="domain-text" type="text" name="domain" placeholder="Enter your new domain name" />
                        <input id="search-btn" type="submit" name="submit" value="Get started" />
                    </form>
                </div>
                <div class="animation">
                    <img src="images/laptop.png" alt="laptop" />
                    <ul class="icons-list">
                        <li><a href="#"><i class="fa fa-thumbs-up"></i></a></li>
                        <li><a href="#"><i class="fa fa-commenting"></i></a></li>
                        <li><a href="#"><i class="fa fa-wifi"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                        <li><a href="#"><i class="fa fa-bullhorn"></i></a></li>
                    </ul>
                    <canvas id="hand-animation"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="features" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">World Class Hosting</div>
                <div class="row-subtitle">Sed lectus mauris, interdum at luctus vel, lobortis semper nisi.<br />
                    Integer vel porttitor sem. Aliquam erat volutpat.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="box-bg"></div>
                    <div class="feature-icon"><i class="hsto hsto-cloud-computing"></i></div>
                    <div class="feature-title">Knowledge base</div>
                    <div class="feature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                    <div class="feature-button">
                        <a class="all-feature-button" href="#info">All Features</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box active">
                    <div class="box-bg"></div>
                    <div class="feature-icon"><i class="hsto hsto-mouse"></i></div>
                    <div class="feature-title">Insured Safety</div>
                    <div class="feature-details">Aliquam consectetur aliquet libero, ut viverra velit bibendum a. Nullam et sapien ac eros feugiat sollicitudin.</div>
                    <div class="feature-button">
                        <a class="all-feature-button" href="#info">All Features</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="box-bg"></div>
                    <div class="feature-icon"><i class="hsto hsto-worldwide"></i></div>
                    <div class="feature-title">Easy steps</div>
                    <div class="feature-details">Sed faucibus lectus quis tellus fermentum gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="feature-button">
                        <a class="all-feature-button" href="#info">All Features</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pricing" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Our Services</div>
                <div class="row-subtitle">Vestibulum aliquam erat eu dictum porttitor.<br /> Aliquam feugiat risus lorem, non tempor purus egestas at.
</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box green-after best-seller">
                    <div class="pricing-icon green-color"><i class="hsto hsto-technology"></i></div>
                    <div class="pricing-title">Web Hosting</div>
                    <div class="pricing-details">
                        <ul>
                            <li>Mauris venenatis sem enim</li>
                        </ul>
                    </div>
                    <div class="pricing-amount">
                        <div>Starting at</div>
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">3.8</span>
                            <span class="duration"> / Month</span>
                        </div>
                    </div>
                    <div class="pricing-button"><a href="whosting.html" class="green-button">Start today</a></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box pink-after">
                    <div class="pricing-icon pink-color"><i class="hsto hsto-cloud"></i></div>
                    <div class="pricing-title">Cloud Hosting</div>
                    <div class="pricing-details">
                        <ul>
                            <li>Nunc sed consectetur mauris</li>
                        </ul>
                    </div>
                    <div class="pricing-amount">
                        <div>Starting at</div>
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">58.9</span>
                            <span class="duration"> / Month</span>
                        </div>
                    </div>
                    <div class="pricing-button"><a href="chosting.html" class="pink-button">I want this</a></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="pricing-box purple-after">
                    <div class="pricing-icon purple-color"><i class="hsto hsto-computer"></i></div>
                    <div class="pricing-title">Dedicated hosting</div>
                    <div class="pricing-details">
                        <ul>
                            <li>Cras interdum nibh mattis tellus</li>
                        </ul>
                    </div>
                    <div class="pricing-amount">
                        <div>Starting at</div>
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">288.9</span>
                            <span class="duration"> / Month</span>
                        </div>
                    </div>
                    <div class="pricing-button"><a href="dhosting.html" class="purple-button">Let's go!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info" class="container-fluid">
    <div class="container">
        <div class="row rtl-cols">
            <div class="col-sm-4 col-md-4 info-img-holder">
                <img class="info-img" src="images/info1.png" alt="info" />
            </div>
            <div class="col-sm-8 col-md-8 info-text-holder">
                <h3>Why Choose Hostio?</h3>
                <p>Aliquam consectetur aliquet libero, ut viverra velit bibendum a. Nullam et sapien ac eros feugiat sollicitudin. Nulla euismod lorem nisi, a tempor diam fringilla ut. Nunc sed consectetur mauris. Nullam ac sem elit. Vestibulum porta odio lacinia mauris pulvinar sagittis. Curabitur id cursus leo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 info-img-holder">
                <img class="info-img" src="images/info2.png" alt="info" />
            </div>
            <div class="col-sm-8 col-md-8 info-text-holder text-right">
                <h3>Transferring From Another Host?</h3>
                <p>Etiam condimentum metus rhoncus purus pharetra tempor. Sed faucibus lectus quis tellus fermentum gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas dapibus semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
        <div class="row rtl-cols">
            <div class="col-sm-4 col-md-4 info-img-holder">
                <img class="info-img" src="images/info3.png" alt="info" />
            </div>
            <div class="col-sm-8 col-md-8 info-text-holder">
                <h3>Why Choose Hostio?</h3>
                <p>Curabitur vulputate dignissim pretium. Integer viverra dignissim elit. Vestibulum aliquam erat eu dictum porttitor. Aliquam feugiat risus lorem, non tempor purus egestas at. Nulla imperdiet tortor id aliquet gravida. Phasellus dapibus id dolor viverra ultricies. Suspendisse ut finibus nulla.</p>
            </div>
        </div>
    </div>
</div>
<div id="more-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Ready to have your own website?</div>
                <div class="row-subtitle">Phasellus accumsan nisi eu arcu condimentum sollicitudin. Nulla auctor quis est at suscipit. <br>
Maecenas ac urna eget magna vulputate interdum.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="whosting.html" class="get-started-button">Get Started</a>
            </div>
        </div>
    </div>
</div>
<div id="more-features" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Hostio Guarantees</div>
                <div class="row-subtitle">Etiam condimentum metus rhoncus purus pharetra tempor. <br />Sed faucibus lectus quis tellus fermentum gravida.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud1.png" alt="cloud" /></div>
                        <i class="hsto hsto-medal"></i>
                    </div>
                    <div class="mfeature-title">World Class Hosting</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud2.png" alt="cloud" /></div>
                        <i class="hsto hsto-hours-support"></i>
                    </div>
                    <div class="mfeature-title">Great Support</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud3.png" alt="cloud" /></div>
                        <i class="hsto hsto-money"></i>
                    </div>
                    <div class="mfeature-title">38 Day Guarantee</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="testimonials" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Don’t take our word for it</div>
                <div class="row-subtitle">We’re loved by great customers all around the world!<br>
Here’re some of their opinions about us</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <div class="testimonial-image"><img src="images/t1.jpg" alt="person" /></div>
                    <div class="testimonial-title">Great Services!</div>
                    <div class="testimonial-details">Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</div>
                    <div class="testimonial-info"><span class="name">John Doe</span> - Manager @ Brandio</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <div class="testimonial-image"><img src="images/t2.jpg" alt="person" /></div>
                    <div class="testimonial-title">Great Services!</div>
                    <div class="testimonial-details">Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</div>
                    <div class="testimonial-info"><span class="name">John Doe</span> - Manager @ Brandio</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <div class="testimonial-image"><img src="images/t3.jpg" alt="person" /></div>
                    <div class="testimonial-title">Great Services!</div>
                    <div class="testimonial-details">Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</div>
                    <div class="testimonial-info"><span class="name">John Doe</span> - Manager @ Brandio</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <div class="testimonial-image"><img src="images/t4.jpg" alt="person" /></div>
                    <div class="testimonial-title">Great Services!</div>
                    <div class="testimonial-details">Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</div>
                    <div class="testimonial-info"><span class="name">John Doe</span> - Manager @ Brandio</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <div class="testimonial-image"><img src="images/t5.jpg" alt="person" /></div>
                    <div class="testimonial-title">Great Services!</div>
                    <div class="testimonial-details">Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</div>
                    <div class="testimonial-info"><span class="name">John Doe</span> - Manager @ Brandio</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="get-started" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">Get started now. Try Hostio Free for 10 days.</div>
                <a href="contact.html" class="gstart">Get Started</a>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-1">
                <img class="logo-mini" src="images/logo-mini.png" alt="Hostio" />
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Company</h4>
                <ul class="footer-menu">
                    <li><a href="about.html">About us</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Policy</h4>
                <ul class="footer-menu">
                    <li><a href="terms.html">Terms and Conditions</a></li>
                    <li><a href="policy.html">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Services</h4>
                <ul class="footer-menu">
                    <li><a href="whosting.html">Web Hosting</a></li>
                    <li><a href="chosting.html">Cloud Hosting</a></li>
                    <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    <li><a href="domain.html">Domain Names</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Other links</h4>
                <ul class="footer-menu">
                    <li><a href="transfer.html">Transfer domains</a></li>
                    <li><a href="portal.html">Customer Portal</a></li>
                    <li><a href="support.html">Support Portal</a></li>
                    <li><a href="tutorials.html">Video Tutorials</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                <div class="email"><i class="fa fa-envelope"></i> hello@hostio.io</div>
                <div class="address">
                    <i class="fa fa-map-marker"></i> 
                    <div>Brizbin, Australia<br>
                        Road 398, Center<br>
                        Office 38, floor 3</div>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/createjs.min.js"></script>
<script src="js/handanimation.js"></script>
<script src="js/animation-start.js"></script>
<script src="js/main.js"></script>
</body>
</html>
