<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="full-page">

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="signin-signup-form">
                    <a href="index.html"><img class="logo" src="./images/logo-white.png" alt="Hostio" /></a>
                    <div class="form-title">Login to your account</div>
                    <form id="signinform">
                        <div class="form-text">
                            <input type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-text">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-button">
                            <input id="submit" type="submit" value="Login">
                        </div>
                    </form>
                    <div class="links-holder"><a href="register.html">Create account</a> or <a href="index.html">Back to Homepage</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
