<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostio">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">About us</a></li>
                <li class="dropdown">
                    <a href="hosting.html">Hosting <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="whosting.html">Web Hosting</a></li>
                      <li><a href="chosting.html">Cloud Hosting</a></li>
                      <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    </ul>
                </li>
                <li class="active"><a href="support.html">Help & Support</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="login-button" href="login.html">Login</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">Help & Support</div>
                <div class="page-subtitle">Getting started with Hostio takes just a few minutes once you’ve <a href="register.html">signed up</a> for an account.</div>
            </div>
        </div>
    </div>
</div>
<div id="details" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col-title-blue">Get the right support..</div>
                <div class="help-image-holder"><img class="help" src="./images/help.png" alt="help" /></div>
            </div>
            <div class="col-md-5">
                <div class="col-title">Documentation</div>
                <div class="support-box green-support-box">
                    <div class="support-box-title"><i class="fa fa-link" aria-hidden="true"></i><a href="#">Community Support</a></div>
                    <div class="support-box-details">
                        Aenean accumsan aliquam justo, et rhoncus est ullamcorper at.
                    </div>
                </div>
                <div class="support-box yellow-support-box">
                    <div class="support-box-title"><i class="fa fa-link" aria-hidden="true"></i><a href="#">Email Support</a></div>
                    <div class="support-box-details">
                        Suspendisse eget accumsan massa, venenatis fermentum dui.

                    </div>
                </div>
                <div class="support-box purple-support-box">
                    <div class="support-box-title"><i class="fa fa-link" aria-hidden="true"></i><a href="#">Domain Names</a></div>
                    <div class="support-box-details">
                        Morbi libero tortor, interdum fermentum justo et, mollis interdum justo. Morbi a accumsan urna.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-padding-top">
                <div class="col-title">Frequently Asked Questions</div>
                <div id="faq-questions">
                    <div class="faq-question-holder active">
                        <div class="faq-question">
                            What is Web Hosting?
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                    <div class="faq-question-holder">
                        <div class="faq-question">
                            What makes Hostio standout from other hosting providers?
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                    <div class="faq-question-holder">
                        <div class="faq-question">
                            What type of Hosting do I need?
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                    <div class="faq-question-holder">
                        <div class="faq-question">
                            How can you help me and how can I reach your support?
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-padding-top">
                <div class="col-title">Useful Links</div>
                <a href="#"><h4>Website issue</h4></a>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis. praesentium voluptatum deleniti llitia animi, At vero eos et accusamus et Main iusto odio dignissimos.</p>
                
                <a href="#"><h4>Website issue</h4></a>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis. praesentium voluptatum deleniti llitia animi, At vero eos et accusamus et Main iusto odio dignissimos.</p>
                
                <a href="#"><h4>Website issue</h4></a>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis. praesentium voluptatum deleniti llitia animi, At vero eos et accusamus et Main iusto odio dignissimos.</p>
            </div>
        </div>
    </div>
</div>
<div id="search-text" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-search-holder">
                    <form id="text-search">
                        <input type="text" name="search" placeholder="How can we help you today?" />
                        <input type="submit" name="submit" value="Find out" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-1">
                <img class="logo-mini" src="images/logo-mini.png" alt="Hostio" />
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Company</h4>
                <ul class="footer-menu">
                    <li><a href="about.html">About us</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Policy</h4>
                <ul class="footer-menu">
                    <li><a href="terms.html">Terms and Conditions</a></li>
                    <li><a href="policy.html">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Services</h4>
                <ul class="footer-menu">
                    <li><a href="whosting.html">Web Hosting</a></li>
                    <li><a href="chosting.html">Cloud Hosting</a></li>
                    <li><a href="dhosting.html">Dedicated Hosting</a></li>
                    <li><a href="domain.html">Domain Names</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <h4>Other links</h4>
                <ul class="footer-menu">
                    <li><a href="transfer.html">Transfer domains</a></li>
                    <li><a href="portal.html">Customer Portal</a></li>
                    <li class="active"><a href="support.html">Support Portal</a></li>
                    <li><a href="tutorials.html">Video Tutorials</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                <div class="email"><i class="fa fa-envelope"></i> hello@hostio.io</div>
                <div class="address">
                    <i class="fa fa-map-marker"></i> 
                    <div>Brizbin, Australia<br>
                        Road 398, Center<br>
                        Office 38, floor 3</div>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
