/*
 * Globals
 */

body {
    color: #555;
    font-family: Maven Pro;
}

body h1,
body h2,
body h3,
body h4,
body p {
    color: #333;
}

body h3 {
    font-size: 20px;
}

body p {
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.doc-masthead {
    background-color: #f0f0f0;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
}


/* Nav links */

.doc-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #333;
}

.doc-nav-item:hover,
.doc-nav-item:focus {
    color: #000;
    text-decoration: none;
}

.doc-nav .active {
    color: #333;
    font-weight: 800;
}

.doc-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

#title {
    padding: 30px 0 30px;
}

#title h1 {
    font-weight: 500;
    font-size: 45px;
}

.content {
    padding: 15px;
    background-color: #f2f2f2;
}

.content p {
    font-size: 16px;
}

ul li {
    line-height: 25px;
    font-size: 15px;
}

.code {
    background-color: #222;
    padding: 25px;
}

.code p,
.code h1,
.code h2,
.code h3,
.code h4 {
    color: #fff;
}

body h4 {
    font-size: 16px;
}

.code span {
    color: #17c60d;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer img {
    margin: 0 auto;
}

#footer {
    background-color: #f5f5f5;
}
