<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Hostify</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.min.css">
<link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>

<div id="header-holder" class="inner-header contact-header">
    <nav id="nav" class="navbar navbar-default navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-holder" href="index.html">
                                <div class="logo" style="width:62px;height:18px"></div>
                            </a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="index.html">Home</a></li>
                                <li class="dropdown unity-menu">
                                    <a href="#pricing">Hosting <i class="fas fa-caret-down"></i></a>
                                    <ul class="dropdown-menu dropdown-unity">
                                        <li>
                                            <a class="unity-link" href="webhosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon1.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        Web Hosting
                                                    </div>
                                                    <div class="unity-details">
                                                        Flexible shared-hosting
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="unity-link" href="resellershosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon2.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        Resellers
                                                    </div>
                                                    <div class="unity-details">
                                                        Money on the side!
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="unity-link" href="cloudhosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon3.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        Cloud Hosting
                                                    </div>
                                                    <div class="unity-details">
                                                        Fast as rocket
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="unity-link" href="vpshosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon4.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        VPS Servers
                                                    </div>
                                                    <div class="unity-details">
                                                        Scalable hosting
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages <i class="fas fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="about.html">Company</a></li>
                                      <li><a href="blog.html">Blog</a></li>
                                      <li><a href="domains.html">Domain List</a></li>
                                      <li><a href="ourservers.html">Servers</a></li>
                                      <li><a href="mapdata.html">Map Generator</a></li>
                                      <li><a href="horizontalpricing.html">Horizontal Pricing</a></li>
                                    </ul>
                                </li>
                                <li><a href="../../whmcs/index.php?systpl=hostify">WHMCS</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a class="login-button" href="signin.html">Login</a></li>
                                <li class="support-button-holder support-dropdown">
                                    <a class="support-button" href="#">Support</a>
                                    <ul class="dropdown-menu">
                                      <li><a href="#"><i class="fas fa-phone"></i>Toll-Free  08-197-435-01</a></li>
                                      <li><a href="#"><i class="fas fa-comments"></i>Start a Live Chat</a></li>
                                      <li><a href="#"><i class="fas fa-ticket-alt"></i>Open a ticket</a></li>
                                      <li><a href="#"><i class="fas fa-book"></i>Knowledge base</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-head" class="container-fluid inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="page-title">Contact us</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text">At vero eos et accusamus et iusto odio dignissimos<br>
ducimus qui blanditiis praesentium voluptatum deleniti<br>
atququi officia  deserunt mollitia animi.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">What makes us special?</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-box">
                    <div class="info-title phone-icon">Toll-Free</div>
                    <div class="info-details"><p>Customer service 24/7
                    Call Free On <a href="#">385 900 285 </a></p>

                    <p>Enjoy a free consultation with Hostino’s
                    best web experts.</p></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <div class="info-title chat-icon">Chat now</div>
                    <div class="info-details"><p>We're ready to answer any and all
                    questions.</p>

                    <p>Start chatting with our representative
                    by clicking the chat icon</p></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <div class="info-title location-icon">Visit us</div>
                    <div class="info-details"><p>We are located in Bahrain, Manama
                    Come and have a nice cup of coffee!</p>

                    <p>The City Avenue, Office 38, Floor 3
                    Road 398, Block 125</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="extra-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h1>Ready? Let’s decide<br>
    a domain name.</h1>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus<br>
    qui blanditiis praesentium voluptatum div atque corrupti quos<br>
    dolores et quas molestias.</p>
                </div>
            </div>
            <div class="col-md-6 link-holder">
                <div class="tld-graphic">
                    <div>.com</div>
                    <div>.net</div>
                    <div>.org</div>
                </div>
                <a href="domains.html" class="ybtn ybtn-header-color">Domains name list</a>
            </div>
        </div>
    </div>
</div>
<div id="articles" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">From the blog</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article1.jpg" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Lorem ipsum dolor sit amet, consect</a></div>
                        <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article2.jpg" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Ut laoreet dolore magna aliquam erat</a></div>
                        <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article3.jpg" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Nibh tincidunt ut laoreet dolore magna aliquam</a></div>
                        <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<div id="message1" class="container-fluid message-area normal-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-other-color1">Are you ready?</div>
                <div class="text-other-color2">create an account, or contact us.</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="buttons-holder">
                    <a href="#" class="ybtn ybtn-accent-color">Create Your Account</a><a href="#" class="ybtn ybtn-white ybtn-shadow">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fas fa-phone"></i> 00 285 900 38502</div>
                    <div class="email"><i class="fas fa-envelope"></i> hello@hostify.com</div>
                    <div class="address">
                        <i class="fas fa-map-marker"></i> 
                        <div>City Avenue, Office 64,<br>
                            Floor 6,  Milbourne,<br>
                            Australia.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                        <li><a href="vpshosting.html">VPS Servers</a></li>
                        <li><a href="domains.html">Domain Names</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Others</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Transfer domains</a></li>
                        <li><a href="portal.html">Customer Portal</a></li>
                        <li><a href="#">Support Portal</a></li>
                        <li><a href="#">Video Tutorials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1">
                <div class="social-menu-holder">
                    <ul class="social-menu">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>