<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Hostify</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.min.css">
<link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>

<div id="header-holder" class="inner-header">
    <div class="bg-animation"></div>
    <nav id="nav" class="navbar navbar-default navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-holder" href="index.html">
                                <div class="logo" style="width:62px;height:18px"></div>
                            </a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="index.html">Home</a></li>
                                <li class="dropdown unity-menu">
                                    <a href="#pricing">Hosting <i class="fas fa-caret-down"></i></a>
                                    <ul class="dropdown-menu dropdown-unity">
                                        <li>
                                            <a class="unity-link" href="webhosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon1.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        Web Hosting
                                                    </div>
                                                    <div class="unity-details">
                                                        Flexible shared-hosting
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="unity-link" href="resellershosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon2.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        Resellers
                                                    </div>
                                                    <div class="unity-details">
                                                        Money on the side!
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="unity-link" href="cloudhosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon3.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        Cloud Hosting
                                                    </div>
                                                    <div class="unity-details">
                                                        Fast as rocket
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="unity-link" href="vpshosting.html">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="images/service-icon4.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        VPS Servers
                                                    </div>
                                                    <div class="unity-details">
                                                        Scalable hosting
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages <i class="fas fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="about.html">Company</a></li>
                                      <li><a href="blog.html">Blog</a></li>
                                      <li><a href="domains.html">Domain List</a></li>
                                      <li><a href="ourservers.html">Servers</a></li>
                                      <li><a href="mapdata.html">Map Generator</a></li>
                                      <li><a href="horizontalpricing.html">Horizontal Pricing</a></li>
                                    </ul>
                                </li>
                                <li><a href="../../whmcs/index.php?systpl=hostify">WHMCS</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a class="login-button" href="signin.html">Login</a></li>
                                <li class="support-button-holder support-dropdown">
                                    <a class="support-button" href="#">Support</a>
                                    <ul class="dropdown-menu">
                                      <li><a href="#"><i class="fas fa-phone"></i>Toll-Free  08-197-435-01</a></li>
                                      <li><a href="#"><i class="fas fa-comments"></i>Start a Live Chat</a></li>
                                      <li><a href="#"><i class="fas fa-ticket-alt"></i>Open a ticket</a></li>
                                      <li><a href="#"><i class="fas fa-book"></i>Knowledge base</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-head" class="container-fluid inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="page-title">The Hosting business is expanding in 2019</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="post-content" class="container-fluid">
    <div class="container">
        <div id="post-body" class="row">
            <div id="post-holder" class="col-md-9">
                <div id="post-1" class="post">
                    <div class="post-thumbnail">
                        <img src="images/post.jpg" class="post-image" alt="">			
                    </div>
                    <h4 class="post-title">Consectetuer elit, sed diam nonummy nibh tincidunt</h4>		
                    <div class="meta">
                        <span class="view">10 Views</span><span class="like"><a href="#" class="like-btn">7 Like</a></span>		
                    </div>
                    <div class="post-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra orci a arcu consequat, et imperdiet lacus laoreet. Praesent at vulputate tellus. Aenean consectetur sodales nibh a egestas. Donec ligula quam, varius eget pharetra auctor, ornare eu ligula. Nunc in ultricies odio. Vivamus ullamcorper convallis convallis. Mauris in urna sed metus iaculis pretium sed porttitor velit. Mauris id mauris ac leo eleifend volutpat. Aliquam porttitor orci et eleifend sagittis. Proin placerat augue sit amet nisl pellentesque rhoncus. Etiam eget turpis finibus, faucibus augue at, rutrum nisi. Nam a magna eu odio condimentum congue. Vestibulum aliquet magna et metus finibus, eu tincidunt nunc sodales. Quisque tincidunt ipsum nec orci placerat, ultrices facilisis elit auctor. Pellentesque accumsan, erat sit amet dictum pharetra, ante mauris iaculis neque, eu varius lacus mi sit amet nunc.</p>
                    </div>
                </div>
                <div class="post-author">
                    <div class="row">
                        <div class="col-sm-2">
                            <img alt="" src="images/person1.jpg">		
                        </div>
                        <div class="col-sm-10">
                            <h3 class="name">John Doe</h3>
                            <p class="desc">Nunc in ultricies odio. Vivamus ullamcorper convallis convallis. Mauris in urna sed metus iaculis pretium sed porttitor velit. Mauris id mauris ac leo eleifend volutpat. Aliquam porttitor orci et eleifend sagittis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3">
                <div class="widget-area">
                    <div id="categories" class="widget">
                        <h3 class="widget-title">Categories</h3>
                        <div class="item">
                            <a href="#">Video<span>3</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Featured<span>10</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Gallery<span>9</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Quote<span>14</span></a>
                        </div>
                        <div class="item">
                            <a href="#">News<span>3</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Uncategorized<span>10</span></a>
                        </div>
                    </div>

                    <div id="popular-posts" class="widget">
                        <h3 class="widget-title">Popular Posts</h3>				
                        <div class="item row">
                            <div class="thumb col-xs-3">
                                <img src="images/post.jpg" alt="">					
                            </div>
                            <div class="info col-xs-9">
                                <span class="date">January 21, 2016</span>
                                <span class="title">
                                    <a href="#">Mauris at libero sed justo pretium ...</a>
                                </span>
                            </div>
                        </div>
                        <div class="item row">
                            <div class="thumb col-xs-3">
                                <img src="images/post.jpg" alt="">					
                            </div>
                            <div class="info col-xs-9">
                                <span class="date">January 21, 2016</span>
                                <span class="title">
                                    <a href="#">Mauris at libero sed justo pretium ...</a>
                                </span>
                            </div>
                        </div>
                        <div class="item row">
                            <div class="thumb col-xs-3">
                                <img src="images/post.jpg" alt="">					
                            </div>
                            <div class="info col-xs-9">
                                <span class="date">January 21, 2016</span>
                                <span class="title">
                                    <a href="#">Mauris at libero sed justo pretium ...</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="tags" class="widget">
                        <h3 class="widget-title">Popular Tags</h3>
                        <div class="tags">
                            <a href="#" class="tag-link">actress</a>
                            <a href="#" class="tag-link">cinematographer</a>
                            <a href="#" class="tag-link">creative</a>
                            <a href="#" class="tag-link">designer</a>
                            <a href="#" class="tag-link">director</a>
                            <a href="#" class="tag-link">event</a>
                            <a href="#" class="tag-link">film</a>
                            <a href="#" class="tag-link">international</a>
                            <a href="#" class="tag-link">festival</a>
                            <a href="#" class="tag-link">national</a>
                            <a href="#" class="tag-link">produce</a>
                            <a href="#" class="tag-link">photographer</a>
                            <a href="#" class="tag-link">review</a>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fas fa-phone"></i> 00 285 900 38502</div>
                    <div class="email"><i class="fas fa-envelope"></i> hello@hostify.com</div>
                    <div class="address">
                        <i class="fas fa-map-marker"></i> 
                        <div>City Avenue, Office 64,<br>
                            Floor 6,  Milbourne,<br>
                            Australia.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="cloudhosting.html">Cloud Hosting</a></li>
                        <li><a href="vpshosting.html">VPS Servers</a></li>
                        <li><a href="domains.html">Domain Names</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Others</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Transfer domains</a></li>
                        <li><a href="portal.html">Customer Portal</a></li>
                        <li><a href="#">Support Portal</a></li>
                        <li><a href="#">Video Tutorials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1">
                <div class="social-menu-holder">
                    <ul class="social-menu">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
