<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							Cloudhub Blog
						</h1>
						<p>
							The latest news and announcements about our cloud infrastructure.
						</p>
					</header>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<article class="blog-article blog-article-center">
						<header class="blog-article-header">
							<h2>
								<a href="blog-article.html">Anycast DNS Services Launch</a>
							</h2>
							<ul>
								<li>
									<i class="fas fa-calendar icon-left"></i>July 12, 2017
								</li>
								<li>
									<a href="blog-article.html#comments"><i class="fas fa-comment icon-left"></i>24 Comments</a>
								</li>
							</ul>
						</header>
						<div class="blog-article-content">
							<div class="network-map">
								<ul>
									<li style="top: 42%; left: 12.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 44%; left: 20%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 40%; left: 26%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 78%; left: 34%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 41%; left: 44.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 32%; left: 46.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 34%; left: 49.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 64%; left: 75%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 44%; left: 85%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 83%; left: 89%;">
										<a href="network.html"></a>
									</li>
								</ul>
								<img src="img/layout/map-dark.svg" alt="">
							</div>
							<p>
								Each Anycast DNS product comes with the possibility to extend its resources with addons. You will be automatically upgraded from professional to enterprise if resource usage fits the profile to prevent you from overpaying. The enterprise product comes with additional features that are not included in the professional plan. Please contact the sales team to learn more.
							</p>
							<p>
								The locations and resulting response times used for client requests to your website depend on the DNS product you have purchased.
							</p>
							<p>
								Although we designed our block storage to be primarily used with our cloud server product line, you do not need an active subscription to use block storage. Our advanced S3 compatible API is available to access and manage your files similar to other object storage providers.
							</p>
<!-- Code -->
<pre class="pre-code">curl -i $container/hello-world.txt -H 'X-Auth-Token: $token'

HTTP/1.1 200 OK
Content-Length: 14
Accept-Ranges: bytes
Content-Type: text/plain
X-Object-Filename: hello-world.txt
X-Trans-Id: tx8145a190241f4cf6b05f5-0052d82a34
Last-Modified: Wed, 15 Jan 2014 16:41:49 GMT
Date: Thu, 16 Jan 2014 18:51:32 GMT</pre>
							<p>
								Our network equipment across all locations is backed by enterprise grade DDoS protection gear to ensure your services stay online even in the event of an attack. All products are protected without additional charge, but the protection capacity can vary depending on which product you have ordered. Our dedicated private cloud offers the best protection with the complete 500 Gbit mitigation capacity.
							</p>
						</div>
					</article>
				</div>
			</section>
			<!-- Content Row -->
			<section id="comments" class="content-row content-row-border-top">
				<div class="container">
					<div class="blog-comment-group blog-comment-group-center">
						<h3>
							24 Comments<a href="#comments-new">Leave a Comment<i class="fas fa-angle-right icon-right"></i></a>
						</h3>
						<div class="blog-comment-item">
							<div class="blog-comment-content">
								<p>
									Sed finibus nunc elementum erat dapibus laoreet. Nulla in elit eget tortor mollis placerat et a nisl. Fusce volutpat dapibus lectus quis elementum.
								</p>
							</div>
							<ul class="blog-comment-author">
								<li>
									<a href="#comment-1">Jennifer Mayer</a>
								</li>
								<li>
									<small>July 12, 2017 at 11:23 pm</small>
								</li>
							</ul>
						</div>
						<div class="blog-comment-item">
							<div class="blog-comment-content">
								<p>
									Donec ac purus vel neque tincidunt ullamcorper. Suspendisse eu ante sit amet magna hendrerit sodales ut non sapien. Proin sagittis mollis erat, ac elementum tortor non eleifend egestas. Ut nulla purus, tristique id enim sit amet, ullamcorper ullamcorper augue. Nam ac porta neque. Quisque vel facilisis diam.
								</p>
							</div>
							<ul class="blog-comment-author">
								<li>
									<a href="#comment-2">Martin Smith</a>
								</li>
								<li>
									<small>July 23, 2017 at 08:14 am</small>
								</li>
							</ul>
						</div>
						<div class="blog-comment-item">
							<div class="blog-comment-content">
								<p>
									Pellentesque lorem justo, rhoncus et iaculis ut, mattis vitae est. Maecenas sed viverra sapien. Suspendisse hendrerit sapien et tellus malesuada, vel gravida enim interdum. Ut condimentum arcu quis blandit tristique.
								</p>
							</div>
							<ul class="blog-comment-author">
								<li>
									<a href="#comment-3">Paul Martinez</a>
								</li>
								<li>
									<small>August 5, 2017 at 01:56 pm</small>
								</li>
							</ul>
						</div>
						<div class="blog-comment-item">
							<div class="blog-comment-content">
								<p>
									In fermentum malesuada dolor eget commodo. Nulla eu dolor sed ante vulputate tincidunt eu a turpis. Proin in porttitor quam, nec vehicula massa. Ut tempus leo sit amet convallis eleifend. Nam nunc orci, tincidunt sit amet interdum et, pellentesque ac massa. Aliquam iaculis aliquam maximus.
								</p>
								<p>
									Nam ac sem et neque cursus lacinia non eget massa. Nullam efficitur justo nec tristique lacinia. Proin et rhoncus dolor.
								</p>
							</div>
							<ul class="blog-comment-author">
								<li>
									<a href="#comment-4">Andrew Connor</a>
								</li>
								<li>
									<small>August 16, 2017 at 04:32 am</small>
								</li>
							</ul>
						</div>
						<div class="blog-comment-item">
							<div class="blog-comment-content">
								<p>
									Mauris porttitor, ipsum elementum consectetur posuere, erat tortor pharetra leo, cursus imperdiet ligula risus ut mi. Vivamus nunc ante, iaculis id lobortis vitae, cursus eu ante. Donec accumsan dictum malesuada. Ut imperdiet mauris et placerat fermentum. Aliquam erat volutpat.
								</p>
							</div>
							<ul class="blog-comment-author">
								<li>
									<a href="#comment-5">Mary Miller</a>
								</li>
								<li>
									<small>September 2, 2017 at 02:47 pm</small>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section id="comments-new" class="content-row content-row-gray">
				<div class="container">
					<div class="blog-comment-form blog-comment-form-center">
						<h3>
							Leave a Comment
						</h3>
						<p class="text-color-gray">
							Your email address will neither be published nor shared with any third party.
						</p>
						<form class="form-full-width" method="get" action="blog-article.html#comments-new">
							<div class="form-row">
								<div class="column-row">
									<div class="column-50">
										<label for="form-name">Full Name</label>
										<input id="form-name" type="text" name="name">
									</div>
									<div class="column-50">
										<label for="form-email">Email Address</label>
										<input id="form-email" type="text" name="email">
									</div>
								</div>
							</div>
							<div class="form-row">
								<label for="form-comment">Comment</label>
								<textarea id="form-comment" name="comment" cols="10" rows="10"></textarea>
							</div>
							<div class="form-row">
								<input id="form-notification" type="checkbox" name="notification" checked>
								<label for="form-notification">Notify me when my comment has been approved</label>
							</div>
							<div class="form-row">
								<button class="button-secondary"><i class="fas fa-comment icon-left"></i>Submit Comment</button>
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Want regular updates?
						</h2>
						<p>
							Our engineers and developers are always posting interesting articles regarding the latest announcements and guides in the world of cloud hosting.<br><br>
							<a class="button button-secondary" href="#subscribe-via-rss">
								<i class="fas fa-rss icon-left"></i>Subscribe via RSS
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>