<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							Other Elements
						</h1>
						<p>
							Various custom and default elements used with the template.
						</p>
					</header>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<div class="column-row">
						<div class="column-50">
							<h4>
								Buttons
							</h4>
							<p class="group">
								<a href="#default-button" class="button">Default Button</a>
								<a href="#button-primary" class="button button-primary">Primary Button</a>
								<a href="#button-secondary" class="button button-secondary">Secondary Button</a>
							</p>
						</div>
						<div class="column-25">
							<h4>
								Formatted
							</h4>
<!-- Code -->
<pre>Content-Type: text/plain</pre>
						</div>
						<div class="column-25">
							<h4>
								Icons
							</h4>
							<p>
								<a href="https://fontawesome.com/v4.7.0/icons"><i class="fas fa-life-ring icon-left"></i>Font Awesome</a> <small class="text-color-gray">by Dave Gandy</small><br>
								<a href="https://material.io/icons"><i class="material-icons icon-left">thumb_up</i>Material Icons</a> <small class="text-color-gray">by Google</small>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<div class="column-row">
						<div class="column-25">
							<h4>
								Type
							</h4>
							<p>
								Cloudhub is made for <span class="type-text text-color-primary" data-type-text="technology;startups;business;agencies;portfolios" data-type-text-loop="true">hosting</span>
							</p>
						</div>
						<div class="column-25">
							<h4>
								Code
							</h4>
							<p>
								Use <code>custom.css</code> for your colors.
							</p>
						</div>
						<div class="column-25">
							<h4>
								Mark
							</h4>
							<p>
								Cloudhub is a <mark>technology</mark> template.
							</p>
						</div>
						<div class="column-25">
							<h4>
								Tags
							</h4>
							<ul class="tags">
								<li>
									<a href="#tag-ubuntu">Ubuntu</a>
								</li>
								<li>
									<a href="#tag-debian">Debian</a>
								</li>
								<li>
									<a href="#tag-windows">Windows</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<div class="column-row">
						<div class="column-25">
							<h4>
								Text Formats
							</h4>
							<p>
								<strong>Bold text format</strong><br>
								<em>Italic text format</em><br>
								<u>Underlined text format</u><br>
								<del>Deleted text format</del><br>
								<small>Small text format</small>
							</p>
						</div>
						<div class="column-25">
							<h4>
								Text Colors
							</h4>
							<p>
								<span class="text-color-gray">Gray text color</span><br>
								<span class="text-color-primary">Primary text color</span><br>
								<span class="text-color-success">Success text color</span><br>
								<span class="text-color-warning">Warning text color</span><br>
								<span class="text-color-error">Error text color</span>
							</p>
						</div>
						<div class="column-50">
							<h4>
								Blockquote
							</h4>
							<blockquote>
								<p>
									Our network engineers are continuously optimizing the routing to ensure low latency and high bandwidth throughput across all datacenter locations. Customers additionally have the option to request custom routing.
								</p>
								<footer>
									William Crawford, Director of Operations at Cloudhub.
								</footer>
							</blockquote>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<div class="column-row">
						<div class="column-50">
							<h4>
								Description List
							</h4>
							<dl>
								<dt>October 6, 2017</dt>
								<dd>
									<p>
										<strong>CH-TKY-2 Degraded Network Performance</strong><br>
										Our network is currently suffering a large DDoS attack impacting core services in our Tokyo Equinix facility. Mitigation in progress.
									</p>
								</dd>
								<dt>October 2, 2017</dt>
								<dd>
									<p>
										<strong>Client Portal Unavailable</strong><br>
										Access to the Client Portal has been fully restored. Thank you very much for your patience.
									</p>
								</dd>
							</dl>
						</div>
						<div class="column-50">
							<h4>
								Formatted Code
							</h4>
<!-- Code -->
<pre class="pre-code">curl -i $container/hello-world.txt -H 'X-Auth-Token: $token'

HTTP/1.1 200 OK
Content-Length: 14
Accept-Ranges: bytes
Content-Type: text/plain
X-Object-Filename: hello-world.txt
X-Trans-Id: tx8145a190241f4cf6b05f5-0052d82a34
Last-Modified: Wed, 15 Jan 2014 16:41:49 GMT
Date: Thu, 16 Jan 2014 18:51:32 GMT</pre>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<div class="column-row">
						<div class="column-25">
							<h4>
								Regular List
							</h4>
							<ul>
								<li>
									TCP/UDP Floods
								</li>
								<li>
									NTP/DNS Amplification
									<ul>
										<li>
											SSDP/UPNP Responses
										</li>
										<li>
											HTTP GET/POST Floods
										</li>
									</ul>
								</li>
								<li>
									UDP Fragmentation
								</li>
								<li>
									Chargen Responses
								</li>
								<li>
									SNMP Responses
								</li>
								<li>
									XOR DDoS
								</li>
							</ul>
						</div>
						<div class="column-25">
							<h4>
								Numbered List
							</h4>
							<ol>
								<li>
									TCP/UDP Floods
								</li>
								<li>
									NTP/DNS Amplification
									<ul class="list-style-none">
										<li>
											SSDP/UPNP Responses
										</li>
										<li>
											HTTP GET/POST Floods
										</li>
									</ul>
								</li>
								<li>
									UDP Fragmentation
								</li>
								<li>
									Chargen Responses
								</li>
								<li>
									SNMP Responses
								</li>
								<li>
									XOR DDoS
								</li>
							</ol>
						</div>
						<div class="column-25">
							<h4>
								Icon List
							</h4>
							<ul class="list-style-icon">
								<li>
									<i class="fas fa-check"></i>TCP/UDP Floods
								</li>
								<li>
									<i class="fas fa-check"></i>NTP/DNS Amplification
									<ul class="list-style-icon">
										<li>
											<i class="fas fa-times"></i>SSDP/UPNP Responses
										</li>
										<li>
											<i class="fas fa-times"></i>HTTP GET/POST Floods
										</li>
									</ul>
								</li>
								<li>
									<i class="fas fa-check"></i>UDP Fragmentation
								</li>
								<li>
									<i class="fas fa-check"></i>Chargen Responses
								</li>
								<li>
									<i class="fas fa-check"></i>SNMP Responses
								</li>
								<li>
									<i class="fas fa-check"></i>XOR DDoS
								</li>
							</ul>
						</div>
						<div class="column-25">
							<h4>
								Navigation List
							</h4>
							<ul class="list-style-nav">
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<h4>
						Modals
					</h4>
					<div class="column-row">
						<div class="column-25">
							<p>
								Display dialogs and custom content using one of the modal boxes.
							</p>
						</div>
						<div class="column-25">
							<button class="button-full-width" data-modal-target="session-timeout">
								<i class="fas fa-exclamation-triangle icon-left"></i>Custom Alert
							</button>
							<div class="modal modal-small" data-modal="session-timeout" data-modal-dismissible="true">
								<div class="modal-header">
									<h3>
										Session Timeout
									</h3>
								</div>
								<div class="modal-content">
									<p>
										Your login session has been terminated due to inactivity to prevent unauthorized access to your personal data. Please log into your account again if required.
									</p>
									<p>
										<button class="button-primary button-full-width" data-modal-target="client-login">
											<i class="fas fa-lock icon-left"></i>Client Login
										</button>
									</p>
								</div>
							</div>
						</div>
						<div class="column-25">
							<button class="button-primary button-full-width" data-modal-target="client-login">
								<i class="fas fa-lock icon-left"></i>Form Dialog
							</button>
							<div class="modal" data-modal="client-login" data-modal-dismissible="true">
								<div class="modal-header">
									<h3>
										Client Login
									</h3>
								</div>
								<div class="modal-content">
									<form class="form-full-width" method="get" action="client-login.html">
										<div class="form-row">
											<label for="form-email">Email Address</label>
											<input id="form-email" type="text" name="email">
										</div>
										<div class="form-row">
											<label for="form-password">Password</label>
											<input id="form-password" type="password" name="password">
										</div>
										<div class="form-row">
											<input id="form-login" type="checkbox" name="login" checked>
											<label for="form-login">Save my login session on this computer</label>
										</div>
										<div class="form-row group">
											<button class="button-primary group-stretch">
												<i class="fas fa-lock icon-left"></i>Confirm
											</button>
											<button class="group-stretch" data-modal-dismiss="client-login">
												Cancel
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="column-25">
							<button class="button-secondary button-full-width" data-modal-target="cloud-features">
								<i class="fas fa-window-maximize icon-left"></i>Content Modal
							</button>
							<div class="modal modal-large" data-modal="cloud-features" data-modal-dismissible="true">
								<div class="modal-header">
									<h3>
										Cloud Features
									</h3>
								</div>
								<div class="modal-content">
									<div class="column-row">
										<div class="column-66">
											<h4>
												Integrated DDoS Protection
											</h4>
											<p>
												Our network equipment across all locations is backed by enterprise grade DDoS protection gear to ensure your services stay online even in the event of an attack. All products are protected without additional charge, but the protection capacity can vary depending on which product you have ordered. Our dedicated private cloud offers the best protection with the complete 500 Gbit mitigation capacity.
											</p>
											<p>
												You also have the possibility to order a DDoS protected IP address to reroute services outside of our network by setting up a GRE tunnel. Please contact our <a href="contact.html">sales department</a> for more details.
											</p>
											<h4>
												Protected Attack Types
											</h4>
											<div class="column-row">
												<div class="column-33">
													<ul class="list-style-icon">
														<li>
															<i class="fas fa-check"></i>TCP/UDP Floods
														</li>
														<li>
															<i class="fas fa-check"></i>HTTP GET/POST Floods
														</li>
														<li>
															<i class="fas fa-check"></i>UDP Fragmentation
														</li>
														<li>
															<i class="fas fa-check"></i>XOR DDoS
														</li>
													</ul>
												</div>
												<div class="column-33">
													<ul class="list-style-icon">
														<li>
															<i class="fas fa-check"></i>NTP/DNS Amplification
														</li>
														<li>
															<i class="fas fa-check"></i>SSDP/UPNP Responses
														</li>
														<li>
															<i class="fas fa-check"></i>Chargen Responses
														</li>
														<li>
															<i class="fas fa-check"></i>SNMP Responses
														</li>
													</ul>
												</div>
												<div class="column-33">
													<ul class="list-style-icon">
														<li>
															<i class="fas fa-check"></i>Invalid port numbers
														</li>
														<li>
															<i class="fas fa-check"></i>Connection holding
														</li>
														<li>
															<i class="fas fa-check"></i>HOIC and LOIC
														</li>
														<li>
															<i class="fas fa-check"></i>Spoofed SYN
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="column-33">
											<div class="product-box">
												<div class="product-header">
													<h4>
														Remote IP Protection
													</h4>
													<p>
														DDoS Protected GRE Tunnel
													</p>
												</div>
												<div class="product-price">
													$19<span class="term">/ TB</span>
												</div>
												<div class="product-features">
													<ul>
														<li>
															<strong>500 Gbit</strong> Bandwidth Protection
														</li>
														<li>
															<strong>700 Mpps</strong> Packet Protection
														</li>
													</ul>
													<ul>
														<li>
															99.90% Uptime SLA
														</li>
														<li>
															10 Locations
														</li>
													</ul>
												</div>
												<div class="product-order">
													<a class="button button-secondary" href="contact.html">
														<i class="fas fa-shopping-cart icon-left"></i>Contact Sales
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<div class="column-row">
						<div class="column-25">
							<h4>
								Video Overlays
							</h4>
							<p>
								Hosted videos, as well as YouTube and Vimeo links are supported.
							</p>
							<ul class="list-style-icon">
								<li>
									<a class="video-overlay" href="https://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_720p_h264.mov"><i class="fas fa-film icon-left"></i>Hosted</a>
								</li>
								<li>
									<a class="video-overlay" href="https://youtu.be/0uRR72b_qvc"><i class="fab fa-youtube icon-left"></i>YouTube</a>
								</li>
								<li>
									<a class="video-overlay" href="https://vimeo.com/29581682"><i class="fab fa-vimeo icon-left"></i>Vimeo</a>
								</li>
							</ul>
						</div>
						<div class="column-75">
							<div class="column-row">
								<div class="column-50">
									<div class="feature-box">
										<div class="feature-header">
											<a class="video-overlay" href="https://youtu.be/0uRR72b_qvc">
												<img src="uploads/gallery-1.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
								<div class="column-50">
									<div class="feature-box">
										<div class="feature-header">
											<a class="video-overlay" href="https://vimeo.com/29581682">
												<img src="uploads/gallery-5.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<div class="column-row">
						<div class="column-25">
							<h4>
								Frame Overlays
							</h4>
							<p>
								Embed custom content in an overlay iframe using a supported link.
							</p>
							<ul class="list-style-icon">
								<li>
									<a class="iframe-overlay" data-src="https://www.google.com/maps?output=embed&q=Rio+de+Janeiro+Brazil"><i class="fab fa-google icon-left"></i>Google Maps</a>
								</li>
								<li>
									<a class="iframe-overlay" data-src="https://www.openstreetmap.org/export/embed.html?bbox=-43.60473632812501%2C-23.07594158968702%2C-42.93182373046875%2C-22.675164137272372"><i class="fas fa-map-pin icon-left"></i>OpenStreetMap</a>
								</li>
								<li>
									<a class="iframe-overlay" data-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/171014506" data-width="640" data-height="180"><i class="fab fa-soundcloud icon-left"></i>SoundCloud</a>
								</li>
							</ul>
						</div>
						<div class="column-75">
							<div class="network-map">
								<ul>
									<li style="top: 40%; left: 26%;">
										<a class="iframe-overlay" data-src="https://www.google.com/maps?output=embed&q=Rochester+NY+14621+USA"><span class="label-top-right">New York</span></a>
									</li>
									<li style="top: 34%; left: 49.5%;">
										<a class="iframe-overlay" data-src="https://www.google.com/maps?output=embed&q=60313+Frankfurt+Germany"><span class="label-bottom-right">Frankfurt</span></a>
									</li>
									<li style="top: 44%; left: 85%;">
										<a class="iframe-overlay" data-src="https://www.google.com/maps?output=embed&q=Tokyo+100-0004+Japan"><span class="label-bottom-right">Tokyo</span></a>
									</li>
								</ul>
								<img src="img/layout/map-dark.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>