<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							Pricing Options
						</h1>
						<p>
							Present your pricing plans with a product box, slider or classic table.
						</p>
					</header>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<h4>
						Product Box
					</h4>
					<div class="column-row">
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h4>
										Cloud Starter
									</h4>
									<p>
										Medium traffic personal sites
									</p>
								</div>
								<div class="product-price">
									$9<span class="term">/ month</span>
								</div>
								<div class="product-features">
									<ul>
										<li>
											<strong>10</strong> Hosted Domains
										</li>
										<li>
											<strong>25 GB</strong> RAID 10 Storage
										</li>
										<li>
											<strong>200 GB</strong> Premium Bandwidth
										</li>
									</ul>
									<ul>
										<li>
											Powered by cPanel&reg;
										</li>
										<li>
											Dedicated IP Address
										</li>
										<li>
											99.95% Uptime SLA
										</li>
										<li>
											1000 Mbit Uplink
										</li>
									</ul>
								</div>
								<div class="product-order">
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-starter-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h4>
										Cloud Business
									</h4>
									<p>
										High traffic corporate sites
									</p>
								</div>
								<div class="product-price">
									$18<span class="term">/ month</span>
								</div>
								<div class="product-features">
									<ul>
										<li>
											<strong>30</strong> Hosted Domains
										</li>
										<li>
											<strong>75 GB</strong> RAID 10 Storage
										</li>
										<li>
											<strong>600 GB</strong> Premium Bandwidth
										</li>
									</ul>
									<ul>
										<li>
											Powered by cPanel&reg;
										</li>
										<li>
											Dedicated IP Address
										</li>
										<li>
											99.95% Uptime SLA
										</li>
										<li>
											1000 Mbit Uplink
										</li>
									</ul>
								</div>
								<div class="product-order">
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-business-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h4>
										Cloud Enterprise
									</h4>
									<p>
										Enterprise content management
									</p>
								</div>
								<div class="product-price">
									$36<span class="term">/ month</span>
								</div>
								<div class="product-features">
									<ul>
										<li>
											<strong>60</strong> Hosted Domains
										</li>
										<li>
											<strong>150 GB</strong> RAID 10 Storage
										</li>
										<li>
											<strong>1200 GB</strong> Premium Bandwidth
										</li>
									</ul>
									<ul>
										<li>
											Powered by cPanel&reg;
										</li>
										<li>
											Dedicated IP Address
										</li>
										<li>
											99.95% Uptime SLA
										</li>
										<li>
											1000 Mbit Uplink
										</li>
									</ul>
								</div>
								<div class="product-order">
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-enterprise-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<h4>
						Product Slider
					</h4>
					<div class="product-slider">
						<ul>
							<li>
								<span class="value">250 GB</span>
								<span class="label">RAID 10 SSD Storage</span>
							</li>
							<li>
								<span class="value">500 GB</span>
								<span class="label">Premium Bandwidth</span>
							</li>
							<li>
								<span class="value">100 Mbit</span>
								<span class="label">Public Network Uplink</span>
							</li>
							<li>
								<div class="price">
									<span class="value">$25</span>
									<span class="label">Monthly</span>
								</div>
								<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-250">
									<i class="fas fa-shopping-cart icon-left"></i>Order Now
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<span class="value">500 GB</span>
								<span class="label">RAID 10 SSD Storage</span>
							</li>
							<li>
								<span class="value">1000 GB</span>
								<span class="label">Premium Bandwidth</span>
							</li>
							<li>
								<span class="value">200 Mbit</span>
								<span class="label">Public Network Uplink</span>
							</li>
							<li>
								<div class="price">
									<span class="value">$50</span>
									<span class="label">Monthly</span>
								</div>
								<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-500">
									<i class="fas fa-shopping-cart icon-left"></i>Order Now
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<span class="value">1000 GB</span>
								<span class="label">RAID 10 SSD Storage</span>
							</li>
							<li>
								<span class="value">2000 GB</span>
								<span class="label">Premium Bandwidth</span>
							</li>
							<li>
								<span class="value">400 Mbit</span>
								<span class="label">Public Network Uplink</span>
							</li>
							<li>
								<div class="price">
									<span class="value">$100</span>
									<span class="label">Monthly</span>
								</div>
								<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-1000">
									<i class="fas fa-shopping-cart icon-left"></i>Order Now
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<span class="value">2000 GB</span>
								<span class="label">RAID 10 SSD Storage</span>
							</li>
							<li>
								<span class="value">4000 GB</span>
								<span class="label">Premium Bandwidth</span>
							</li>
							<li>
								<span class="value">800 Mbit</span>
								<span class="label">Public Network Uplink</span>
							</li>
							<li>
								<div class="price">
									<span class="value">$200</span>
									<span class="label">Monthly</span>
								</div>
								<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-2000">
									<i class="fas fa-shopping-cart icon-left"></i>Order Now
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<span class="value">4000 GB</span>
								<span class="label">RAID 10 SSD Storage</span>
							</li>
							<li>
								<span class="value">8000 GB</span>
								<span class="label">Premium Bandwidth</span>
							</li>
							<li>
								<span class="value">1200 Mbit</span>
								<span class="label">Public Network Uplink</span>
							</li>
							<li>
								<div class="price">
									<span class="value">$400</span>
									<span class="label">Monthly</span>
								</div>
								<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-4000">
									<i class="fas fa-shopping-cart icon-left"></i>Order Now
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<span class="value">8000 GB</span>
								<span class="label">RAID 10 SSD Storage</span>
							</li>
							<li>
								<span class="value">16000 GB</span>
								<span class="label">Premium Bandwidth</span>
							</li>
							<li>
								<span class="value">1600 Mbit</span>
								<span class="label">Public Network Uplink</span>
							</li>
							<li>
								<div class="price">
									<span class="value">$800</span>
									<span class="label">Monthly</span>
								</div>
								<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-8000">
									<i class="fas fa-shopping-cart icon-left"></i>Order Now
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<span class="value">12000 GB</span>
								<span class="label">RAID 10 SSD Storage</span>
							</li>
							<li>
								<span class="value">24000 GB</span>
								<span class="label">Premium Bandwidth</span>
							</li>
							<li>
								<span class="value">2000 Mbit</span>
								<span class="label">Public Network Uplink</span>
							</li>
							<li>
								<div class="price">
									<span class="value">$1200</span>
									<span class="label">Monthly</span>
								</div>
								<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-12000">
									<i class="fas fa-shopping-cart icon-left"></i>Order Now
								</a>
							</li>
						</ul>
					</div>
					<div class="column-row">
						<div class="column-66">
							<h4>
								Medium Product Slider
							</h4>
							<div class="product-slider product-slider-medium">
								<ul>
									<li>
										<span class="value">250 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<span class="value">500 GB</span>
										<span class="label">Premium Bandwidth</span>
									</li>
									<li>
										<span class="value">100 Mbit</span>
										<span class="label">Public Network Uplink</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$25</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-250">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">500 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<span class="value">1000 GB</span>
										<span class="label">Premium Bandwidth</span>
									</li>
									<li>
										<span class="value">200 Mbit</span>
										<span class="label">Public Network Uplink</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$50</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-500">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">1000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<span class="value">2000 GB</span>
										<span class="label">Premium Bandwidth</span>
									</li>
									<li>
										<span class="value">400 Mbit</span>
										<span class="label">Public Network Uplink</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$100</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-1000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">2000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<span class="value">4000 GB</span>
										<span class="label">Premium Bandwidth</span>
									</li>
									<li>
										<span class="value">800 Mbit</span>
										<span class="label">Public Network Uplink</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$200</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-2000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">4000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<span class="value">8000 GB</span>
										<span class="label">Premium Bandwidth</span>
									</li>
									<li>
										<span class="value">1200 Mbit</span>
										<span class="label">Public Network Uplink</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$400</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-4000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">8000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<span class="value">16000 GB</span>
										<span class="label">Premium Bandwidth</span>
									</li>
									<li>
										<span class="value">1600 Mbit</span>
										<span class="label">Public Network Uplink</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$800</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-8000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">12000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<span class="value">24000 GB</span>
										<span class="label">Premium Bandwidth</span>
									</li>
									<li>
										<span class="value">2000 Mbit</span>
										<span class="label">Public Network Uplink</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$1200</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-12000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="column-33">
							<h4>
								Small Product Slider
							</h4>
							<div class="product-slider product-slider-small">
								<ul>
									<li>
										<span class="value">250 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$25</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-250">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">500 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$50</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-500">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">1000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$100</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-1000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">2000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$200</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-2000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">4000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$400</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-4000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">8000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$800</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-8000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<span class="value">12000 GB</span>
										<span class="label">RAID 10 SSD Storage</span>
									</li>
									<li>
										<div class="price">
											<span class="value">$1200</span>
											<span class="label">Monthly</span>
										</div>
										<a class="button button-secondary" href="products-block-storage.html#block-storage-ssd-12000">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section id="product-configurator" class="content-row content-row-border-top">
				<div class="container">
					<div class="column-row">
						<div class="column-66">
							<h4>
								Product Configurator
							</h4>
							<div class="product-configurator hide-segments" data-currency="$%">
								<form method="get" action="elements-pricing.html#product-configurator">
									<div class="column-row">
										<div class="column-50">
											<div class="configurator-row">
												<input type="hidden" name="cpu" value="2" data-step="1" data-min="1" data-max="8" data-price="8" data-title="x CPU Core" data-title-plural="x CPU Cores" data-description="Intel&reg; Processor">
											</div>
										</div>
										<div class="column-50">
											<div class="configurator-row">
												<input type="hidden" name="memory" value="4" data-step="1" data-min="1" data-max="16" data-price="6" data-title=" GB Memory" data-description="ECC Technology">
											</div>
										</div>
									</div>
									<div class="column-row">
										<div class="column-50">
											<div class="configurator-row">
												<input type="hidden" name="disk" value="100" data-step="50" data-min="50" data-max="750" data-price="4" data-title=" GB Storage" data-description="RAID 10 SSD">
											</div>
										</div>
										<div class="column-50">
											<div class="configurator-row">
												<input type="hidden" name="bandwidth" value="2" data-step="1" data-min="1" data-max="12" data-price="6" data-title=" TB Bandwidth" data-description="1 Gbit Uplink">
											</div>
										</div>
									</div>
									<div class="configurator-order">
										<div class="configurator-total">
											<span class="value"></span>
											<span class="label">Monthly</span>
										</div>
										<button class="button-secondary">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="column-33">
							<h4>
								Small Product Configurator
							</h4>
							<div class="product-configurator product-configurator-small hide-segments" data-currency="$%">
								<form method="get" action="elements-pricing.html#product-configurator">
									<div class="configurator-row">
										<input type="hidden" name="disk" value="750" data-step="50" data-min="250" data-max="5000" data-price="4" data-title=" GB Storage" data-description="Redundant SSD Storage">
									</div>
									<div class="configurator-row">
										<input type="hidden" name="bandwidth" value="5" data-step="1" data-min="2" data-max="50" data-price="6" data-title=" TB Bandwidth" data-description="100 Gbit Global Network">
									</div>
									<div class="configurator-order">
										<div class="configurator-total">
											<span class="value"></span>
											<span class="label">Monthly</span>
										</div>
										<button class="button-secondary">
											<i class="fas fa-shopping-cart icon-left"></i>Order Now
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<h4>
						Product Comparison
					</h4>
					<table class="table-layout-product-comparison">
						<caption>
							Cloud Hosting
						</caption>
						<thead>
							<tr>
								<th></th>
								<th>Cloud Starter</th>
								<th>Cloud Business</th>
								<th>Cloud Enterprise</th>
							</tr>
						</thead>
						<tbody>
							<tr class="product-header">
								<td></td>
								<td>
									<h4>
										Cloud Starter
									</h4>
									<p>
										Medium traffic personal sites
									</p>
									<p class="product-price">
										$9<span class="term">/ month</span>
									</p>
								</td>
								<td>
									<h4>
										Cloud Business
									</h4>
									<p>
										High traffic corporate sites
									</p>
									<p class="product-price">
										$18<span class="term">/ month</span>
									</p>
								</td>
								<td>
									<h4>
										Cloud Enterprise
									</h4>
									<p>
										Enterprise content management
									</p>
									<p class="product-price">
										$36<span class="term">/ month</span>
									</p>
								</td>
							</tr>
							<tr>
								<td>Hosted Domains</td>
								<td>10</td>
								<td>30</td>
								<td>60</td>
							</tr>
							<tr>
								<td>RAID 10 Storage</td>
								<td>25 GB</td>
								<td>75 GB</td>
								<td>150 GB</td>
							</tr>
							<tr>
								<td>Premium Bandwidth</td>
								<td>200 GB</td>
								<td>600 GB</td>
								<td>1200 GB</td>
							</tr>
							<tr class="product-order">
								<td></td>
								<td>
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-starter-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</td>
								<td>
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-business-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</td>
								<td>
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-enterprise-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</td>
							</tr>
							<tr class="product-feature-group">
								<td>Package Features</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Network Uplink</td>
								<td>1000 Mbit</td>
								<td>1000 Mbit</td>
								<td>1000 Mbit</td>
							</tr>
							<tr>
								<td>Uptime Guarantee</td>
								<td>99.95%</td>
								<td>99.95%</td>
								<td>99.95%</td>
							</tr>
							<tr>
								<td>cPanel&reg; Accounts</td>
								<td>5</td>
								<td>15</td>
								<td>25</td>
							</tr>
							<tr>
								<td>Dedicated IP Address</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Custom Nameservers</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr class="product-feature-group">
								<td>Support Features</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Instant Setup</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Ticket Support</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Live Support</td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Remote Hands</td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-border-top">
				<div class="container">
					<h4>
						Pricing Table
					</h4>
					<table>
						<caption>
							Dedicated Servers
						</caption>
						<thead>
							<tr>
								<th>CPU Model</th>
								<th>CPU Cores</th>
								<th>CPU Speed</th>
								<th>ECC Memory</th>
								<th>Storage</th>
								<th>Monthly Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Intel Xeon E3 1225v2</td>
								<td>4C / 4T</td>
								<td>3.2 GHz</td>
								<td>16 GB</td>
								<td>2x 2 TB SATA3</td>
								<td class="highlight">$99</td>
								<td><a class="button button-secondary" href="#dedicated-server-1"><i class="fas fa-shopping-cart icon-left"></i>Order Now</a></td>
							</tr>
							<tr>
								<td>Intel Xeon E3 1225v2</td>
								<td>4C / 4T</td>
								<td>3.2 GHz</td>
								<td>32 GB</td>
								<td>4x 2 TB SATA3</td>
								<td class="highlight">$149</td>
								<td><a class="button button-secondary" href="#dedicated-server-2"><i class="fas fa-shopping-cart icon-left"></i>Order Now</a></td>
							</tr>
							<tr>
								<td>Intel Xeon E3 1245v2</td>
								<td>4C / 8T</td>
								<td>3.2 GHz</td>
								<td>32 GB</td>
								<td>6x 2 TB SATA3</td>
								<td class="highlight">$199</td>
								<td><a class="button button-secondary" href="#dedicated-server-3"><i class="fas fa-shopping-cart icon-left"></i>Order Now</a></td>
							</tr>
							<tr>
								<td>Intel Xeon E5 1620</td>
								<td>4C / 8T</td>
								<td>3.6 GHz</td>
								<td>32 GB</td>
								<td>2x 3 TB SATA3</td>
								<td class="highlight">$249</td>
								<td><a class="button button-secondary" href="#dedicated-server-4"><i class="fas fa-shopping-cart icon-left"></i>Order Now</a></td>
							</tr>
							<tr>
								<td>Intel Xeon E5 1650</td>
								<td>6C / 12T</td>
								<td>3.2 GHz</td>
								<td>64 GB</td>
								<td>4x 3 TB SATA3</td>
								<td class="highlight">$399</td>
								<td><a class="button button-secondary" href="#dedicated-server-5"><i class="fas fa-shopping-cart icon-left"></i>Order Now</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>