<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
		<link rel="stylesheet" href="css/custom.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-light header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<div class="logo-text logo-text-baseline">
						<i class="fas fa-envelope text-color-secondary"></i> <strong>Cloudmail</strong> <small>by Cloudhub</small>
					</div>
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Notification -->
		<section id="notification" data-dismissible="true" data-title="" data-expires="">
			<div class="container">
				<p>
					Introducing block storage. Attach up to 12 TB of SSD-based storage to your cloud server. <a class="text-margin-left" href="products-block-storage.html">Learn more<i class="fas fa-angle-right icon-right"></i></a>
				</p>
			</div>
		</section>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-dark content-row-full-height">
				<div class="container">
					<header class="content-header content-header-large content-header-uppercase">
						<h1>
							Managed Email Hosting
						</h1>
						<p>
							Redundant email hosting with advanced administration and automation features, starting at just <span class="text-color-secondary">$5/month</span>
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h4>
										Email Starter
									</h4>
									<p>
										Freelancers and small teams
									</p>
								</div>
								<div class="product-price">
									$5<span class="term">/ month</span>
								</div>
								<div class="product-features">
									<ul>
										<li>
											<strong>25 GB</strong> Storage
										</li>
										<li>
											<strong>10</strong> Email Accounts
										</li>
										<li>
											<strong>125</strong> Hosted Domains
										</li>
									</ul>
									<ul>
										<li>
											Premium Spam Protection
										</li>
										<li>
											Dedicated IP Address
										</li>
										<li>
											99.95% Uptime SLA
										</li>
									</ul>
								</div>
								<div class="product-order">
									<a class="button button-secondary" href="home-custom-color.html#email-starter">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box product-box-popular">
								<div class="product-popular">
									Most Popular
								</div>
								<div class="product-header">
									<h4>
										Email Business
									</h4>
									<p>
										Startups and small companies
									</p>
								</div>
								<div class="product-price">
									$10<span class="term">/ month</span>
								</div>
								<div class="product-features">
									<ul>
										<li>
											<strong>75 GB</strong> Storage
										</li>
										<li>
											<strong>50</strong> Email Accounts
										</li>
										<li>
											<strong>250</strong> Hosted Domains
										</li>
									</ul>
									<ul>
										<li>
											Premium Spam Protection
										</li>
										<li>
											Dedicated IP Address
										</li>
										<li>
											99.95% Uptime SLA
										</li>
									</ul>
								</div>
								<div class="product-order">
									<a class="button button-secondary" href="home-custom-color.html#email-business">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h4>
										Email Enterprise
									</h4>
									<p>
										Large and international companies
									</p>
								</div>
								<div class="product-price">
									$25<span class="term">/ month</span>
								</div>
								<div class="product-features">
									<ul>
										<li>
											<strong>250 GB</strong> Storage
										</li>
										<li>
											<strong>150</strong> Email Accounts
										</li>
										<li>
											<strong>500</strong> Hosted Domains
										</li>
									</ul>
									<ul>
										<li>
											Premium Spam Protection
										</li>
										<li>
											Dedicated IP Address
										</li>
										<li>
											99.95% Uptime SLA
										</li>
									</ul>
								</div>
								<div class="product-order">
									<a class="button button-secondary" href="home-custom-color.html#email-enterprise">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="column-row align-center">
						<div class="column-50">
							<p class="text-color-gray text-align-center">
								<small>Additional storage can be purchased separately at $0.50 per GB, additional email accounts can currently only be purchased with the email enterprise plan at $1.00 per user.</small>
							</p>
						</div>
					</div>
				</div>
				<div class="content-background content-background-light">
					<img src="uploads/banner-custom-color.jpg" alt="">
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							Enterprise Cloud Platform
						</h2>
						<p>
							Deploy your service infrastructure on our fully redundant, high performance cloud platform and benefit from its high reliability, security and enterprise feature set.
						</p>
					</header>
					<div class="column-row align-center-bottom text-align-center">
						<div class="column-33">
							<i class="fas fa-rocket icon-feature"></i>
							<h3>
								High Performance
							</h3>
							<p>
								We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.
							</p>
							<p>
								<a href="network.html">Anycast Network<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-cloud icon-feature"></i>
							<h3>
								Fully Redundant
							</h3>
							<p>
								Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy to keep your services online.
							</p>
							<p>
								<a href="network.html">Cloud Platform<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-shield-alt icon-feature"></i>
							<h3>
								Secure Infrastructure
							</h3>
							<p>
								All datacenters are Tier 4 certified and provide advanced fire and intrusion protection combined with enterprise networking hardware.
							</p>
							<p>
								<a href="network.html">Global Datacenters<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
					<div class="column-row align-center-bottom text-align-center">
						<div class="column-33">
							<i class="fas fa-sync-alt icon-feature"></i>
							<h3>
								Instant Activation
							</h3>
							<p>
								Your ordered product will be automatically and instantly activated as long as you are using a verified PayPal account for your purchase.
							</p>
							<p>
								<a href="home.html">Cloud Products<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-life-ring icon-feature"></i>
							<h3>
								Dedicated Support
							</h3>
							<p>
								Our dedicated in-house support team is available 24/7 to answer all technical difficulties you may encounter with any of our products.
							</p>
							<p>
								<a href="contact.html">Support Portal<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-cog icon-feature"></i>
							<h3>
								Powerful Automation
							</h3>
							<p>
								Our simple and intuitive developer API allows you to manage and extend existing products, as well as submitting new orders without interaction.
							</p>
							<p>
								<a href="features.html">Developer Guide<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<header class="content-header">
						<h2>
							Global 100 Gbit Network
						</h2>
						<p>
							Cloudhub offers a low latency worldwide network, enabling you to deploy your service infrastructure in close proximity to your customer base.
						</p>
					</header>
					<div class="network-map">
						<ul>
							<li style="top: 42%; left: 12.5%;">
								<a href="network.html"><span class="label-top-left">San Francisco</span></a>
							</li>
							<li style="top: 44%; left: 20%;">
								<a href="network.html"><span class="label-bottom-right">Dallas</span></a>
							</li>
							<li style="top: 40%; left: 26%;">
								<a href="network.html"><span class="label-top-right">New York</span></a>
							</li>
							<li style="top: 78%; left: 34%;">
								<a href="network.html"><span class="label-bottom-right">Sao Paulo</span></a>
							</li>
							<li style="top: 41%; left: 44.5%;">
								<a href="network.html"><span class="label-bottom-left">Lisbon</span></a>
							</li>
							<li style="top: 32%; left: 46.5%;">
								<a href="network.html"><span class="label-top-left">London</span></a>
							</li>
							<li style="top: 34%; left: 49.5%;">
								<a href="network.html"><span class="label-bottom-right">Frankfurt</span></a>
							</li>
							<li style="top: 64%; left: 75%;">
								<a href="network.html"><span class="label-bottom-left">Singapore</span></a>
							</li>
							<li style="top: 44%; left: 85%;">
								<a href="network.html"><span class="label-bottom-right">Tokyo</span></a>
							</li>
							<li style="top: 83%; left: 89%;">
								<a href="network.html"><span class="label-top-right">Sydney</span></a>
							</li>
						</ul>
						<img src="img/layout/map-dark.svg" alt="">
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							What Our Customers Say
						</h2>
						<p>
							We've helped hundreds of clients with custom server solutions, enabling them to operate much more efficient and secure than they ever did before.
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									My customers didn't experience a single minute of downtime since I moved my services over to Cloudhub.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Peter Miller</a><br>
									<small>Chemical Industries</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									Cloudhub helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>John Smith</a><br>
									<small>HQ Streaming Company</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									By switching to Cloudhub's Anycast DNS system we were able to decrease the worldwide app latency immensely.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Mary Fonda</a><br>
									<small>SAAS Billing Solutions</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Looking for a custom solution?
						</h2>
						<p>
							Our technicians can provide you with the best custom made solutions on the market, no matter whether you're a small business or large enterprise.<br><br>
							<a class="button button-secondary" href="contact.html">
								<i class="fas fa-envelope icon-left"></i>Get in touch
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>