<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-static">
			<div class="container">
				<a class="logo logo-center" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-large content-header-uppercase">
						<h2>
							Made for <mark>Hosting</mark>
						</h2>
						<p>
							Enhance your projects with our unique, powerful and responsive hosting technology template.<br><br>
							<a class="button button-secondary" href="https://themeforest.net/item/cloudhub-hosting-and-technology-html-template/21072525/support"><i class="fas fa-envelope icon-left"></i>Contact Support</a>
						</p>
					</header>
				</div>
			</section>
			<!-- Notification -->
			<section id="notification">
				<div class="container">
					<p>
						Cloudhub offers a great variety of different elements to enhance your projects. <a class="text-margin-left" href="index.html#demos">Explore Demos<i class="fas fa-angle-right icon-right"></i></a>
					</p>
				</div>
			</section>
			<!-- Content Row -->
			<section id="demos" class="content-row content-row-dark content-row-border-bottom">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home.html">
										<img src="uploads/demo-1.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Default
							</p>
						</div>
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-large-slider.html">
										<img src="uploads/demo-2.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Large Slider
							</p>
						</div>
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-light-header.html">
										<img src="uploads/demo-3.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Light Header
							</p>
						</div>
					</div>
					<div class="column-row">
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-single-page.html">
										<img src="uploads/demo-4.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Single Page
							</p>
						</div>
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-product-slider.html">
										<img src="uploads/demo-5.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Product Slider
							</p>
						</div>
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-light-slider.html">
										<img src="uploads/demo-6.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Light Slider
							</p>
						</div>
					</div>
					<div class="column-row">
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-user-onboarding.html">
										<img src="uploads/demo-7.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								User Onboarding
							</p>
						</div>
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-domain-search.html">
										<img src="uploads/demo-8.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Domain Search
							</p>
						</div>
						<div class="column-33">
							<div class="feature-box">
								<div class="feature-header">
									<a href="home-custom-color.html">
										<img src="uploads/demo-9.png" alt="">
									</a>
								</div>
							</div>
							<p class="text-color-gray text-align-center">
								Custom Color
							</p>
						</div>
					</div>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<p class="text-align-center">
						Cloudhub, a responsive hosting and technology template.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>