<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							Global Network
						</h1>
						<p>
							Cloudhub operates on a low latency, 100 Gbit worldwide network.
						</p>
					</header>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<div class="tab-group tab-group-switch-style">
						<div class="tab-item" data-title="Primary Locations">
							<div class="column-row align-center">
								<div class="column-80">
									<div class="network-map">
										<ul>
											<li style="top: 40%; left: 26%;">
												<a href="network.html"><span class="label-top-right">New York</span></a>
											</li>
											<li style="top: 34%; left: 49.5%;">
												<a href="network.html"><span class="label-bottom-right">Frankfurt</span></a>
											</li>
											<li style="top: 44%; left: 85%;">
												<a href="network.html"><span class="label-bottom-right">Tokyo</span></a>
											</li>
										</ul>
										<img src="img/layout/map-dark.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="column-row">
									<div class="column-33">
										<h3>
											New York, US
										</h3>
										<p>
											Tier 4 SAS 70 Type II Audited Facilities<br>
											Internap, Level 3, Cogent
										</p>
										<p>
											<a href="#speedtest-ch-nyc-1">Speedtest CH-NYC-1</a><br>
											<a href="#speedtest-ch-nyc-2">Speedtest CH-NYC-2</a>
										</p>
									</div>
									<div class="column-33">
										<h3>
											Frankfurt, DE
										</h3>
										<p>
											Tier 4 SSAE 16 Audited Facilities<br>
											Level 3, DeCIX, Deutsche Telekom
										</p>
										<p>
											<a href="#speedtest-ch-fra-1">Speedtest CH-FRA-1</a><br>
											<a href="#speedtest-ch-fra-2">Speedtest CH-FRA-2</a><br>
											<a href="#speedtest-ch-fra-3">Speedtest CH-FRA-3</a>
										</p>
									</div>
									<div class="column-33">
										<h3>
											Tokyo, JP
										</h3>
										<p>
											Tier 4 SAS 70 Type II Audited Facilities<br>
											PCCW, HKIX, Starhub, Equinix Exchange Peers
										</p>
										<p>
											<a href="#speedtest-ch-tky-1">Speedtest CH-TKY-1</a><br>
											<a href="#speedtest-ch-tky-2">Speedtest CH-TKY-2</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-item" data-title="Secondary Locations">
							<div class="column-row align-center">
								<div class="column-80">
									<div class="network-map">
										<ul>
											<li style="top: 42%; left: 12.5%;">
												<a href="network.html"><span class="label-top-left">San Francisco</span></a>
											</li>
											<li style="top: 44%; left: 20%;">
												<a href="network.html"><span class="label-bottom-right">Dallas</span></a>
											</li>
											<li style="top: 78%; left: 34%;">
												<a href="network.html"><span class="label-bottom-right">Sao Paulo</span></a>
											</li>
											<li style="top: 41%; left: 44.5%;">
												<a href="network.html"><span class="label-bottom-left">Lisbon</span></a>
											</li>
											<li style="top: 32%; left: 46.5%;">
												<a href="network.html"><span class="label-top-left">London</span></a>
											</li>
											<li style="top: 64%; left: 75%;">
												<a href="network.html"><span class="label-bottom-left">Singapore</span></a>
											</li>
											<li style="top: 83%; left: 89%;">
												<a href="network.html"><span class="label-top-right">Sydney</span></a>
											</li>
										</ul>
										<img src="img/layout/map-dark.svg" alt="">
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="column-row">
									<div class="column-33">
										<h3>
											London, UK
										</h3>
										<p>
											Tier 4 SAS 70 Type II Audited Facilities<br>
											PCCW, HKIX, Starhub, Equinix Exchange Peers
										</p>
										<p>
											<a href="#speedtest-ch-ldn-1">Speedtest CH-LDN-1</a>
										</p>
									</div>
									<div class="column-33">
										<h3>
											San Francisco, US
										</h3>
										<p>
											Tier 4 SAS 70 Type II Audited Facilities<br>
											PCCW, HKIX, Starhub, Equinix Exchange Peers
										</p>
										<p>
											<a href="#speedtest-ch-sfa-1">Speedtest CH-SFA-1</a><br>
											<a href="#speedtest-ch-sfa-2">Speedtest CH-SFA-2</a>
										</p>
									</div>
									<div class="column-33">
										<h3>
											Sau Paulo, BR
										</h3>
										<p>
											Tier 4 SSAE 16 Audited Facilities<br>
											Level 3, DeCIX, Deutsche Telekom
										</p>
										<p>
											<a href="#speedtest-ch-spa-1">Speedtest CH-SPA-1</a>
										</p>
									</div>
								</div>
								<div class="column-row">
									<div class="column-33">
										<h3>
											Dallas, US
										</h3>
										<p>
											Tier 4 SAS 70 Type II Audited Facilities<br>
											Internap, Level 3, Cogent
										</p>
										<p>
											<a href="#speedtest-ch-dal-1">Speedtest CH-DAL-1</a>
										</p>
									</div>
									<div class="column-33">
										<h3>
											Lisbon, PT
										</h3>
										<p>
											Tier 4 SSAE 16 Audited Facilities<br>
											Level 3, DeCIX, Deutsche Telekom
										</p>
										<p>
											<a href="#speedtest-ch-lis-1">Speedtest CH-LIS-1</a>
										</p>
									</div>
									<div class="column-33">
										<h3>
											Sydney, AU
										</h3>
										<p>
											Tier 4 SAS 70 Type II Audited Facilities<br>
											PCCW, HKIX, Starhub, Equinix Exchange Peers
										</p>
										<p>
											<a href="#speedtest-ch-sdy-1">Speedtest CH-SDY-1</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column-row align-center">
						<div class="column-50 text-align-center">
							<p>
								<small class="text-color-gray">We fully own and operate the datacenters in our primary locations, the secondary locations however are rented floor space of our infrastructure provider partners.</small>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<div class="column-row align-center">
						<div class="column-50">
							<div class="network-map">
								<ul>
									<li style="top: 42%; left: 12.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 44%; left: 20%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 40%; left: 26%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 78%; left: 34%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 41%; left: 44.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 32%; left: 46.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 34%; left: 49.5%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 64%; left: 75%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 44%; left: 85%;">
										<a href="network.html"></a>
									</li>
									<li style="top: 83%; left: 89%;">
										<a href="network.html"></a>
									</li>
								</ul>
								<img src="img/layout/map-dark.svg" alt="">
							</div>
						</div>
						<div class="column-50">
							<h3>
								Instant Worldwide Deployment
							</h3>
							<p>
								Depending on the product you have the choice of up to 10 worldwide locations to deploy your services. Our low latency network has a dedicated primary 100 Gbit capacity and the ability to burst up to 800 Gbit through our peering partners.
							</p>
							<h4>
								Localized Peering
							</h4>
							<p>
								Our network engineers are continuously optimizing the routing to ensure low latency and high bandwidth throughput across all datacenter locations. Customers additionally have the option to request custom routing.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<div class="column-row">
						<div class="column-50">
							<h3>
								Redundant Infrastructure
							</h3>
							<p>
								We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection. All our datacenters are Tier 4 certified and provide advanced fire and intrusion protection combined with enterprise networking hardware to ensure highest availability.
							</p>
							<ul class="list-style-icon">
								<li>
									<i class="fas fa-check"></i>Redundant network gear
								</li>
								<li>
									<i class="fas fa-check"></i>Systematic double power supply
								</li>
								<li>
									<i class="fas fa-check"></i>Minimum of 200 kVA per UPS device
								</li>
								<li>
									<i class="fas fa-check"></i>Generators with initial autonomy of 48 hours
								</li>
								<li>
									<i class="fas fa-check"></i>Support technicians on site 24/7
								</li>
							</ul>
							<p class="text-color-gray">
								<small>Our primary locations offer additional advanced features, custom colocation and deployment options perfectly suited for mission critical enterprise services.</small>
							</p>
						</div>
						<div class="column-50">
							<div class="gallery gallery-slider">
								<ul>
									<li>
										<a href="uploads/gallery-5.jpg"><img src="uploads/gallery-5-small.jpg" alt=""></a>
									</li>
									<li>
										<a href="uploads/gallery-6.jpg"><img src="uploads/gallery-6-small.jpg" alt=""></a>
									</li>
									<li>
										<a href="uploads/gallery-7.jpg"><img src="uploads/gallery-7-small.jpg" alt=""></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							What Our Customers Say
						</h2>
						<p>
							We've helped hundreds of clients with custom server solutions, enabling them to operate much more efficient and secure than they ever did before.
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									My customers didn't experience a single minute of downtime since I moved my services over to Cloudhub.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Peter Miller</a><br>
									<small>Chemical Industries</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									Cloudhub helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>John Smith</a><br>
									<small>HQ Streaming Company</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									By switching to Cloudhub's Anycast DNS system we were able to decrease the worldwide app latency immensely.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Mary Fonda</a><br>
									<small>SAAS Billing Solutions</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Looking for a custom solution?
						</h2>
						<p>
							Our technicians can provide you with the best custom made solutions on the market, no matter whether you're a small business or large enterprise.<br><br>
							<a class="button button-secondary" href="contact.html">
								<i class="fas fa-envelope icon-left"></i>Get in touch
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>