<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds content-row-half-height">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							Domain Names
						</h1>
						<p>
							Choose from hundreds of extensions to get the perfect domain name.
						</p>
					</header>
					<div class="column-row align-center">
						<div class="column-66">
							<form class="form-full-width" method="get" action="products-domain-names.html">
								<div class="group align-center form-row">
									<input class="group-stretch" type="text" name="domain" placeholder="Get your next domain name">
									<button class="button-secondary"><i class="fas fa-search icon-left"></i>Search</button>
								</div>
							</form>
						</div>
					</div>
					<div class="column-row align-center">
						<div class="column-50">
							<p class="text-align-center">
								<small class="text-color-gray">Cloudhub is an ICANN accredited registrar offering fully automated domain purchases including free whois protection, email hosting and advanced DNS management.</small>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<header class="content-header">
						<h2>
							Most Popular Extensions
						</h2>
						<p>
							Following you'll find the search result for the most popular domain name extensions. If your requested domain is already registered why not have a <a href="#alternative-extensions">look at our alternatives<i class="fas fa-angle-right icon-right"></i></a>
						</p>
					</header>
					<div class="column-row align-center">
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h2 class="text-break-all">
										example.com
									</h2>
									<p class="text-color-success">
										<i class="fas fa-check icon-left"></i>Available
									</p>
								</div>
								<div class="product-price">
									$8<span class="term">/ year</span>
								</div>
								<div class="product-order">
									<form class="form-full-width">
										<div class="form-row">
											<select class="product-term-select">
												<option data-price="$8" data-term="/ year" data-href="products-domain-names.html#com-1-year">1 Year</option>
												<option data-price="$7" data-term="/ year" data-href="products-domain-names.html#com-2-years">2 Years</option>
												<option data-price="$6" data-term="/ year" data-href="products-domain-names.html#com-3-years">3 Years</option>
											</select>
										</div>
									</form>
									<a class="button button-secondary" href="products-domain-names.html#com-1-year">
										<i class="fas fa-shopping-cart icon-left"></i>Register Now
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h2 class="text-break-all text-color-gray">
										example.net
									</h2>
									<p class="text-color-error">
										<i class="fas fa-remove icon-left"></i>Unavailable
									</p>
								</div>
								<div class="product-price text-color-gray">
									$14<span class="term">/ year</span>
								</div>
								<div class="product-order">
									<form class="form-full-width">
										<div class="form-row">
											<select class="product-term-select" disabled>
												<option data-price="$14" data-term="/ year" data-href="products-domain-names.html#net-1-year">1 Year</option>
												<option data-price="$13" data-term="/ year" data-href="products-domain-names.html#net-2-years">2 Years</option>
												<option data-price="$12" data-term="/ year" data-href="products-domain-names.html#net-3-years">3 Years</option>
											</select>
										</div>
									</form>
									<a class="button" href="products-domain-names.html#net-whois">
										<i class="fas fa-eye icon-left"></i>Whois Request
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h2 class="text-break-all">
										example.org
									</h2>
									<p class="text-color-success">
										<i class="fas fa-check icon-left"></i>Available
									</p>
								</div>
								<div class="product-price">
									$12<span class="term">/ year</span>
								</div>
								<div class="product-order">
									<form class="form-full-width">
										<div class="form-row">
											<select class="product-term-select">
												<option data-price="$12" data-term="/ year" data-href="products-domain-names.html#org-1-year">1 Year</option>
												<option data-price="$11" data-term="/ year" data-href="products-domain-names.html#org-2-years">2 Years</option>
												<option data-price="$10" data-term="/ year" data-href="products-domain-names.html#org-3-years">3 Years</option>
											</select>
										</div>
									</form>
									<a class="button button-secondary" href="products-domain-names.html#org-1-year">
										<i class="fas fa-shopping-cart icon-left"></i>Register Now
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section id="alternative-extensions" class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							Alternative Extensions
						</h2>
						<p>
							Should your requested domain name not be available anymore with one of the most popular extensions you can choose one of our equally awesome alternatives listed below.
						</p>
					</header>
					<table class="table-layout-domain">
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.co
								</h4>
							</td>
							<td class="highlight">
								$24 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#co-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-remove text-color-error"></i>
							</td>
							<td>
								<h4 class="text-color-gray">
									example.online
								</h4>
							</td>
							<td class="highlight text-color-gray">
								$16 / year
							</td>
							<td>
								<a class="button" href="products-domain-names.html#online-whois">
									<i class="fas fa-eye icon-left"></i>Whois Request
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.us <small class="text-color-primary"><sup>Sale</sup></small>
								</h4>
							</td>
							<td class="highlight">
								$4 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#us-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.biz
								</h4>
							</td>
							<td class="highlight">
								$6 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#biz-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.site
								</h4>
							</td>
							<td class="highlight">
								$12 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#site-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-remove text-color-error"></i>
							</td>
							<td>
								<h4 class="text-color-gray">
									example.app
								</h4>
							</td>
							<td class="highlight text-color-gray">
								$49 / year
							</td>
							<td>
								<a class="button" href="products-domain-names.html#app-whois">
									<i class="fas fa-eye icon-left"></i>Whois Request
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.io <small class="text-color-primary"><sup>Premium</sup></small>
								</h4>
							</td>
							<td class="highlight">
								$29 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#io-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.uk
								</h4>
							</td>
							<td class="highlight">
								$9 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#uk-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.in
								</h4>
							</td>
							<td class="highlight">
								$19 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#in-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fas fa-check text-color-success"></i>
							</td>
							<td>
								<h4>
									example.blog <small class="text-color-primary"><sup>Sale</sup></small>
								</h4>
							</td>
							<td class="highlight">
								$5 / year
							</td>
							<td>
								<a class="button button-secondary" href="products-domain-names.html#blog-1-year">
									<i class="fas fa-shopping-cart icon-left"></i>Register Now
								</a>
							</td>
						</tr>
					</table>
					<div class="column-row align-center">
						<div class="column-50 text-align-center">
							<p>
								<small class="text-color-gray">Please note that we cannot guarantee the domain availability until you have purchased the domain name and our system has successfully confirmed the registration process.</small>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<header class="content-header">
						<h2>
							Enterprise Cloud Platform
						</h2>
						<p>
							Deploy your service infrastructure on our fully redundant, high performance cloud platform and benefit from its high reliability, security and enterprise feature set.
						</p>
					</header>
					<div class="column-row">
						<div class="column-33">
							<h3>
								<i class="fas fa-rocket icon-feature-inline"></i>High Performance
							</h3>
							<p>
								We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.
							</p>
							<p>
								<a href="network.html">Anycast Network<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-cloud icon-feature-inline"></i>Fully Redundant
							</h3>
							<p>
								Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy to keep your services online.
							</p>
							<p>
								<a href="network.html">Cloud Platform<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-shield-alt icon-feature-inline"></i>Secure Infrastructure
							</h3>
							<p>
								All datacenters are Tier 4 certified and provide advanced fire and intrusion protection combined with enterprise networking hardware.
							</p>
							<p>
								<a href="network.html">Global Datacenters<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
					<div class="column-row">
						<div class="column-33">
							<h3>
								<i class="fas fa-sync-alt icon-feature-inline"></i>Instant Activation
							</h3>
							<p>
								Your ordered product will be automatically and instantly activated as long as you are using a verified PayPal account for your purchase.
							</p>
							<p>
								<a href="home.html">Cloud Products<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-life-ring icon-feature-inline"></i>Dedicated Support
							</h3>
							<p>
								Our dedicated in-house support team is available 24/7 to answer all technical difficulties you may encounter with any of our products.
							</p>
							<p>
								<a href="contact.html">Support Portal<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-cog icon-feature-inline"></i>Powerful Automation
							</h3>
							<p>
								Our simple and intuitive developer API allows you to manage and extend existing products, as well as submitting new orders without interaction.
							</p>
							<p>
								<a href="features.html">Developer Guide<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							What Our Customers Say
						</h2>
						<p>
							We've helped hundreds of clients with custom server solutions, enabling them to operate much more efficient and secure than they ever did before.
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									My customers didn't experience a single minute of downtime since I moved my services over to Cloudhub.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Peter Miller</a><br>
									<small>Chemical Industries</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									Cloudhub helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>John Smith</a><br>
									<small>HQ Streaming Company</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									By switching to Cloudhub's Anycast DNS system we were able to decrease the worldwide app latency immensely.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Mary Fonda</a><br>
									<small>SAAS Billing Solutions</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Looking for a custom solution?
						</h2>
						<p>
							Our technicians can provide you with the best custom made solutions on the market, no matter whether you're a small business or large enterprise.<br><br>
							<a class="button button-secondary" href="contact.html">
								<i class="fas fa-envelope icon-left"></i>Get in touch
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>