<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							Cloud Hosting
						</h1>
						<p>
							Fully managed enterprise hosting with failover support and load balancing.
						</p>
					</header>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<div class="tab-group tab-group-switch-style">
						<div class="tab-item" data-title="Monthly">
							<div class="column-row align-center-bottom">
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Cloud Starter
											</h4>
											<p>
												Medium traffic personal sites
											</p>
										</div>
										<div class="product-price">
											$9<span class="term">/ month</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>10</strong> Hosted Domains
												</li>
												<li>
													<strong>25 GB</strong> RAID 10 Storage
												</li>
												<li>
													<strong>200 GB</strong> Premium Bandwidth
												</li>
											</ul>
											<ul>
												<li>
													Powered by cPanel&reg;
												</li>
												<li>
													Dedicated IP Address
												</li>
												<li>
													99.95% Uptime SLA
												</li>
												<li>
													1000 Mbit Uplink
												</li>
											</ul>
										</div>
										<div class="product-order">
											<a class="button button-secondary" href="products-cloud-hosting.html#cloud-starter-monthly">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box product-box-popular">
										<div class="product-popular">
											Most Popular
										</div>
										<div class="product-header">
											<h4>
												Cloud Business
											</h4>
											<p>
												High traffic corporate sites
											</p>
										</div>
										<div class="product-price">
											$18<span class="term">/ month</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>30</strong> Hosted Domains
												</li>
												<li>
													<strong>75 GB</strong> RAID 10 Storage
												</li>
												<li>
													<strong>600 GB</strong> Premium Bandwidth
												</li>
											</ul>
											<ul>
												<li>
													Powered by cPanel&reg;
												</li>
												<li>
													Dedicated IP Address
												</li>
												<li>
													99.95% Uptime SLA
												</li>
												<li>
													1000 Mbit Uplink
												</li>
											</ul>
										</div>
										<div class="product-order">
											<a class="button button-secondary" href="products-cloud-hosting.html#cloud-business-monthly">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Cloud Enterprise
											</h4>
											<p>
												Enterprise content management
											</p>
										</div>
										<div class="product-price">
											$36<span class="term">/ month</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>60</strong> Hosted Domains
												</li>
												<li>
													<strong>150 GB</strong> RAID 10 Storage
												</li>
												<li>
													<strong>1200 GB</strong> Premium Bandwidth
												</li>
											</ul>
											<ul>
												<li>
													Powered by cPanel&reg;
												</li>
												<li>
													Dedicated IP Address
												</li>
												<li>
													99.95% Uptime SLA
												</li>
												<li>
													1000 Mbit Uplink
												</li>
											</ul>
										</div>
										<div class="product-order">
											<a class="button button-secondary" href="products-cloud-hosting.html#cloud-enterprise-monthly">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-item" data-title="Yearly">
							<div class="column-row align-center-bottom">
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Cloud Starter
											</h4>
											<p>
												Medium traffic personal sites
											</p>
										</div>
										<div class="product-price">
											$90<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>10</strong> Hosted Domains
												</li>
												<li>
													<strong>25 GB</strong> RAID 10 Storage
												</li>
												<li>
													<strong>200 GB</strong> Premium Bandwidth
												</li>
											</ul>
											<ul>
												<li>
													Powered by cPanel&reg;
												</li>
												<li>
													Dedicated IP Address
												</li>
												<li>
													99.95% Uptime SLA
												</li>
												<li>
													1000 Mbit Uplink
												</li>
											</ul>
										</div>
										<div class="product-order">
											<a class="button button-secondary" href="products-cloud-hosting.html#cloud-starter-yearly">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box product-box-popular">
										<div class="product-popular">
											Most Popular
										</div>
										<div class="product-header">
											<h4>
												Cloud Business
											</h4>
											<p>
												High traffic corporate sites
											</p>
										</div>
										<div class="product-price">
											$180<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>30</strong> Hosted Domains
												</li>
												<li>
													<strong>75 GB</strong> RAID 10 Storage
												</li>
												<li>
													<strong>600 GB</strong> Premium Bandwidth
												</li>
											</ul>
											<ul>
												<li>
													Powered by cPanel&reg;
												</li>
												<li>
													Dedicated IP Address
												</li>
												<li>
													99.95% Uptime SLA
												</li>
												<li>
													1000 Mbit Uplink
												</li>
											</ul>
										</div>
										<div class="product-order">
											<a class="button button-secondary" href="products-cloud-hosting.html#cloud-business-yearly">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Cloud Enterprise
											</h4>
											<p>
												Enterprise content management
											</p>
										</div>
										<div class="product-price">
											$360<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>60</strong> Hosted Domains
												</li>
												<li>
													<strong>150 GB</strong> RAID 10 Storage
												</li>
												<li>
													<strong>1200 GB</strong> Premium Bandwidth
												</li>
											</ul>
											<ul>
												<li>
													Powered by cPanel&reg;
												</li>
												<li>
													Dedicated IP Address
												</li>
												<li>
													99.95% Uptime SLA
												</li>
												<li>
													1000 Mbit Uplink
												</li>
											</ul>
										</div>
										<div class="product-order">
											<a class="button button-secondary" href="products-cloud-hosting.html#cloud-enterprise-yearly">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<div class="column-row">
						<div class="column-50">
							<h3>
								<i class="fas fa-plus-circle icon-feature-inline"></i>Available Addons
							</h3>
							<p>
								Each cloud hosting product comes with the possibility to extend its resources without the need to change to a higher plan. Dedicated IP addresses are currently limited to 3, the maximum amount of storage available per product and server is 500 GB. Please note that resources cannot be extended indefinitely due to hardware or company policy restrictions.
							</p>
							<p>
								<small class="text-color-gray">Additional bandwidth cannot be purchased after you have exceeded your monthly quota included in your plan. Any overages will be charged at $0.25 per GB.</small>
							</p>
						</div>
						<div class="column-50">
							<table>
								<caption>
									Cloud Hosting Addons
								</caption>
								<tbody>
									<tr>
										<td>10 Hosted Domains</td>
										<td>$2.50 <small>/ month</small></td>
									</tr>
									<tr>
										<td>25 GB RAID 10 Storage</td>
										<td>$6.00 <small>/ month</small></td>
									</tr>
									<tr>
										<td>200 GB Premium Bandwidth</td>
										<td>$8.00 <small>/ month</small></td>
									</tr>
									<tr>
										<td>1 Dedicated IP Address</td>
										<td>$3.50 <small>/ month</small></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<header class="content-header">
						<h2>
							Cloud Hosting Features
						</h2>
						<p>
							Don't know which cloud hosting plan to choose? Our extended feature comparison should help you decide which product you require for your application environment.
						</p>
					</header>
					<table class="table-layout-product-comparison">
						<thead>
							<tr>
								<th></th>
								<th>Cloud Starter</th>
								<th>Cloud Business</th>
								<th>Cloud Enterprise</th>
							</tr>
						</thead>
						<tbody>
							<tr class="product-header">
								<td></td>
								<td>
									<h4>
										Cloud Starter
									</h4>
									<p>
										Medium traffic personal sites
									</p>
									<p class="product-price">
										$9<span class="term">/ month</span>
									</p>
								</td>
								<td>
									<h4>
										Cloud Business
									</h4>
									<p>
										High traffic corporate sites
									</p>
									<p class="product-price">
										$18<span class="term">/ month</span>
									</p>
								</td>
								<td>
									<h4>
										Cloud Enterprise
									</h4>
									<p>
										Enterprise content management
									</p>
									<p class="product-price">
										$36<span class="term">/ month</span>
									</p>
								</td>
							</tr>
							<tr>
								<td>Hosted Domains</td>
								<td>10</td>
								<td>30</td>
								<td>60</td>
							</tr>
							<tr>
								<td>RAID 10 Storage</td>
								<td>25 GB</td>
								<td>75 GB</td>
								<td>150 GB</td>
							</tr>
							<tr>
								<td>Premium Bandwidth</td>
								<td>200 GB</td>
								<td>600 GB</td>
								<td>1200 GB</td>
							</tr>
							<tr class="product-order">
								<td></td>
								<td>
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-starter-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</td>
								<td>
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-business-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</td>
								<td>
									<a class="button button-secondary" href="products-cloud-hosting.html#cloud-enterprise-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</td>
							</tr>
							<tr class="product-feature-group">
								<td>Package Features</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Network Uplink</td>
								<td>1000 Mbit</td>
								<td>1000 Mbit</td>
								<td>1000 Mbit</td>
							</tr>
							<tr>
								<td>Uptime Guarantee</td>
								<td>99.95%</td>
								<td>99.95%</td>
								<td>99.95%</td>
							</tr>
							<tr>
								<td>cPanel&reg; Accounts</td>
								<td>5</td>
								<td>15</td>
								<td>25</td>
							</tr>
							<tr>
								<td>Dedicated IP Address</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Custom Nameservers</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr class="product-feature-group">
								<td>Email Features</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Mailboxes</td>
								<td>15</td>
								<td>50</td>
								<td>150</td>
							</tr>
							<tr>
								<td>Hourly Limit</td>
								<td>200</td>
								<td>600</td>
								<td>1200</td>
							</tr>
							<tr>
								<td>Spam Filter</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Webmail</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr class="product-feature-group">
								<td>Server Features</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>CentOS 7.4</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Apache 2.4</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Node 9.5</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>PHP 7.2</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>HAProxy</td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Root Access</td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr class="product-feature-group">
								<td>Support Features</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Instant Setup</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Ticket Support</td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Live Support</td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr>
								<td>Remote Hands</td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-times text-color-light"></i></td>
								<td><i class="fas fa-check text-color-primary"></i></td>
							</tr>
							<tr class="product-feature-group">
								<td>Pricing Options</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Monthly</td>
								<td>$9</td>
								<td>$18</td>
								<td>$36</td>
							</tr>
							<tr>
								<td>Quarterly</td>
								<td>$24</td>
								<td>$48</td>
								<td>$98</td>
							</tr>
							<tr>
								<td>Yearly</td>
								<td>$90</td>
								<td>$180</td>
								<td>$360</td>
							</tr>
						</tbody>
					</table>
					<div class="column-row align-center">
						<div class="column-50 text-align-center">
							<p>
								<small class="text-color-gray">Additional IP addresses are available at $3.50 per month each as long as a valid justification is provided. Any bandwidth overages will be charged at $0.25 per GB.</small>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							What Our Customers Say
						</h2>
						<p>
							We've helped hundreds of clients with custom server solutions, enabling them to operate much more efficient and secure than they ever did before.
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									My customers didn't experience a single minute of downtime since I moved my services over to Cloudhub.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Peter Miller</a><br>
									<small>Chemical Industries</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									Cloudhub helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>John Smith</a><br>
									<small>HQ Streaming Company</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									By switching to Cloudhub's Anycast DNS system we were able to decrease the worldwide app latency immensely.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Mary Fonda</a><br>
									<small>SAAS Billing Solutions</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Looking for a custom solution?
						</h2>
						<p>
							Our technicians can provide you with the best custom made solutions on the market, no matter whether you're a small business or large enterprise.<br><br>
							<a class="button button-secondary" href="contact.html">
								<i class="fas fa-envelope icon-left"></i>Get in touch
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>