<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							SSL Certificates
						</h1>
						<p>
							Secure your website communications and gain the trust of your clients.
						</p>
					</header>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<div class="tab-group tab-group-switch-style">
						<div class="tab-item" data-title="Standard">
							<div class="column-row align-center-bottom">
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												PositiveSSL DV
											</h4>
											<p>
												Powered by Comodo
											</p>
										</div>
										<div class="product-price">
											$9<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>Free</strong> Reissues
												</li>
												<li>
													<strong>$10,000</strong> Warranty
												</li>
												<li>
													<strong>Single Domain</strong> Validation
												</li>
											</ul>
											<ul>
												<li>
													99.9% Browser Support
												</li>
												<li>
													256-bit Encryption
												</li>
												<li>
													Single Domain
												</li>
											</ul>
										</div>
										<div class="product-order">
											<form class="form-full-width">
												<div class="form-row">
													<select class="product-term-select">
														<option data-price="$9" data-term="/ year" data-href="products-ssl-certificates.html#positivessl-dv-1-year">1 Year</option>
														<option data-price="$8" data-term="/ year" data-href="products-ssl-certificates.html#positivessl-dv-2-years">2 Years</option>
														<option data-price="$7" data-term="/ year" data-href="products-ssl-certificates.html#positivessl-dv-3-years">3 Years</option>
													</select>
												</div>
											</form>
											<a class="button button-secondary" href="products-ssl-certificates.html#positivessl-dv-1-year">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box product-box-popular">
										<div class="product-popular">
											Most Popular
										</div>
										<div class="product-header">
											<h4>
												InstantSSL Pro OV
											</h4>
											<p>
												Powered by Comodo
											</p>
										</div>
										<div class="product-price">
											$29<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>Free</strong> Reissues
												</li>
												<li>
													<strong>$100,000</strong> Warranty
												</li>
												<li>
													<strong>Organization</strong> Validation
												</li>
											</ul>
											<ul>
												<li>
													99.9% Browser Support
												</li>
												<li>
													256-bit Encryption
												</li>
												<li>
													Single Domain
												</li>
											</ul>
										</div>
										<div class="product-order">
											<form class="form-full-width">
												<div class="form-row">
													<select class="product-term-select">
														<option data-price="$29" data-term="/ year" data-href="products-ssl-certificates.html#instantssl-pro-ov-1-year">1 Year</option>
														<option data-price="$24" data-term="/ year" data-href="products-ssl-certificates.html#instantssl-pro-ov-2-years">2 Years</option>
														<option data-price="$19" data-term="/ year" data-href="products-ssl-certificates.html#instantssl-pro-ov-3-years">3 Years</option>
													</select>
												</div>
											</form>
											<a class="button button-secondary" href="products-ssl-certificates.html#instantssl-pro-ov-1-year">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												QuickSSL Premium SAN
											</h4>
											<p>
												Powered by GeoTrust
											</p>
										</div>
										<div class="product-price">
											$99<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>Free</strong> Reissues
												</li>
												<li>
													<strong>$500,000</strong> Warranty
												</li>
												<li>
													<strong>Multi Domain</strong> Validation
												</li>
											</ul>
											<ul>
												<li>
													99.9% Browser Support
												</li>
												<li>
													256-bit Encryption
												</li>
												<li>
													Multiple Domains
												</li>
											</ul>
										</div>
										<div class="product-order">
											<form class="form-full-width">
												<div class="form-row">
													<select class="product-term-select">
														<option data-price="$99" data-term="/ year" data-href="products-ssl-certificates.html#quickssl-premium-san-1-year">1 Year</option>
														<option data-price="$89" data-term="/ year" data-href="products-ssl-certificates.html#quickssl-premium-san-2-years">2 Years</option>
														<option data-price="$79" data-term="/ year" data-href="products-ssl-certificates.html#quickssl-premium-san-3-years">3 Years</option>
													</select>
												</div>
											</form>
											<a class="button button-secondary" href="products-ssl-certificates.html#quickssl-premium-san-1-year">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-item" data-title="Extended">
							<div class="column-row align-center-bottom">
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												PositiveSSL EV
											</h4>
											<p>
												Powered by Comodo
											</p>
										</div>
										<div class="product-price">
											$69<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>Free</strong> Reissues
												</li>
												<li>
													<strong>$1,000,000</strong> Warranty
												</li>
												<li class="text-color-success">
													<i class="fas fa-lock icon-left"></i>Extended Validation Level
												</li>
											</ul>
											<ul>
												<li>
													99.9% Browser Support
												</li>
												<li>
													256-bit Encryption
												</li>
												<li>
													Single Domain
												</li>
											</ul>
										</div>
										<div class="product-order">
											<form class="form-full-width">
												<div class="form-row">
													<select class="product-term-select">
														<option data-price="$69" data-term="/ year" data-href="products-ssl-certificates.html#positivessl-ev-1-year">1 Year</option>
														<option data-price="$59" data-term="/ year" data-href="products-ssl-certificates.html#positivessl-ev-2-years">2 Years</option>
														<option data-price="$49" data-term="/ year" data-href="products-ssl-certificates.html#positivessl-ev-3-years">3 Years</option>
													</select>
												</div>
											</form>
											<a class="button button-secondary" href="products-ssl-certificates.html#positivessl-ev-1-year">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box product-box-popular">
										<div class="product-popular">
											Most Popular
										</div>
										<div class="product-header">
											<h4>
												True BusinessID EV
											</h4>
											<p>
												Powered by GeoTrust
											</p>
										</div>
										<div class="product-price">
											$129<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>Free</strong> Reissues
												</li>
												<li>
													<strong>$1,500,000</strong> Warranty
												</li>
												<li class="text-color-success">
													<i class="fas fa-lock icon-left"></i>Extended Validation Level
												</li>
											</ul>
											<ul>
												<li>
													99.9% Browser Support
												</li>
												<li>
													256-bit Encryption
												</li>
												<li>
													Single Domain
												</li>
											</ul>
										</div>
										<div class="product-order">
											<form class="form-full-width">
												<div class="form-row">
													<select class="product-term-select">
														<option data-price="$129" data-term="/ year" data-href="products-ssl-certificates.html#true-businessid-ev-1-year">1 Year</option>
														<option data-price="$119" data-term="/ year" data-href="products-ssl-certificates.html#true-businessid-ev-2-years">2 Years</option>
														<option data-price="$109" data-term="/ year" data-href="products-ssl-certificates.html#true-businessid-ev-3-years">3 Years</option>
													</select>
												</div>
											</form>
											<a class="button button-secondary" href="products-ssl-certificates.html#true-businessid-ev-1-year">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												True BusinessID SAN EV
											</h4>
											<p>
												Powered by GeoTrust
											</p>
										</div>
										<div class="product-price">
											$199<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>Free</strong> Reissues
												</li>
												<li>
													<strong>$1,500,000</strong> Warranty
												</li>
												<li class="text-color-success">
													<i class="fas fa-lock icon-left"></i>Extended Validation Level
												</li>
											</ul>
											<ul>
												<li>
													99.9% Browser Support
												</li>
												<li>
													256-bit Encryption
												</li>
												<li>
													Multiple Domains
												</li>
											</ul>
										</div>
										<div class="product-order">
											<form class="form-full-width">
												<div class="form-row">
													<select class="product-term-select">
														<option data-price="$199" data-term="/ year" data-href="products-ssl-certificates.html#true-businessid-san-ev-1-year">1 Year</option>
														<option data-price="$189" data-term="/ year" data-href="products-ssl-certificates.html#true-businessid-san-ev-2-years">2 Years</option>
														<option data-price="$179" data-term="/ year" data-href="products-ssl-certificates.html#true-businessid-san-ev-3-years">3 Years</option>
													</select>
												</div>
											</form>
											<a class="button button-secondary" href="products-ssl-certificates.html#true-businessid-san-ev-1-year">
												<i class="fas fa-shopping-cart icon-left"></i>Order Now
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column-row align-center">
						<div class="column-50 text-align-center">
							<p>
								<small class="text-color-gray">Please note that validation times vary depending on the certificate you're purchasing. Organization and extended validation can take up to 7 business days.</small>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							Certificate Activation Process
						</h2>
						<p>
							Every certificate needs to be validated, activated and installed after a purchase. Following steps show the basic requirements to successfully deploy a certificate to your website.
						</p>
					</header>
					<div class="column-row">
						<div class="column-25">
							<div class="feature-box">
								<div class="feature-header">
									<i class="fas fa-shopping-cart icon-feature"></i>
								</div>
								<div class="feature-content">
									<h3>
										Purchase
									</h3>
									<p>
										Simply start by purchasing one of our certificates offered above.
									</p>
								</div>
							</div>
						</div>
						<div class="column-25">
							<div class="feature-box">
								<div class="feature-header">
									<i class="fas fa-file-alt icon-feature"></i>
								</div>
								<div class="feature-content">
									<h3>
										Activate
									</h3>
									<p>
										Follow the given validation instructions to activate your new certificate.
									</p>
								</div>
							</div>
						</div>
						<div class="column-25">
							<div class="feature-box">
								<div class="feature-header">
									<i class="fas fa-cog icon-feature"></i>
								</div>
								<div class="feature-content">
									<h3>
										Install
									</h3>
									<p>
										You'll receive installation instructions as soon as your certificate has been issued.
									</p>
								</div>
							</div>
						</div>
						<div class="column-25">
							<div class="feature-box">
								<div class="feature-header">
									<i class="fas fa-sliders-h icon-feature"></i>
								</div>
								<div class="feature-content">
									<h3>
										Manage
									</h3>
									<p>
										You can easily manage and reissue all your certificates in our customer portal.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<header class="content-header">
						<h2>
							Enterprise Cloud Platform
						</h2>
						<p>
							Deploy your service infrastructure on our fully redundant, high performance cloud platform and benefit from its high reliability, security and enterprise feature set.
						</p>
					</header>
					<div class="column-row">
						<div class="column-33">
							<h3>
								<i class="fas fa-rocket icon-feature-inline"></i>High Performance
							</h3>
							<p>
								We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.
							</p>
							<p>
								<a href="network.html">Anycast Network<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-cloud icon-feature-inline"></i>Fully Redundant
							</h3>
							<p>
								Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy to keep your services online.
							</p>
							<p>
								<a href="network.html">Cloud Platform<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-shield-alt icon-feature-inline"></i>Secure Infrastructure
							</h3>
							<p>
								All datacenters are Tier 4 certified and provide advanced fire and intrusion protection combined with enterprise networking hardware.
							</p>
							<p>
								<a href="network.html">Global Datacenters<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
					<div class="column-row">
						<div class="column-33">
							<h3>
								<i class="fas fa-sync-alt icon-feature-inline"></i>Instant Activation
							</h3>
							<p>
								Your ordered product will be automatically and instantly activated as long as you are using a verified PayPal account for your purchase.
							</p>
							<p>
								<a href="home.html">Cloud Products<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-life-ring icon-feature-inline"></i>Dedicated Support
							</h3>
							<p>
								Our dedicated in-house support team is available 24/7 to answer all technical difficulties you may encounter with any of our products.
							</p>
							<p>
								<a href="contact.html">Support Portal<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<h3>
								<i class="fas fa-cog icon-feature-inline"></i>Powerful Automation
							</h3>
							<p>
								Our simple and intuitive developer API allows you to manage and extend existing products, as well as submitting new orders without interaction.
							</p>
							<p>
								<a href="features.html">Developer Guide<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							What Our Customers Say
						</h2>
						<p>
							We've helped hundreds of clients with custom server solutions, enabling them to operate much more efficient and secure than they ever did before.
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									My customers didn't experience a single minute of downtime since I moved my services over to Cloudhub.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Peter Miller</a><br>
									<small>Chemical Industries</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									Cloudhub helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>John Smith</a><br>
									<small>HQ Streaming Company</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									By switching to Cloudhub's Anycast DNS system we were able to decrease the worldwide app latency immensely.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Mary Fonda</a><br>
									<small>SAAS Billing Solutions</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Looking for a custom solution?
						</h2>
						<p>
							Our technicians can provide you with the best custom made solutions on the market, no matter whether you're a small business or large enterprise.<br><br>
							<a class="button button-secondary" href="contact.html">
								<i class="fas fa-envelope icon-left"></i>Get in touch
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>