<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cloudhub Hosting and Technology HTML Template</title>
		<meta name="description" content="Cloudhub is a modern, responsive and easy to customize HTML template, perfectly suited for hosting and technology companies.">
		<meta name="keywords" content="html template, responsive, retina, cloud hosting, technology, startup">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon.png">
		<link rel="icon" href="img/icons/favicon.ico">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<link rel="stylesheet" href="css/main.min.css">
	</head>
	<body class="footer-dark">
		<!-- Header -->
		<header id="header" class="header-dynamic header-shadow-scroll">
			<div class="container">
				<a class="logo" href="index.html">
					<img src="img/logos/header-light.png" alt="">
				</a>
				<nav>
					<ul class="nav-primary">
						<li>
							<a href="home.html">Products</a>
							<ul>
								<li>
									<a href="products-cloud-hosting.html">Cloud Hosting</a>
								</li>
								<li>
									<a href="products-cloud-servers.html">Cloud Servers</a>
									<ul>
										<li>
											<a href="products-developer-cloud.html">Developer Cloud</a>
										</li>
										<li>
											<a href="products-custom-cloud.html">Custom Cloud</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
								</li>
								<li>
									<a href="products-block-storage.html">Block Storage</a>
								</li>
								<li>
									<a href="products-anycast-dns.html">Anycast DNS</a>
								</li>
								<li>
									<a href="products-ssl-certificates.html">SSL Certificates</a>
								</li>
								<li>
									<a href="products-domain-names.html">Domain Names</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="features.html">Features</a>
							<ul>
								<li>
									<a href="index.html">Demos</a>
									<ul>
										<li>
											<a href="home.html">Default</a>
										</li>
										<li>
											<a href="home-large-slider.html">Large Slider</a>
										</li>
										<li>
											<a href="home-light-header.html">Light Header</a>
										</li>
										<li>
											<a href="home-single-page.html">Single Page</a>
										</li>
										<li>
											<a href="home-light-slider.html">Light Slider</a>
										</li>
										<li>
											<a href="home-product-slider.html">Product Slider</a>
										</li>
										<li>
											<a href="home-user-onboarding.html">User Onboarding</a>
										</li>
										<li>
											<a href="home-domain-search.html">Domain Search</a>
										</li>
										<li>
											<a href="home-custom-color.html">Custom Color</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="elements-other.html">Elements</a>
									<ul>
										<li>
											<a href="blog-sidebar.html">Blog Sidebar</a>
										</li>
										<li>
											<a href="elements-columns.html">Column Rows</a>
										</li>
										<li>
											<a href="elements-sliders.html">Content Sliders</a>
										</li>
										<li>
											<a href="elements-pricing.html">Pricing Options</a>
										</li>
										<li>
											<a href="elements-masonry.html">Masonry Grid</a>
										</li>
										<li>
											<a href="elements-forms.html">Form Inputs</a>
										</li>
										<li>
											<a href="elements-tabs.html">Tab Groups</a>
										</li>
										<li>
											<a href="elements-galleries.html">Galleries</a>
										</li>
										<li>
											<a href="elements-other.html">Other</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="network.html">Network</a>
						</li>
						<li>
							<a href="about.html">Company</a>
							<ul>
								<li>
									<a href="blog.html">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="button button-secondary" href="client-login.html">
								<i class="fas fa-lock icon-left"></i>Client Login
							</a>
						</li>
					</ul>
					<ul class="nav-secondary">
						<li>
							<a href="contact.html"><i class="fas fa-phone icon-left"></i>+1 800 123 456</a>
						</li>
						<li>
							<a href="contact.html"><i class="fas fa-comment icon-left"></i>Support Chat</a>
						</li>
						<li>
							<a href="knowledge-base.html"><i class="fas fa-question-circle icon-left"></i>Knowledge Base</a>
						</li>
						<li>
							<a href="service-status.html"><i class="fas fa-check icon-left"></i>Service Status</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
							Service Status
						</h1>
						<p>
							We continuously monitor our infrastructure and its related services.
						</p>
					</header>
					<div class="column-row align-center">
						<div class="column-66">
							<div class="tab-group tab-group-switch-style">
								<div class="tab-item" data-title="Primary Locations">
									<table class="table-layout-fixed">
										<thead>
											<tr>
												<th>Region</th>
												<th>Availability</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>CH-NYC-1</td>
												<td>99.95%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-NYC-2</td>
												<td>99.62%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-FRA-1</td>
												<td>100%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-FRA-2</td>
												<td>100%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-FRA-3</td>
												<td>99.97%</td>
												<td class="text-color-error">Peering Outage<i class="fas fa-exclamation-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-TKY-1</td>
												<td>100%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-TKY-2</td>
												<td>99.43%</td>
												<td class="text-color-warning">DDoS Attack<i class="fas fa-minus-circle icon-right"></i></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-item" data-title="Secondary Locations">
									<table class="table-layout-fixed">
										<thead>
											<tr>
												<th>Region</th>
												<th>Availability</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>CH-LDN-1</td>
												<td>99.99%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-SFA-1</td>
												<td>100%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-SFA-2</td>
												<td>99.98%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-SPA-1</td>
												<td>100%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-DAL-1</td>
												<td>99.91%</td>
												<td class="text-color-warning">High Latency<i class="fas fa-minus-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-LIS-1</td>
												<td>99.98%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
											<tr>
												<td>CH-SDY-1</td>
												<td>100%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="column-row align-center">
						<div class="column-50 text-align-center">
							<p>
								<small class="text-color-gray">Status updates and incident reports may be delayed up to 30 minutes depending on the technical issue at hand. Please scroll down for past incident reports.</small>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<div class="column-row align-center">
						<div class="column-66">
							<h3>
								Active Incidents
							</h3>
							<hr>
							<dl>
								<dt>October 6, 2017</dt>
								<dd>
									<p>
										<strong>CH-FRA-3 DTAG Peering Outage</strong><br>
										We're investigating an outage by our peering partner Deutsche Telekom.
									</p>
									<p>
										<strong>CH-TKY-2 Degraded Network Performance</strong><br>
										Our network is currently suffering a large DDoS attack impacting core services in our Tokyo Equinix facility. Mitigation in progress.
									</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<div class="column-row align-center">
						<div class="column-66">
							<h3>
								Past Incidents
							</h3>
							<hr>
							<dl>
								<dt>October 2, 2017</dt>
								<dd>
									<p>
										<strong>CH-LDN-1 High Latency</strong><br>
										We're investigating high latency at our London facility.<br>
										<small class="text-color-gray">Resolved at 23:05 UTC</small>
									</p>
								</dd>
								<dt>September 12, 2017</dt>
								<dd>
									<p>
										<strong>CH-SFA-2 HKIX Peering Outage</strong><br>
										We're investigating an outage by our peering partner HKIX.<br>
										<small class="text-color-gray">Resolved at 18:45 UTC</small>
									</p>
								</dd>
								<dt>September 8, 2017</dt>
								<dd>
									<p>
										<strong>CH-NYC-1 Network Maintenance</strong><br>
										The network maintenance has been completed.<br>
										<small class="text-color-gray">Completed at 21:30 UTC</small>
									</p>
								</dd>
								<dt>August 29, 2017</dt>
								<dd>
									<p>
										<strong>Client Portal Unavailable</strong><br>
										Access to the Client Portal has been fully restored. Thank you for your patience, we apologize for the inconvenience.<br>
										<small class="text-color-gray">Resolved at 07:12 UTC</small>
									</p>
								</dd>
								<dt>July 14, 2017</dt>
								<dd>
									<p>
										<strong>CH-SFA-1 Infrastructure Maintenance</strong><br>
										The infrastructure maintenance has been completed.<br>
										<small class="text-color-gray">Completed at 14:55 UTC</small>
									</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Want status updates?
						</h2>
						<p>
							Our engineers and developers are always doing their very best to monitor, maintain and update our infrastructure to ensure high performance and reliability.<br><br>
							<a class="button button-secondary" href="#subscribe-via-email">
								<i class="fas fa-envelope icon-left"></i>Subscribe via Email
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<section class="footer-primary">
				<div class="container">
					<div class="column-row">
						<div class="column-33">
							<h5>
								About Cloudhub
							</h5>
							<p>
								We provide cloud based enterprise hosting, server and storage solutions of unmatched quality. Feel free to visit or contact us for a custom quote.<br><br>
								765th Boulevard, Rochester, NY 14621<br>
								+1 800 123 456
							</p>
						</div>
						<div class="column-66">
							<div class="column-row align-right-top">
								<div class="column-25">
									<h5>
										Connect
									</h5>
									<ul class="list-style-icon">
										<li>
											<a href="#facebook"><i class="fab fa-facebook"></i>Facebook</a>
										</li>
										<li>
											<a href="#twitter"><i class="fab fa-twitter"></i>Twitter</a>
										</li>
										<li>
											<a href="#github"><i class="fab fa-github"></i>Github</a>
										</li>
										<li>
											<a href="#xing"><i class="fab fa-xing"></i>Xing</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Products
									</h5>
									<ul>
										<li>
											<a href="products-cloud-hosting.html">Cloud Hosting</a>
										</li>
										<li>
											<a href="products-cloud-servers.html">Cloud Servers</a>
										</li>
										<li>
											<a href="products-dedicated-cloud.html">Dedicated Cloud</a>
										</li>
										<li>
											<a href="products-block-storage.html">Block Storage</a>
										</li>
										<li>
											<a href="products-anycast-dns.html">Anycast DNS</a>
										</li>
									</ul>
								</div>
								<div class="column-25">
									<h5>
										Resources
									</h5>
									<ul>
										<li>
											<a href="features.html">Features</a>
										</li>
										<li>
											<a href="network.html">Network</a>
										</li>
										<li>
											<a href="terms-of-service.html#privacy-policy">Privacy Policy</a>
										</li>
										<li>
											<a href="terms-of-service.html">Terms of Service</a>
										</li>
									</ul>
								</div>
								<div class="column-flex">
									<h5>
										Company
									</h5>
									<ul>
										<li>
											<a href="blog.html">Blog</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-secondary">
				<div class="container">
					<p>
						Copyright 2017 &copy; Cloudhub Hosting Services. All rights reserved.<br>
						Powered by HTML5, developed by <a href="https://serifly.com">Serifly</a>
					</p>
				</div>
			</section>
		</footer>
		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/headroom.min.js"></script>
		<script src="js/js.cookie.min.js"></script>
		<script src="js/imagesloaded.min.js"></script>
		<script src="js/bricks.min.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>