body{font-family:"Poppins", sans-serif!important;}

.range_slider2_input .irs-single,
.range_slider2_input .irs--flat .irs-bar,
.slider_container_outer2 .btn-default
{background-color:#3f51b5;}

.slider_container_outer2 .price-box-section{background-color:#deebf3;}
.slider_container_outer2 .btn-default:hover{background-color:#2f3d4a!important;}

.range_slider2_input .irs-single:before{border-top-color:#3f51b5!important;}
.range_slider2_input .irs--flat .irs-line{border-color:#d7dfe3!important;}
.range_slider2_input .irs-grid-text,
.slider_container_outer2 ul li,
.slider_container_outer2 .price-setupfee .price_val
{color:#2f3d4a;}
.range_slider2_input .irs-grid-text:hover,
.slider_container_outer2 .smallbox .price_val
{color:#3f51b5}

.slider_container_outer2 .btn-default{border-color:#3f51b5;}
.slider_container_outer2 ul li{border-color:#2f3d4a}
.slider_container_outer2 .price-box-section{border-color:#c0d4df!important;}

.slider_container_outer2 .price-box-section .smallbox{border-color:#b3ccda!important;}

.range_slider2_input .irs--flat.irs-with-grid:before {content:"";position:absolute;left:0;height:12px;width:100%;top:46px;background-image:url(../images/ruler.png);transform:rotate(180deg)}
.range_slider2_input{padding:0 50px;}
.range_slider2_input .irs-single{font-size:16px;top:-35px;padding:10px 15px 7px;line-height:16px;font-family:"Poppins", sans-serif}
.range_slider2_input .irs-single:before{bottom:-14px;left:43%;border:7px solid transparent;}
.range_slider2_input .irs--flat .irs-line{height:20px;background:#ffffff;border:solid 1px;box-shadow:0 3px 7px 0 rgba(0,0,0,0.1)}
.range_slider2_input .irs--flat .irs-bar{height:20px;}
.range_slider2_input .irs--flat .irs-handle{top:14px;background-image:url(../images/handle-ui.png);height:40px;width:40px;background-repeat:no-repeat;cursor:pointer;border-radius:100%;border:solid 3px #3f51b5
}
.range_slider2_input .irs--flat .irs-handle>i:first-child{background-color:transparent;}
.range_slider2_input .irs-grid{bottom:-30px;}
.range_slider2_input .irs--flat .irs-min,
.range_slider2_input .irs--flat .irs-max{display:none}
.slider_container_outer2{padding-top:50px;}
.range_slider2_input .irs-grid-text{font-size:16px;font-weight:500;font-family:"Poppins", sans-serif;cursor:pointer}
.slider_container_outer2 .price_content{text-align:center}
.slider_container_outer2 ul{padding-left:0;float:left;width:100%;margin-top:30px;margin-bottom:20px;line-height:30px;}
.slider_container_outer2 ul li{list-style:none;font-size:16px;font-weigh:500;line-height:16px;padding:0 15px;text-align:center;display:inline-block;border-right:solid 1px}
.slider_container_outer2 ul li:last-of-type{border-right:none!important}
.slider_container_outer2 ul li strong{font-weight:400}
.slider_container_outer2 ul br{display:none}
.slider_container_outer2 .smallbox{text-align:center;float:left;width:100%;flex:1}
.slider_container_outer2 .smallbox .price_val{font-size:36px;font-weight:500;}
.slider_container_outer2 .smallbox small{font-size:16px;}
.slider_container_outer2 .price-setupfee{float:none!important;}
.slider_container_outer2 .btn-default{padding:18px 30px;color:#fff;font-size:16px;line-height:16px;}
.slider_container_outer2 .price-setupfee .price_val{font-size:24px;font-weight:500}
.slider_container_outer2 .price-box-section{display:flex;float:left;width:100%;padding:30px;margin-top:50px;margin-bottom:0;border-radius:6px;border-bottom:solid 1px;}
.slider_container_outer2 .price-box-section span{display:block;margin-top:5px;font-size:18px;}
.slider_container_outer2 .price-box-section .smallbox{font-size:18px;font-weight:500;border-right:solid 1px}
.slider_container_outer2 .price-box-section .smallbox:nth-last-child(2){border-right:none}
.slider_container_outer2 .price_txt.smallbox{margin-bottom:20px}
.slider_container_outer2 .order-button.unavailable{background-color:#b2b2b2;border-color:#b2b2b2;padding: 18px 30px;color: #fff;font-size:16px;line-height:16px;border-radius:6px;display:inline-block}
.irs--flat .irs-grid-pol{background-color:transparent}

@media screen and (max-width:767px){
    .slider_container_outer2 ul li,
    .slider_container_outer2 .price-box-section .smallbox
    {font-size:13px;}
    .slider_container_outer2 .price-box-section .smallbox{margin-top:0}
    .slider_container_outer2 .price-box-section
    {padding:20px 0;margin-top:40px;}
    .range_slider2_input {padding:0 20px;}
    .slider_container_outer2 .smallbox .price_val{font-size:24px}
    .slider_container_outer2 .price-setupfee .price_val{font-size:18px;}
    .slider_container_outer2 .btn-default,
    .slider_container_outer2 .unavailable
    {padding:10px 20px!important;}
    .range_slider2_input .irs-grid-text, .slider_container_outer2 .price-box-section span{font-size:14px;margin-top:0}
    .slider_container_outer2 ul{margin-top:20px;margin-bottom:10px;
    }
    .slider_container_outer2 ul li{line-height:20px;font-size:14px;width:100%;text-align:center;border-right:none;padding-left:0;padding-right:0}
    .range_slider2_input .irs-single{font-size:14px;padding:7px 15px 7px}
}
@media screen and (max-width:425px){
    .slider_container_outer2 .price-box-section .smallbox,
    .slider_container_outer2 .price-box-section span
    {font-size:10px;}
    .slider_container_outer2 ul li{font-size:12px;}
    .slider_container_outer2 .price_txt.smallbox{margin-bottom:10px;}
}

