<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Host Lab</title>
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/open-sans.css" rel="stylesheet">
    <link href="css/lato.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="img/favicon.ico" rel="shortcut icon">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
  </head>
  <body>
    <div class="loader"></div>
    <!-- 
    *******************
        HEADER    
    ******************* 
    -->
    <div class="main-header">
      <div class="container no-padding-sm">
        <div class="row">
          <div class="header-info">
            <div class="col-sm-6">
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                <img src="img/en-flag.png" width="18" alt="en"> English<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href=""><img src="img/es-flag.png" width="18" alt="es"> Español</a></li>
                  <li><a href=""><img src="img/de-flag.png" width="18" alt="de"> Deutsch</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                USD ($)&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="">EUR (€)</a></li>
                  <li><a href="">CNY (¥)</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="pull-right">
                <a class="phone" href="tel:+0000000000"> +0-345-222-1111</a>
                <a href="#">Support</a>
                <a href="#" data-toggle="modal" data-target="#mylogin">Login</a>
                <a href="cart.html" class="cart"> <i class="fa fa-shopping-cart"></i>0</a>
                <a href="register.html" class="cart"> <span class="btn xs">Get Started</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
        LOGIN   
    *******************
    -->
    <div class="modal" id="mylogin">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="http://inebur.com/hostlab/whmcs/dologin.php?goto=clientarea.php" method="post" class="login-form">
            <div class="row">
              <div class="col-sm-12">
                <div class="wrapper">
                  <h3 class="title"><i class="fa fa-lock"></i> Log in</h3>
                  <div class="subtitle">Access myHostlab area</div>
                  <input type="email" name="username" class="field"  placeholder="Primary Email" required>
                  <input type="password" name="password" class="field" placeholder="Password" required>
                  <button type="submit" class="btn btn-block">LOGIN</button> 
                  <label class="label-form"><input type="checkbox" class="btn-check">Remember me</label>
                  <a href="https://clearwaterhost.com/pwreset.php" class="link">Forgot my password</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- 
    ******************
        NAV MENU    
    ****************** 
    -->
    <div class="menu-wrap navigation-menu light">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 no-padding">
            <a href="index.html"><img src="img/logo-large.png" alt="logo" class="logo-menu"></a>
          </div>
          <div class="col-sm-9 col-lg-7 col-lg-offset-2 no-padding">
            <nav class="nav-menu">
              <button class="menu-toggle">
              <span class="icon"></span>
              <span class="icon"></span>
              <span class="icon"></span>
              </button>
              <ul class="main-menu">
                <li class="menu-item active menu-item-has-children">
                  <a href="index.html">Home</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="index.html">Home Layout 01</a></li>
                    <li class="menu-item"><a href="homepage-2.html">Home Layout o2</a></li>
                    <li class="menu-item"><a href="homepage-3.html">Home Layout 03</a></li>
                    <li class="menu-item"><a href="homepage-4.html">Home Layout 04</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="hosting.html">Hosting</a>
                  <div class="sub-menu menu-large">
                    <ul class="container no-padding">
                      <li class="service-list">
                        <div class="row">
                          <div class="col-sm-6 service">
                            <div class="media-left">
                              <i class="fa fa-diamond"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="hosting.html">Shared Hosting</a>
                              <p>Lorem ipsum dolor sit amet, ectetur.</p>
                            </div>
                          </div>
                          <div class="col-sm-6 service">
                            <div class="media-left">
                              <i class="fa fa-users"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="reseller.html">Reseller Hosting</a>
                              <p>Adipiscing integer act lacinia ed justo.</p>
                            </div>
                          </div>
                          <div class="col-sm-6 service">
                            <div class="media-left">
                              <i class="fa fa-cloud"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="cloud.html">Cloud VPS</a>
                              <p>Dolor sit amet conse adipiscing orci.</p>
                            </div>
                          </div>
                          <div class="col-sm-6 service">
                            <div class="media-left">
                              <i class="fa fa-server"></i>
                            </div>
                            <div class="media-body">
                              <a class="menu-item" href="servers.html">Dedicated Server</a>
                              <p>Tristique sit nunc non elit act ultricies.</p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="start-offer">
                        <div class="inner">
                          <div class="title">WordPress Hosting Plans</div>
                          <p>Fully Managed Wordpress Hosting</p>
                          <a href="wordpress.html" class="btn modern wordpress">See More Plans</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="domains.html">Domains</a>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="blog.html">Blog</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="blog.html">Blog Layout 01 </a></li>
                    <li class="menu-item"><a href="blog-2.html">Blog Layout 02</a></li>
                    <li class="menu-item"><a href="blog-single.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a href="about.html">Pages</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="about.html"> About Us</a></li>
                    <li class="menu-item"><a href="services.html">Services</a></li>
                    <li class="menu-item"><a href="team.html">Our Team</a></li>
                    <li class="menu-item"><a href="404.html">404</a></li>
                    <li class="menu-item"><a href="countdown.html">Coming Soon</a></li>
                    <li class="menu-item"><a href="register.html">Register</a></li>
                    <li class="menu-item"><a href="faq.html">Faq</a></li>
                    <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                    <li class="menu-item"><a href="#" data-toggle="modal" data-target="#mylogin">Login</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children"><a href="elements.html">Elements</a></li>
                <li class="menu-item menu-item-has-children menu-last"><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
        NAV MENU MOBILE  
    ******************* 
    -->
    <div class="menu-wrap mobile">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 no-padding">
            <a href="index.html"><img src="img/logo.png" alt="logo" class="logo-menu"></a>
          </div>
          <div class="col-sm-9 col-lg-7 col-lg-offset-2 no-padding">
            <nav class="nav-menu">
              <button class="menu-toggle">
              <span class="icon"></span>
              <span class="icon"></span>
              <span class="icon"></span>
              </button>
              <ul class="main-menu">
                <li class="menu-item active menu-item-has-children">
                  <a>Home</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="index.html">Home Layout 01</a></li>
                    <li class="menu-item"><a href="homepage-2.html">Home Layout o2</a></li>
                    <li class="menu-item"><a href="homepage-3.html">Home Layout 03</a></li>
                    <li class="menu-item"><a href="homepage-4.html">Home Layout 04</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>Hosting</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="hosting.html">Shared Hosting</a></li>
                    <li class="menu-item"><a href="reseller.html">Reseller Hosting</a></li>
                    <li class="menu-item"><a href="cloud.html">Cloud VPS</a></li>
                    <li class="menu-item"><a href="servers.html">Dedicated Server</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="domains.html">Domains</a>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>Blog</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="blog.html">Blog Layout 01 </a></li>
                    <li class="menu-item"><a href="blog-2.html">Blog Layout 02</a></li>
                    <li class="menu-item"><a href="blog-single.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a>Pages</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="about.html"> About Us</a></li>
                    <li class="menu-item"><a href="services.html">Services</a></li>
                    <li class="menu-item"><a href="team.html">Our Team</a></li>
                    <li class="menu-item"><a href="404.html">404</a></li>
                    <li class="menu-item"><a href="countdown.html">Coming Soon</a></li>
                    <li class="menu-item"><a href="register.html">Register</a></li>
                    <li class="menu-item"><a href="faq.html">Faq</a></li>
                    <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                    <li class="menu-item"><a href="cart.html">Cart</a></li>
                    <li class="menu-item"><a href="#" data-toggle="modal" data-target="#mylogin">Login</a></li>
                  </ul>
                </li>
                <li class="menu-item"><a href="elements.html">Elements</a></li>
                <li class="menu-item menu-last"><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
          SLIDER  
    *******************
    -->
    <div id="owl-demo" class="owl-carousel">
      <div class="full overlay item3">
        <div class="vc-parent">
          <div class="vc-child">
            <div class="top-banner top-classic">
              <div class="container no-padding-sm">
                <div class="box-container">
                  <h1 class="heading">Cloud VPS</h1>
                  <h3 class="subheading">Meticulously engineered for optimal performance</h3>
                  <a href="cloud.html" class="btn">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="full overlay item4">
        <div class="vc-parent">
          <div class="vc-child">
            <div class="top-banner top-classic">
              <div class="container no-padding-sm">
                <div class="box-container">
                  <h1 class="heading">Dedicated Server</h1>
                  <h3 class="subheading">For plenty of power and room to grow, go Dedicated and get the whole box to yourself</h3>
                  <a href="servers.html" class="btn">View Services</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <!-- 
    *******************
        SEARCH DOMAIN   
    ******************* 
    -->
    <div class="search-domain classic">
      <div class="container-fluid no-padding-sm">
        <form action="#" class="form-search">
          <div class="container no-padding-sm">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <label for="search" class="title">Find your perfect <br><span class="main-text">domain name:</span></label>
              </div>
              <div class="col-lg-7 col-md-5 col-sm-8 col-xs-12 no-padding-sm">
                <input type="text" class="field-search" name="search" id="search" placeholder="your perfect domain name or keywords...">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 text-xs-center">
                <button class="btn"><i class="fa fa-search"></i> Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- 
    *******************
        PRICING   
    ******************* 
    -->
    <div class="pricing classic">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-heading small-text">
              Which Plan Is Right For You
            </div>
            <div class="section-subheading small-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis ante sed dui semper consequat.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 no-padding">
            <div class="wrapper first">
              <i class="fa fa-diamond"></i>
              <div class="title">Shared Hosting</div>
              <div class="period">from only</div>
              <div class="price"><sup>$</sup>23.99</div>
              <div class="period">per month</div>
              <ul class="list-info">
                <li>90GB Disk Space</li>
                <li>500GB Bandwith</li>
                <li>35 Email Accounts</li>
              </ul>
              <a href="" class="btn">Order Now</a>
            </div>
          </div>
          <div class="col-sm-4 no-padding">
            <div class="wrapper active">
              <i class="fa fa-users"></i>
              <div class="title">Reseller Hosting</div>
              <div class="period">from only</div>
              <div class="price"><sup>$</sup>35.00</div>
              <div class="period">per month</div>
              <ul class="list-info">
                <li>60GB Disk Space</li>
                <li>25 Limited Accounts</li>
                <li>SSD 10x Higher Performance</li>
              </ul>
              <a href="" class="btn">Order Now</a>
            </div>
          </div>
          <div class="col-sm-4 no-padding">
            <div class="wrapper third">
              <i class="fa fa-cloud"></i>
              <div class="title">Cloud VPS</div>
              <div class="period">from only</div>
              <div class="price"><sup>$</sup>109.99</div>
              <div class="period">per month</div>
              <ul class="list-info">
                <li>4GB Memory</li>
                <li>60GB HDD RAID 10 SAN</li>
                <li>100Mbps Unlimited Traffic</li>
              </ul>
              <a href="" class="btn">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
       	SERVICES 
    *******************
    -->
    <div class="h-services">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-heading small-text">
              Our Services
            </div>
            <div class="section-subheading small-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis ante sed dui semper consequat.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="wrap-service">
              <i class="fa fa-wordpress"></i>
              <div class="heading">WordPress Hosting</div>
              <div class="text-info">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
              </div>
              <a href="" class="btn modern">View More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-service">
              <i class="fa fa-cog"></i>
              <div class="heading">Server Management</div>
              <div class="text-info">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
              </div>
              <a href="" class="btn modern">View More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-service">
              <i class="fa fa-cloud"></i>
              <div class="heading">Cloud Backups</div>
              <div class="text-info">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
              </div>
              <a href="" class="btn modern">View More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-service">
              <i class="fa fa-lock"></i>
              <div class="heading">SSL Certificated</div>
              <div class="text-info">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
              </div>
              <a href="" class="btn modern">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
      	TEAM
    ******************* 
    -->
    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-heading small-text">
              Our Amazing Team
            </div>
            <div class="section-subheading small-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis ante sed dui semper consequat.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="img-section">
                <img src="img/team01.jpg" alt="team" class="img-responsive">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-skype"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <h3 class="heading">Nathan</h3>
                <div class="subheading">CEO</div>
                <div class="desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="img-section">
                <img src="img/team02.jpg" alt="team" class="img-responsive">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-skype"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <h3 class="heading">Charles</h3>
                <div class="subheading">Developer</div>
                <div class="desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="img-section">
                <img src="img/team03.jpg" alt="team" class="img-responsive">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-skype"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <h3 class="heading">Olivia</h3>
                <div class="subheading">Support</div>
                <div class="desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="img-section">
                <img src="img/team04.jpg" alt="team" class="img-responsive">
                <div class="soc-icons-wrap">
                  <div class="icons">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-skype"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-info">
                <h3 class="heading">Christian</h3>
                <div class="subheading">Marketing</div>
                <div class="desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
      	FAQ
    ******************* 
    -->
    <div class="faq">
      <div class="container no-padding-sm">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-heading small-text">
              You Need Help - CHECK FAQ
            </div>
            <div class="section-subheading small-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis ante sed dui semper consequat.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="accordion faq">
              <div class="panel-wrap">
                <h3 class="panel-title">
                  <span class="square"><i class="fa fa-diamond"></i></span>
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus"></i>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum sit?
                </h3>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <h3 class="panel-title">
                  <span class="square"><i class="fa fa-users"></i></span>
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus"></i>
                  Aliquam eleifend a est quis porttitoreleifend a est?
                </h3>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <h3 class="panel-title">
                  <span class="square"><i class="fa fa-cloud"></i></span>
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus"></i>
                  Etiam sit amet pretium sapienipsum dolor sit ametlorem ipsum?
                </h3>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <h3 class="panel-title">
                  <span class="square"><i class="fa fa-server"></i></span>
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus"></i>
                  Nunc tortor nisi, interdum in vulputate vitae, pellentesque in nulla dolor sit amet?
                </h3>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list">
                        <li>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
      	TOP FOOTER
    ******************* 
    -->
    <div class="top-footer-info">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="top-content">
              <i class="fa fa-support"></i>
              <a href="#">Support <br> 24x7x365</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="top-content">
              <i class="fa fa-envelope"></i>
              <a href="#">Email <br>lab@lab.com</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="top-content">
              <i class="fa fa-phone"></i>
              <a href="#">Phone <br> +0-345-222-1111</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="top-content">
              <i class="fa fa-wechat"></i>
              <a href="#">Talk <br> Live Chat</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    *******************
      	FOOTER
    ******************* 
    -->
    <footer class="footer">
      <div class="container no-padding-sm">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="heading">Hosting</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="hosting.html">Shared Hosting</a></li>
                <li class="menu-item"><a href="reseller.html">Reseller Hosting</a></li>
                <li class="menu-item"><a href="cloud.html">Cloud VPS</a></li>
                <li class="menu-item"><a href="servers.html">Dedicated Server</a></li>
                <li class="menu-item"><a href="domains.html">Domains</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="heading">Company</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                <li class="menu-item"><a href="about.html">About Us</a> </li>
                <li class="menu-item"><a href="countdown.html">Countdown</a></li>
                <li class="menu-item"><a href="#">Knowledgebase</a></li>
                <li class="menu-item"><a href="#">Free Migration</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="heading">Suport</div>
              <ul class="footer-menu classic">
                <li class="menu-item"><a href="#" data-toggle="modal" data-target="#mylogin">Login</a> </li>
                <li class="menu-item"><a href="register.html">Get Satarted</a> </li>
                <li class="menu-item"><a href="">Free Migration</a></li>
                <li class="menu-item"><a href="blog.html">Knowledgebase</a></li>
                <li class="menu-item"><a href="domains.html">Legal</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6">
              <a><img src="img/logo-light.png" alt="logo"></a>
              <div class="copyrigh">©2017 Host Lab - All rights reserved.</div>
              <div class="social">Stay Connected</div>
              <div class="soc-icons">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a> 
                <a href=""><i class="fa fa-linkedin"></i></a>                      
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subcribe">
        <div class="container">
          <div class="row">
            <form action="#" class="form">
              <div class="col-md-9 col-sm-9 col-xs-12 no-padding-sm">
                <input type="email" name="email" placeholder="Enter your email" class="email-input">
              </div>
              <div class="col-sm-3  col-sm-3 col-xs-12  text-xs-center">
                <input type="submit" value="SUBMIT" class="btn">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 no-padding-sm">
            <div class="footer-bottom">
              <div class="container no-padding-sm">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="footer-menu">
                      <li class="menu-item"><a href="#">Legal</a></li>
                      <li class="menu-item"><a href="#">Sitemap</a></li>
                      <li class="menu-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="payment-list">
                      <li>
                        <p>Payments We Accept</p>
                      </li>
                      <li><i class="fa fa-cc-paypal"></i></li>
                      <li><i class="fa fa-cc-visa"></i></li>
                      <li><i class="fa fa-cc-mastercard"></i></li>
                      <li><i class="fa fa-credit-card"></i></li>
                      <li><i class="fa fa-cc-discover"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#0" class="cd-top"></a>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>