html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
    font-family: "Montserrat", sans-serif;
}

.btn {
    white-space: normal;
}

section {
    padding: 100px 0;
}

.navbar-default .navbar-brand,
.navbar-brand {
    color: #000 !important;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 700;
    height: 70px;
    line-height: 70px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.redX {
    color: #f01e4a;
}
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 15px;
}

.intro-section {
    padding: 150px 0;
}

.intro-section h1 {
    font-size: 50px;
}

.section-content .single-content {
    margin-bottom: 50px;
}

.thanks-section {
    background-color: #eee;
}

footer {
    background-color: #eee;
    border-top: 1px solid #ddd;
    padding: 30px 0;
}

footer p {
    margin: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
