<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

<title>Hostino</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostino">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="pages.html">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="about.html">About us</a></li>
                      <li><a href="webhosting.html">Web hosting plans</a></li>
                      <li><a href="domain.html">Domain names</a></li>
                      <li><a href="blog.html">Blog</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Support portal</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="signin-button" href="signin.html">Sign in</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title" title="Hostino">About us</div>
            </div>
        </div>
    </div>
</div>
<div id="about" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-details">
                    <div class="text-holder">
                        <h6>Lorem ipsum dolor.</h6>
                        <p>consectetur adipiscing elit, sed do<br>
eiusmod tempor incididunt ut.<br>
labore et dolore magna aliqua, Ut enim.<br>
quis nostrud exercitation ullamco<br>
cillum dolore eu fugiat.</p>
                        <i class="hno hno-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-holder">
        <div class="photo-slider">
            <div><img src="images/photo1.jpg" alt=""></div>
            <div><img src="images/photo2.jpg" alt=""></div>
            <div><img src="images/photo3.jpg" alt=""></div>
        </div>
    </div>
</div>
<div id="more-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">What makes Hostino the best choise for you?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="info-box">
                    <div class="info-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/info-icon1.png" alt="" /></div>
                    </div>
                    <div class="info-title">Share your message</div>
                    <div class="info-details">Lorem ipsum dolor sit amir anim amoe yosner dolner </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="info-box">
                    <div class="info-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/info-icon2.png" alt="" /></div>
                    </div>
                    <div class="info-title">Hit the moon with us</div>
                    <div class="info-details">Lorem ipsum dolor sit amir anim amoe yosner dolner </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="info-box">
                    <div class="info-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/info-icon3.png" alt="" /></div>
                    </div>
                    <div class="info-title">Secure new servers</div>
                    <div class="info-details">Lorem ipsum dolor sit amir anim amoe yosner dolner </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="info-box">
                    <div class="info-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/info-icon4.png" alt="" /></div>
                    </div>
                    <div class="info-title">Awward winning</div>
                    <div class="info-details">Lorem ipsum dolor sit amir anim amoe yosner dolner </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<div id="goals" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="text-slider">
                    <div class="slide" title="Our Mission">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.<br>
                            sed do eiusmod tempor incididunt ut labore.<br> quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                    <div class="slide" title="Our Vision">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.<br>
                            sed do eiusmod tempor incididunt ut labore.<br> quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                    <div class="slide" title="Our Goals">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.<br>
                            sed do eiusmod tempor incididunt ut labore.<br> quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="team" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title" title="Great people">Behind every great service, great people</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team1.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Chris Walker</div>
                    <div class="person-title">CEO & CO-Founder</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team2.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Jane Donald</div>
                    <div class="person-title">Client service</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team3.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">David Adams</div>
                    <div class="person-title">Server Admin</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team4.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Rose Masso</div>
                    <div class="person-title">Quality Assurance</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team5.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Travis Walker</div>
                    <div class="person-title">CO-Founder</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team6.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Bella Vayner</div>
                    <div class="person-title">Client service</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team7.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Mary Wilson</div>
                    <div class="person-title">Client service</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team8.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Craig Davids</div>
                    <div class="person-title">Web Master</div>
                    <div class="person-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bluebg-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">Ready to rock with Hostino,<br>
Register Today.</div>
                <a href="signup.html" class="white-button">Register</a>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="webhosting.html">Cloud Hosting</a></li>
                        <li><a href="webhosting.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Names</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Other links</h4>
                    <ul class="footer-menu">
                        <li><a href="portal.html">Customer Portal</a></li>
                        <li><a href="support.html">Support Portal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                    <div class="email"><i class="fa fa-envelope"></i> hello@hostino.io</div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i> 
                        <div>Bahrain, Manama<br>
                            Road 398, Block 125<br>
                            The City Avenue<br>
                            Office 38, floor 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social row">
            <div class="col-xs-2"><a href="#"><i class="fa fa-facebook"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-twitter"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-behance"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-dribbble"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-pinterest-p"></i></a></div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
