<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

<title>Hostino</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostino">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="pages.html">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="about.html">About us</a></li>
                      <li><a href="webhosting.html">Web hosting plans</a></li>
                      <li><a href="domain.html">Domain names</a></li>
                      <li><a href="blog.html">Blog</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Support portal</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="signin-button" href="signin.html">Sign in</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">Blog & News</div>
            </div>
        </div>
    </div>
</div>
<div id="recent-article" class="container-fluid">
    <div class="custom-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-holder"><img src="images/recent-article.jpg" alt=""></div>
            </div>
            <div class="col-md-6">
                <div class="article-summary">
                    <div class="article-title"><a href="post.html">Hostino New Office in Bahrain & Sydney</a></div>
                    <div class="article-date">28 Feb, 2017</div>
                    <div class="article-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </div>
                    <div class="article-links">
                        <div class="col-xs-6">
                            <div class="readmore-holder">
                                <a href="post.html" class="readmore-button">Read Full Article</a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="socialshare-holder">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="articles" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article1.jpg" alt="" /></div>
                    <div class="article-title"><a href="post.html">Hostino New Office in Bahrain & Sydney</a></div>
                    <div class="article-date">28 Feb, 2017</div>
                    <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                    </div>
                    <div class="article-links">
                        <div class="col-xs-6">
                            <div class="socialshare-holder">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="readmore-holder">
                                <a href="post.html" class="readmore-button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article2.jpg" alt="" /></div>
                    <div class="article-title"><a href="post.html">Hostino New Office in Bahrain & Sydney</a></div>
                    <div class="article-date">28 Feb, 2017</div>
                    <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                    </div>
                    <div class="article-links">
                        <div class="col-xs-6">
                            <div class="socialshare-holder">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="readmore-holder">
                                <a href="post.html" class="readmore-button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article3.jpg" alt="" /></div>
                    <div class="article-title"><a href="post.html">Hostino New Office in Bahrain & Sydney</a></div>
                    <div class="article-date">28 Feb, 2017</div>
                    <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                    </div>
                    <div class="article-links">
                        <div class="col-xs-6">
                            <div class="socialshare-holder">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="readmore-holder">
                                <a href="post.html" class="readmore-button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article4.jpg" alt="" /></div>
                    <div class="article-title"><a href="post.html">Hostino New Office in Bahrain & Sydney</a></div>
                    <div class="article-date">28 Feb, 2017</div>
                    <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                    </div>
                    <div class="article-links">
                        <div class="col-xs-6">
                            <div class="socialshare-holder">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="readmore-holder">
                                <a href="post.html" class="readmore-button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article6.jpg" alt="" /></div>
                    <div class="article-title"><a href="post.html">Hostino New Office in Bahrain & Sydney</a></div>
                    <div class="article-date">28 Feb, 2017</div>
                    <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                    </div>
                    <div class="article-links">
                        <div class="col-xs-6">
                            <div class="socialshare-holder">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="readmore-holder">
                                <a href="post.html" class="readmore-button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article1.jpg" alt="" /></div>
                    <div class="article-title"><a href="post.html">Hostino New Office in Bahrain & Sydney</a></div>
                    <div class="article-date">28 Feb, 2017</div>
                    <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                    </div>
                    <div class="article-links">
                        <div class="col-xs-6">
                            <div class="socialshare-holder">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="readmore-holder">
                                <a href="post.html" class="readmore-button">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pagination">
                    <span class="current page-number">1</span>
                    <a class="page-number" href="#">2</a>
                    <a class="next page-number" href="#">Next</a>
                </div>
            </div>
        </div>  
    </div>
</div>
<div id="greybg-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">Whant to write about us?<br>
Contact us today.</div>
                <a href="contact.html" class="white-less-shadow-button">Contact us</a>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="webhosting.html">Cloud Hosting</a></li>
                        <li><a href="webhosting.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Names</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Other links</h4>
                    <ul class="footer-menu">
                        <li><a href="portal.html">Customer Portal</a></li>
                        <li><a href="support.html">Support Portal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                    <div class="email"><i class="fa fa-envelope"></i> hello@hostino.io</div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i> 
                        <div>Bahrain, Manama<br>
                            Road 398, Block 125<br>
                            The City Avenue<br>
                            Office 38, floor 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social row">
            <div class="col-xs-2"><a href="#"><i class="fa fa-facebook"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-twitter"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-behance"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-dribbble"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-pinterest-p"></i></a></div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
