<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

<title>Hostino</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostino">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="pages.html">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="about.html">About us</a></li>
                      <li><a href="webhosting.html">Web hosting plans</a></li>
                      <li><a href="domain.html">Domain names</a></li>
                      <li><a href="blog.html">Blog</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Support portal</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="signin-button" href="signin.html">Sign in</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="domainsearch" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="domainsearch">
                    <div class="b-title">Find a personal or professional domain<br>
that stands out.</div>
                    <div class="domain-search-holder">
                        <form id="domain-search">
                            <input id="domain-text" type="text" name="domain" placeholder="Search a domain name here" />
                            <input id="search-btn" type="submit" name="submit" value="Search now" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="features" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">What you will get with domain names?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <i class="hno hno-locked-padlock"></i>
                    </div>
                    <div class="mfeature-title">Domain Lock</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="mfeature-box active">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <i class="hno hno-refresh"></i>
                    </div>
                    <div class="mfeature-title">Domain Renewal</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <i class="hno hno-domain-registration"></i>
                    </div>
                    <div class="mfeature-title">Easy Management</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
        </div>    
    </div>
</div>
<div id="domain-pricing" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">What you will get with domain names?</div>
            </div>
        </div>
        <div class="row domain-lists-holder">
            <div class="col-sm-4">
                <ul class="domain-list">
                    <li>
                        <div class="col-xs-6">.com</div>
                        <div class="col-xs-6">$12.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.club</div>
                        <div class="col-xs-6">$9.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.co</div>
                        <div class="col-xs-6">$12.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.space</div>
                        <div class="col-xs-6">$9.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.us</div>
                        <div class="col-xs-6">$5.95/yr*</div>
                    </li>
                    
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="domain-list">
                    <li>
                        <div class="col-xs-6">.org</div>
                        <div class="col-xs-6">$9.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.net</div>
                        <div class="col-xs-6">$10.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.me</div>
                        <div class="col-xs-6">$12.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.io</div>
                        <div class="col-xs-6">$19.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.co.uk</div>
                        <div class="col-xs-6">$5.95/yr*</div>
                    </li>
                    
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="domain-list">
                    <li>
                        <div class="col-xs-6">.info</div>
                        <div class="col-xs-6">$12.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.host</div>
                        <div class="col-xs-6">$9.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.online</div>
                        <div class="col-xs-6">$12.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.site</div>
                        <div class="col-xs-6">$9.95/yr*</div>
                    </li>
                    <li>
                        <div class="col-xs-6">.tech</div>
                        <div class="col-xs-6">$5.95/yr*</div>
                    </li>
                    
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                 <a href="signup.html" class="white-button">Start now</a>
            </div>
        </div>
    </div>
</div>
<div id="greybg-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">Ready to ask your first question?<br>
Need any help?</div>
                <a href="support.html" class="white-less-shadow-button">Support portal</a>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="webhosting.html">Cloud Hosting</a></li>
                        <li><a href="webhosting.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Names</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Other links</h4>
                    <ul class="footer-menu">
                        <li><a href="portal.html">Customer Portal</a></li>
                        <li><a href="support.html">Support Portal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                    <div class="email"><i class="fa fa-envelope"></i> hello@hostino.io</div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i> 
                        <div>Bahrain, Manama<br>
                            Road 398, Block 125<br>
                            The City Avenue<br>
                            Office 38, floor 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social row">
            <div class="col-xs-2"><a href="#"><i class="fa fa-facebook"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-twitter"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-behance"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-dribbble"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-pinterest-p"></i></a></div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
