<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

<title>Hostino</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostino">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="pages.html">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="about.html">About us</a></li>
                      <li><a href="webhosting.html">Web hosting plans</a></li>
                      <li><a href="domain.html">Domain names</a></li>
                      <li><a href="blog.html">Blog</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Support portal</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="signin-button" href="signin.html">Sign in</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="main-slider">
                    <div class="slide domainsearch-slide" title="Welcome !">
                        <div class="image-holder"><img src="images/bg1.png" alt="" /></div>
                        <div class="b-title">Find a personal or professional domain<br>
that stands out.</div>
                        <div class="domain-search-holder">
                            <form id="domain-search">
                                <input id="domain-text" type="text" name="domain" placeholder="Search a domain name here" />
                                <input id="search-btn" type="submit" name="submit" value="Search now" />
                            </form>
                        </div>
                    </div>
                    <div class="slide info-slide1" title="Features">
                        <div class="image-holder"><img src="images/main-slide-img1.png" alt="" /></div>
                        <div class="text-holder">Take your career to the next level<br>
Get your website today.</div>
                        <div class="button-holder"><a href="signup.html" class="blue-button">Sign up now</a></div>
                    </div>
                    <div class="slide info-slide2" title="Get started">
                        <div class="image-holder"><img src="images/main-slide-img2.png" alt="" /></div>
                        <div class="text-holder">Take your career to the next level<br>
Get your website today.</div>
                        <div class="button-holder"><a href="signup.html" class="blue-button">Sign up now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info" class="container-fluid">
    <canvas id="infobg" data-paper-resize="true"></canvas>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Regret-free choise<br>
The best of the best in all times!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="info-text">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</div>
                
                <a href="#" class="white-green-shadow-button">All Features</a>
            </div>
        </div>
    </div>
</div>
<div id="features" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">What makes Hostino the best choise for you?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="mfeature-title">Uptime 100%. Guaranteed.</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="mfeature-box active">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <i class="fa fa-ticket"></i>
                    </div>
                    <div class="mfeature-title">Readymade templates</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/clouds-light.png" alt="" /></div>
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <div class="mfeature-title">Amazing support</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="light-blue-button" href="#">About us</a>
            </div>
        </div>    
    </div>
</div>
<div id="pricing" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Our hosting plans. What suite you the best?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box pr-color1">
                    <div class="pricing-title" title="Starter">Starter</div>
                    <div class="pricing-box-body">
                        <div class="pricing-amount">
                            <div class="price">
                                <span class="currency">$</span><span class="amount">8.3</span>
                            </div>
                            <div class="duration">monthly</div>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li>Storage — 10 GB</li>
                                <li>Bandwidth ( Traffic ) — 15 GB</li>
                                <li>Domain name — Free!</li>
                                <li>Ram — 128 MB</li>
                                <li>Subdomains — 10 GB</li>
                                <li>Sharing data</li>
                                <li>Unlimited Email Account</li>
                                <li class="not-supported">Support 24/7</li>
                                <li class="not-supported">One Click Install</li>
                                <li class="not-supported">Private  SSL & IP</li>
                                <li class="not-supported">Free VoIP Phone Service</li>
                            </ul>
                        </div>
                        
                        <div class="pricing-button"><a href="#" class="pricing-button">Buy now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box pr-color2 recommended">
                    <div class="pricing-title" title="Advanced">Advanced</div>
                    <div class="pricing-box-body">
                        <div class="pricing-amount">
                            <div class="price">
                                <span class="currency">$</span><span class="amount">12.7</span>
                            </div>
                            <span class="duration">monthly</span>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li>Storage — 10 GB</li>
                                <li>Bandwidth ( Traffic ) — 15 GB</li>
                                <li>Domain name — Free!</li>
                                <li>Ram — 128 MB</li>
                                <li>Subdomains — 10 GB</li>
                                <li>Sharing data</li>
                                <li>Unlimited Email Account</li>
                                <li>Support 24/7</li>
                                <li>One Click Install</li>
                                <li class="not-supported">Private  SSL & IP</li>
                                <li class="not-supported">Free VoIP Phone Service</li>
                            </ul>
                        </div>
                        
                        <div class="pricing-button"><a href="#" class="pricing-button">Buy now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="pricing-box pr-color3">
                    <div class="pricing-title" title="Superb">Superb</div>
                    <div class="pricing-box-body">
                        <div class="pricing-amount">
                            <div class="price">
                                <span class="currency">$</span><span class="amount">46</span>
                            </div>
                            <span class="duration">monthly</span>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li>Storage — 10 GB</li>
                                <li>Bandwidth ( Traffic ) — 15 GB</li>
                                <li>Domain name — Free!</li>
                                <li>Ram — 128 MB</li>
                                <li>Subdomains — 10 GB</li>
                                <li>Sharing data</li>
                                <li>Unlimited Email Account</li>
                                <li>Support 24/7</li>
                                <li>One Click Install</li>
                                <li>Private  SSL & IP</li>
                                <li>Free VoIP Phone Service</li>
                            </ul>
                        </div>
                        
                        <div class="pricing-button"><a href="#" class="pricing-button">Buy now</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 link-holder">
                <a href="webhosting.html" class="link-with-arrow">View all plans</a>
            </div>
        </div>
    </div>
</div>
<div id="apps" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title" title="One-Click Install">+ The best applications on the web, with one click install.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="apps-holder">
                    <div class="apps-links-holder">
                        <div class="app-icon-holder app-icon-holder1 opened" data-id="1">
                            <div class="app-icon"><img src="images/wordpress.png" alt="wordpress"></div>
                            <div class="app-title">Wordpress</div>
                        </div>
                        <div class="app-icon-holder app-icon-holder2" data-id="2">
                            <div class="app-icon"><img src="images/joomla.png" alt="joomla"></div>
                            <div class="app-title">Joomla</div>
                        </div>
                        <div class="app-icon-holder app-icon-holder3" data-id="3">
                            <div class="app-icon"><img src="images/drupal.png" alt="drupal"></div>
                            <div class="app-title">Drupal</div>
                        </div>
                        <div class="app-icon-holder app-icon-holder4" data-id="4">
                            <div class="app-icon"><img src="images/magento.png" alt="magento"></div>
                            <div class="app-title">Magento</div>
                        </div>
                    </div>
                    <div class="apps-details-holder">
                        <div class="app-details">
                            <div class="app-details1 show-details">
                                <div class="app-title">Wordpress Hosting</div>
                                <div class="app-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                            <div class="app-details2">
                                <div class="app-title">Joomla Hosting</div>
                                <div class="app-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                            <div class="app-details3">
                                <div class="app-title">Drupal Hosting</div>
                                <div class="app-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
                            </div>
                            <div class="app-details4">
                                <div class="app-title">Magento Hosting</div>
                                <div class="app-text">emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, mo enim ipsam voluptatem quia voluptas sit.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="testimonials" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row-title" title="Testimonials">Testimonials</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="testimonials-slider">
                    <div>
                        <div class="details-holder">
                            <img class="photo" src="images/person1.jpg" alt="">
                            <h4>Chris Walker</h4>
                            <h5>CEO & CO-Founder @HelloBrandio</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas non ante non consequat. Aenean accumsan eros vel elit tristique, non sodales nunc luctus. Etiam vitae odio eget orci finibus auctor ut eget magna.</p>
                        </div>
                    </div>
                    <div>
                        <div class="details-holder">
                            <img class="photo" src="images/person2.jpg" alt="">
                            <h4>Chris Walker</h4>
                            <h5>CEO & CO-Founder @HelloBrandio</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas non ante non consequat. Aenean accumsan eros vel elit tristique, non sodales nunc luctus. Etiam vitae odio eget orci finibus auctor ut eget magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="more-features" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title" title="Great features">And more other great features</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/feature1.png" alt="" /></div>
                    </div>
                    <div class="mfeature-title">%99.9 Uptime</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/feature2.png" alt="" /></div>
                    </div>
                    <div class="mfeature-title">Domain Names</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/feature3.png" alt="" /></div>
                    </div>
                    <div class="mfeature-title">Envirmoent Friendly</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/feature4.png" alt="" /></div>
                    </div>
                    <div class="mfeature-title">Secure Servers</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/feature5.png" alt="" /></div>
                    </div>
                    <div class="mfeature-title">Page Builder</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mfeature-box">
                    <div class="mfeature-icon">
                        <div class="icon-bg"><img src="images/cloud-light.png" alt="" /></div>
                        <div class="icon-img"><img src="images/feature6.png" alt="" /></div>
                    </div>
                    <div class="mfeature-title">E-commerce Ready</div>
                    <div class="mfeature-details">Mauris at libero sed justo pretium maximus ac non ex. Donec sit amet ultrices dolo.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bluebg-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">Ready to rock with Hostino,<br>
Register Today.</div>
                <a href="signup.html" class="white-button">Register</a>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="webhosting.html">Cloud Hosting</a></li>
                        <li><a href="webhosting.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Names</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Other links</h4>
                    <ul class="footer-menu">
                        <li><a href="portal.html">Customer Portal</a></li>
                        <li><a href="support.html">Support Portal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                    <div class="email"><i class="fa fa-envelope"></i> hello@hostino.io</div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i> 
                        <div>Bahrain, Manama<br>
                            Road 398, Block 125<br>
                            The City Avenue<br>
                            Office 38, floor 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social row">
            <div class="col-xs-2"><a href="#"><i class="fa fa-facebook"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-twitter"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-behance"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-dribbble"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-pinterest-p"></i></a></div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/paper-full.min.js"></script>
<script type="text/paperscript" src="js/metaball.js" data-paper-canvas="infobg"></script>
<script src="js/main.js"></script>
</body>
</html>
