<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

<title>Hostino</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
        <div class="navbar-header">
            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostino">
            </a>
        </div>
        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="pages.html">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="about.html">About us</a></li>
                      <li><a href="webhosting.html">Web hosting plans</a></li>
                      <li><a href="domain.html">Domain names</a></li>
                      <li><a href="blog.html">Blog</a></li>
                    </ul>
                </li>
                <li><a href="support.html">Support portal</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a class="signin-button" href="signin.html">Sign in</a></li>
                <li><a class="chat-button" href="#">Chat now</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">Hostino New Office in Bahrain & Sydney</div>
            </div>
        </div>
    </div>
</div>
<div id="post-content" class="container-fluid">
    <div class="container">
        <div id="post-body" class="row">
            <div id="post-holder" class="col-md-9">
                <div id="post-1" class="post">
                    <div class="post-thumbnail">
                        <img src="images/post.jpg" class="post-image" alt="">			
                    </div>
                    <h4 class="post-title">Hostino New Office in Bahrain & Sydney</h4>		
                    <div class="meta">
                        <span class="view">10 Views</span><span class="like"><a href="#" class="like-btn">7 Like</a></span>		
                    </div>
                    <div class="post-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra orci a arcu consequat, et imperdiet lacus laoreet. Praesent at vulputate tellus. Aenean consectetur sodales nibh a egestas. Donec ligula quam, varius eget pharetra auctor, ornare eu ligula. Nunc in ultricies odio. Vivamus ullamcorper convallis convallis. Mauris in urna sed metus iaculis pretium sed porttitor velit. Mauris id mauris ac leo eleifend volutpat. Aliquam porttitor orci et eleifend sagittis. Proin placerat augue sit amet nisl pellentesque rhoncus. Etiam eget turpis finibus, faucibus augue at, rutrum nisi. Nam a magna eu odio condimentum congue. Vestibulum aliquet magna et metus finibus, eu tincidunt nunc sodales. Quisque tincidunt ipsum nec orci placerat, ultrices facilisis elit auctor. Pellentesque accumsan, erat sit amet dictum pharetra, ante mauris iaculis neque, eu varius lacus mi sit amet nunc.</p>
                    </div>
                </div>
                <div class="post-author">
                    <div class="row">
                        <div class="col-sm-2">
                            <img alt="" src="images/person1.jpg">		
                        </div>
                        <div class="col-sm-10">
                            <h3 class="name">John Doe</h3>
                            <p class="desc">Nunc in ultricies odio. Vivamus ullamcorper convallis convallis. Mauris in urna sed metus iaculis pretium sed porttitor velit. Mauris id mauris ac leo eleifend volutpat. Aliquam porttitor orci et eleifend sagittis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3">
                <div class="widget-area">
                    <div id="categories" class="widget">
                        <h3 class="widget-title">Categories</h3>
                        <div class="item">
                            <a href="#">Video<span>3</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Featured<span>10</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Gallery<span>9</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Quote<span>14</span></a>
                        </div>
                        <div class="item">
                            <a href="#">News<span>3</span></a>
                        </div>
                        <div class="item">
                            <a href="#">Uncategorized<span>10</span></a>
                        </div>
                    </div>

                    <div id="popular-posts" class="widget">
                        <h3 class="widget-title">Popular Posts</h3>				
                        <div class="item row">
                            <div class="thumb col-xs-3">
                                <img src="images/post.jpg" alt="">					
                            </div>
                            <div class="info col-xs-9">
                                <span class="date">January 21, 2016</span>
                                <span class="title">
                                    <a href="#">Mauris at libero sed justo pretium ...</a>
                                </span>
                            </div>
                        </div>
                        <div class="item row">
                            <div class="thumb col-xs-3">
                                <img src="images/post.jpg" alt="">					
                            </div>
                            <div class="info col-xs-9">
                                <span class="date">January 21, 2016</span>
                                <span class="title">
                                    <a href="#">Mauris at libero sed justo pretium ...</a>
                                </span>
                            </div>
                        </div>
                        <div class="item row">
                            <div class="thumb col-xs-3">
                                <img src="images/post.jpg" alt="">					
                            </div>
                            <div class="info col-xs-9">
                                <span class="date">January 21, 2016</span>
                                <span class="title">
                                    <a href="#">Mauris at libero sed justo pretium ...</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="tags" class="widget">
                        <h3 class="widget-title">Popular Tags</h3>
                        <div class="tags">
                            <a href="#" class="tag-link">actress</a>
                            <a href="#" class="tag-link">cinematographer</a>
                            <a href="#" class="tag-link">creative</a>
                            <a href="#" class="tag-link">designer</a>
                            <a href="#" class="tag-link">director</a>
                            <a href="#" class="tag-link">event</a>
                            <a href="#" class="tag-link">film</a>
                            <a href="#" class="tag-link">international</a>
                            <a href="#" class="tag-link">festival</a>
                            <a href="#" class="tag-link">national</a>
                            <a href="#" class="tag-link">produce</a>
                            <a href="#" class="tag-link">photographer</a>
                            <a href="#" class="tag-link">review</a>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Company</h4>
                    <ul class="footer-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="webhosting.html">Web Hosting</a></li>
                        <li><a href="webhosting.html">Cloud Hosting</a></li>
                        <li><a href="webhosting.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Names</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Other links</h4>
                    <ul class="footer-menu">
                        <li><a href="portal.html">Customer Portal</a></li>
                        <li><a href="support.html">Support Portal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fa fa-phone"></i> 00 285 900 38502</div>
                    <div class="email"><i class="fa fa-envelope"></i> hello@hostino.io</div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i> 
                        <div>Bahrain, Manama<br>
                            Road 398, Block 125<br>
                            The City Avenue<br>
                            Office 38, floor 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social row">
            <div class="col-xs-2"><a href="#"><i class="fa fa-facebook"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-twitter"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-behance"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-dribbble"></i></a></div>
            <div class="col-xs-2"><a href="#"><i class="fa fa-pinterest-p"></i></a></div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
