<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

<title>Hostino</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="fullpage">
<div id="mini-header" class="container-fluid signin">
    <div class="row">
        <div class="col-xs-6 col-sm-5 logo-holder">
            <a href="index.html">
                <img class="logo" src="images/logo.png" alt="Hostino">
            </a>
        </div>
        <div class="col-xs-6 col-sm-7 menu-holder">
            <ul class="main-links">
                <li><a class="normal-link" href="signup.html">Don’t have an account?</a></li>
                <li><a class="sign-button" href="signup.html">Sign up <i class="hno hno-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div id="form-section" class="container-fluid signin">
    <div class="row">
        <div class="col-sm-5 form-holder">
            <div class="signin-signup-form">
                <div class="form-title">Sign in to your account</div>
                <form id="signinform">
                    <div class="form-text">
                        <input type="text" name="username" placeholder="E-mail Address" required>
                    </div>
                    <div class="form-text">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-button">
                        <button id="submit" type="submit" class="btn btn-default">Sign in <i class="hno hno-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-7 info-slider-holder">
            <div class="img-text-slider">
                <div>
                    <img src="images/img-b1.png" alt="">
                    <p>Hadipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
                </div>
                <div>
                    <img src="images/img-b2.png" alt="">
                    <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
                </div>
                <div>
                    <img src="images/img-b3.png" alt="">
                    <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
