/*FONT COLORS*/

.color_ffffff,
.sidebar-nav li a:hover,
.sidebar-nav > .sidebar-brand a:hover,
.navbar-default .logo,
.header_content_right .top-nav #Secondary_Navbar-Account > a,
.header_content_right .top-nav > li > a,
.header_content_right .top-nav > li > a#languageChooser,
section#footer .back-to-top i,
#sidebar-wrapper .collapse ul > li > a:hover,
#sidebar-wrapper .collapse ul > li > a:active,
#sidebar-wrapper .collapse ul > li > a:focus,
#sidebar-wrapper .nav .open>a,
#sidebar-wrapper .nav .open>a:focus,
#sidebar-wrapper .nav .open>a:hover,
.tile .icon i:before,.tiles .tile,
.panel-sidebar .panel-title,
.panel-title a .fas,.sidebar .panel-title .fas,.sidebar .panel-title .far,
.client-home-panels .btn, .btn-warning,.status,
.status.status-pending,
.status.status-unpaid,.status.status-closed,
.status.status-customer-reply,
.sidebar .list-group-item .badge,
.panel-sidebar a.list-group-item.active i,.panel-sidebar a.list-group-item.active:focus i,
.panel-sidebar a.list-group-item.active:hover i, .domain-pricing-custom .col-sm-4.no-bg,
.domain-pricing .tld-pricing-header div,
.panel-default>.panel-heading,
section#home-banner h2,
.home-shortcuts li a i, .logincontainer .btn,
#order-standard_cart .panel-addon .panel-price,
#order-standard_cart .domain-selection-options .option .form-control-static,
#order-standard_cart .domain-selection-options .option-selected label,
.view-cart-tabs .btn.btn-block,
#order-standard_cart .btn-remove-from-cart:hover,
.suggested-domains .panel-heading,
#order-standard_cart .products .product header span,
#order-standard_cart .products .product .btn-success:hover
{
    color:#fff !important;
}

.color_3f51b5,.btn-link,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-info:hover,
.btn-info:focus,.btn-info:active,
.color_151f3a,
div.announcement-single h3 a,
.logincontainer .form-group label,
.tile .stat,
div.header-lined h1,
.color_3598db,
.header_content_right .top-nav #Secondary_Navbar-Account .dropdown-menu li a:hover,
.header_content_right .top-nav #Secondary_Navbar-Account .dropdown-menu li a:active,
.header_content_right .top-nav #Secondary_Navbar-Account .dropdown-menu li a:focus,
div.header-lined .breadcrumb>.active,
.tld_custom_box small,
div.announcement-single .label.label-warning,
.logincontainer .btn.btn-primary:hover,.logincontainer .btn.btn-primary:focus,.logincontainer .btn.btn-primary:active,
.logincontainer.with-social div.checkbox input[type=checkbox]:checked:before,
.suggested-domains .btn:not(.domain-contact-support):hover
{color:#3f51b5!important;}

.color_95a7b7,
.sidebar-nav li a,
#sidebar-wrapper .collapse ul li.dropdown .dropdown-menu li a,
.home-kb-search .fas,
.panel-title .fas,.panel-title .far,
.client-home-panels .btn,
.client-home-panels .btn:hover,
.client-home-panels .btn:focus,
.client-home-panels .btn:active,
.client-home-panels .btn:hover i,
.client-home-panels .btn:focus i,
.client-home-panels .btn:active i,
.logincontainer .btn.btn-default:hover,.logincontainer .btn.btn-default:focus,
.logincontainer .btn.btn-default:active,
#sidebar-wrapper .collapse > ul > li > a,
.panel-sidebar .list-group-item i:not(.fa-circle):not(.fa-dot-circle),
.catagory_box a i,.catagory_box a span.glyphicon,
.sidebar-nav > .sidebar-brand a,
.tile .title,
.home-shortcuts li a p
{
    color:#95a7b7!important;
}

a.list-group-item,button.list-group-item{color:#31373d}

#sidebar-wrapper .collapse ul li.dropdown .dropdown-menu li:hover a,
#sidebar-wrapper .collapse ul > li > .dropdown-menu a:active,
#sidebar-wrapper .collapse ul > li .dropdown-menu > a:focus,
.btn.btn-success:hover,.btn.btn-success:focus,.btn.btn-success:active
{color: #26c6da !important}

.client-home-panels .btn.bg-color-red:hover,
.client-home-panels .btn.bg-color-red:focus,
.client-home-panels .btn.bg-color-red:active,
.client-home-panels .btn.bg-color-red:hover i,
.client-home-panels .btn.bg-color-red:focus i,
.client-home-panels .btn.bg-color-red:active i,
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,
#order-standard_cart .btn-remove-from-cart
{
color:#fc4b6c!important;
}

/* BACKGROUND COLORS */

.background_ffffff,
#sidebar-wrapper,
.navbar-default .navbar-toggle .icon-bar,
section#footer,
#sidebar-wrapper .collapse ul li.dropdown .dropdown-menu,
.tiles .tile, div.header-lined,
.home-kb-search > .form-control,
.client-home-panels .panel.panel-default,
.tld-filters, .featured-tld,
.domain-pricing-custom,
.home-shortcuts li a,
.announcement-single,
.logincontainer,
#frmConfigureDomains,#frmCheckout,
#order-standard_cart .domain-selection-options .option,
#order-standard_cart .summary-container,
#order-standard_cart .view-cart-tabs .tab-content,
#order-standard_cart .view-cart-tabs .nav-tabs>li.active>a,
.default-box,
#order-standard_cart .view-cart-empty,
div.product-details div.product-icon,
div.product-details-tab-container,
.hostiko-product-detail
{
    background:#0a9479 !important;
}

.table-list>tbody>tr:hover>td,
.domain-pricing .tld-row:hover,
a.list-group-item:focus,a.list-group-item:hover,button.list-group-item:focus,button.list-group-item:hover,
.catagory_box,#frmConfigureDomains .form-group,
.header_content_right .top-nav #Se-Account .dropdown-menu li a:hover,
.table-list>tbody>tr:nth-child(even)>td,
.domain-pricing .tld-row.highlighted,
#order-standard_cart .view-cart-items .item:nth-child(even),
.bg-info
{background-color:#0a9479}


section#footer .back-to-top i,
.sidebar .list-group-item .badge,
#Primary_Sidebar-My_Services_Status_Filter-Suspended .badge,
.label-default, .logincontainer .btn.btn-default,
#order-standard_cart .panel-addon .panel-price,
#order-standard_cart .domain-selection-options .option-selected,
.navbar-toggle .icon-bar
{background-color:#0a9479;}

.domain-pricing-custom .col-sm-4.no-bg,.domain-pricing .tld-pricing-header div,
#order-standard_cart .view-cart-items-header,
.suggested-domains .panel-heading,
.navbar-default,
.hostiko-panel .panel-default .panel-heading,
.btn-primary,.btn-info,
.dataTables_wrapper .dataTables_info,
.panel-sidebar a.list-group-item.active,
.panel-sidebar a.list-group-item.active:focus,
.panel-sidebar a.list-group-item.active:hover,
section#home-banner,
#order-standard_cart .order-summary,
#order-standard_cart .products .product header,
#order-standard_cart .products .product .btn-success,
#order-standard_cart .products .product .btn-success:hover,
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover,
.bg-color-blue,
.domain-checker-container,
#Primary_Sidebar-My_Services_Status_Filter-Cancelled .badge,
#Primary_Sidebar-My_Invoices_Status_Filter-Cancelled .badge,
.label-default[href]:focus,.label-default[href]:hover,
.logincontainer .btn.btn-primary,
#order-standard_cart .panel-addon .panel-add,
.view-cart-tabs .btn.btn-block,
.suggested-domains .btn:not(.domain-contact-support),
.bg-color-asbestos,
.status.status-customer-reply,
#Primary_Sidebar-My_Services_Status_Filter-Pending .badge,
#Primary_Sidebar-My_Domains_Status_Filter-clientareapending .badge,
#Primary_Sidebar-My_Invoices_Status_Filter-Refunded .badge,
.tile .icon,.home-shortcuts li a i,
.panel-default>.panel-heading
{background-color:#0a9479 !important;}



.header_content_right .top-nav > li > a#accountNotifications .label-info,
.btn.btn-success,.status,
#Primary_Sidebar-My_Domains_Status_Filter-clientareaactive .badge,
#Primary_Sidebar-My_Services_Status_Filter-Active .badge,
#Primary_Sidebar-My_Invoices_Status_Filter-Paid .badge,
.spotlight-tld .btn:not(.domain-contact-support),
.label-success, div.announcement-single .label,
#sidebar-wrapper .collapse ul > li > a:hover,
#sidebar-wrapper .collapse ul > li > a:active,
#sidebar-wrapper .collapse ul > li > a:focus,
#sidebar-wrapper .nav .open>a,
#sidebar-wrapper .nav .open>a:focus,
#sidebar-wrapper .nav .open>a:hover,
section#home-banner .btn.search
{
background-color:#0a9479;
}

.label-success[href]:focus,.label-success[href]:hover{background-color:#0a9479}

.tiles .tile.domains-box .icon,
.tiles .tile.quotes-box,
.home-shortcuts li:nth-child(2) a i,
.product-status-pending,
.bg-color-gold
{background-color:#0a9479!important;}


.panel-sidebar>.panel-heading
{background-color:#0a9479;}

.bg-color-red,
.btn-warning,
.status.status-unpaid,.status.status-closed,
#Primary_Sidebar-My_Services_Status_Filter-Terminated .badge,
#Primary_Sidebar-My_Domains_Status_Filter-clientareaexpired .badge,
#Primary_Sidebar-My_Invoices_Status_Filter-Unpaid .badge,
.tld-sale-group-hot,
#order-standard_cart .empty-cart .btn,
#order-standard_cart .btn-remove-from-cart:hover,
.status.status-pending,
.home-shortcuts li:nth-child(4) a i,
section#home-banner .btn.transfer
{background-color:#0a9479!important}

.tiles .tile.tickets-box .icon,
.home-shortcuts li:nth-child(3) a i
{background-color:#0a9479 !important;}


/* BORDERS COLORS */


.border_607d8b,
#sidebar-wrapper .collapse > ul > li > a .caret
{
border-color:#607d8b;
}

#sidebar-wrapper .collapse > ul > li.open > a .caret,
#sidebar-wrapper .collapse > ul > li > a:hover .caret
{border-color:#ffffff}

.tiles .tile,
div.header-lined,
.home-kb-search > .form-control,
.panel-sidebar,
#order-standard_cart .products .product,
.domain-checker-bg, .tld-filters,
.featured-tld,.panel, .home-shortcuts li a,
.announcement-single, .logincontainer,
.logincontainer .header-lined h1,
.default-box, .product-status,
.hostiko-product-detail
{border-color:#d7dfe3 !important;}

.logincontainer .form-control,
.logincontainer.with-social .login-form
{border-color:#d1dde6;}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,
.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th,
#order-standard_cart .view-cart-items .item:nth-child(even)
{border:#e5e5e5 !important;}

.client-home-panels .btn,
.logincontainer .btn.btn-default{
    border: 2px solid #95a7b7 !important;
}

.client-home-panels .btn.bg-color-red,
.client-home-panels .btn.bg-color-red:hover,
.client-home-panels .btn.bg-color-red:focus,
.client-home-panels .btn.bg-color-red:active,
.btn-warning, .status.status-unpaid, .status.status-closed,
#order-standard_cart .view-cart-items,
#order-standard_cart .btn-remove-from-cart
{
    border-color: #e84c3d !important
}

.btn.btn-success,
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active,
.dataTables_wrapper table.table-list thead th,
.status, .spotlight-tld .btn:not(.domain-contact-support){
    border-color: #1abc9c !important;
}

.btn-primary, .btn-info,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-info:hover, .btn-info:focus,
.btn-info:active,
.panel-sidebar a.list-group-item.active,
.panel-sidebar a.list-group-item.active:focus,
.panel-default>.panel-heading,
#order-standard_cart .order-summary,
#order-standard_cart .products .product .btn-success,
#order-standard_cart .products .product .btn-success:hover,
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover
{
    border-color: #3f51b5 !important;
}

.logincontainer .btn.btn-primary,
.logincontainer.with-social div.checkbox input[type=checkbox],
.view-cart-tabs .btn.btn-block,
.suggested-domains .btn:not(.domain-contact-support)
{border-color:#3598db !important;}

.dataTables_wrapper table.table-list thead th:nth-child(even) {
    border: #048067
}

.status.status-pending {
    border-color: #fc4b6c;
}

.status.status-customer-reply{
    border-color:#9a59b5;
}

.home-shortcuts li a{border-color:#eee}

.suggested-domains .panel-heading{border-color:#151f3a!important;}

@media screen and (max-width: 1199px) {
    .header_content_right{background:#3f51b5}
    .navbar-default .navbar-header{background:#337ab7}}