	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/03/2016 12:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrow-1:before { content: "\f101"; }
.flaticon-arrow-2:before { content: "\f102"; }
.flaticon-arrow-3:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-arrows-1:before { content: "\f105"; }
.flaticon-arrows-2:before { content: "\f106"; }
.flaticon-black:before { content: "\f107"; }
.flaticon-book:before { content: "\f108"; }
.flaticon-cellphone:before { content: "\f109"; }
.flaticon-computer:before { content: "\f10a"; }
.flaticon-computer-1:before { content: "\f10b"; }
.flaticon-computer-2:before { content: "\f10c"; }
.flaticon-computer-3:before { content: "\f10d"; }
.flaticon-computer-4:before { content: "\f10e"; }
.flaticon-connection:before { content: "\f10f"; }
.flaticon-connection-1:before { content: "\f110"; }
.flaticon-connection-2:before { content: "\f111"; }
.flaticon-connection-3:before { content: "\f112"; }
.flaticon-connection-4:before { content: "\f113"; }
.flaticon-connection-5:before { content: "\f114"; }
.flaticon-internet:before { content: "\f115"; }
.flaticon-internet-1:before { content: "\f116"; }
.flaticon-internet-2:before { content: "\f117"; }
.flaticon-internet-3:before { content: "\f118"; }
.flaticon-internet-4:before { content: "\f119"; }
.flaticon-internet-5:before { content: "\f11a"; }
.flaticon-internet-6:before { content: "\f11b"; }
.flaticon-internet-7:before { content: "\f11c"; }
.flaticon-internet-8:before { content: "\f11d"; }
.flaticon-internet-9:before { content: "\f11e"; }
.flaticon-link:before { content: "\f11f"; }
.flaticon-location:before { content: "\f120"; }
.flaticon-mark:before { content: "\f121"; }
.flaticon-phone:before { content: "\f122"; }
.flaticon-shapes:before { content: "\f123"; }
.flaticon-shield:before { content: "\f124"; }
.flaticon-shield-1:before { content: "\f125"; }
.flaticon-technology:before { content: "\f126"; }
.flaticon-three:before { content: "\f127"; }
.flaticon-tool:before { content: "\f128"; }
.flaticon-tool-1:before { content: "\f129"; }
.flaticon-tool-2:before { content: "\f12a"; }
.flaticon-two:before { content: "\f12b"; }
.flaticon-upload:before { content: "\f12c"; }
.flaticon-upload-1:before { content: "\f12d"; }
.flaticon-upload-2:before { content: "\f12e"; }
.flaticon-upload-3:before { content: "\f12f"; }